Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

video player issue fix for long video
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
Owners: @pratham-project-admin

Updated logic to generate payload on submission
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

Added user-map functionality with revamp changes for mobilizer
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib-v2/src/utils/helper.ts
Owners: @admin-app-owners, @core-team

Edit mobilizer flow
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
Owners: @admin-app-owners

Issue feat: Add reset password flow for lap
  apps/admin-app-repo/src/components/PasswordCreate.tsx
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/pages/edit-password.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/services/LoginService.ts
  apps/admin-app-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners

Issue feat: Filter null tasks from userProjectDetailsResponse for course planner
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Issue feat: PLP Web App: Update 'About Pratham Learning Platform' content
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

player iframe issue solved
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

update pr: Add fixes for new learner form changes from backend
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Added Reassign flow for mobilizer in lap
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: Added role id from config file
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat:In course planner only one medium one grade under board it should auto select and add username for survey menu list learner
  apps/admin-app-repo/src/pages/subjectDetails.tsx
  mfes/scp-teacher-repo/src/components/observations/Entity.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

facilitator list page view
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

update ppr: add own phone check codition only when formdata content that field
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue feat: Add conset form visiblity according to langauge selection
  apps/learner-web-app/public/files/consent_form_above_18_assamese.pdf
  apps/learner-web-app/public/files/consent_form_above_18_bengali.pdf
  apps/learner-web-app/public/files/consent_form_above_18_english.pdf
  apps/learner-web-app/public/files/consent_form_above_18_gujarati.pdf
  apps/learner-web-app/public/files/consent_form_above_18_hindi_new.pdf
  apps/learner-web-app/public/files/consent_form_above_18_kannada.pdf
  apps/learner-web-app/public/files/consent_form_above_18_marathi.pdf
  apps/learner-web-app/public/files/consent_form_above_18_odia.pdf
  apps/learner-web-app/public/files/consent_form_above_18_tamil.pdf
  apps/learner-web-app/public/files/consent_form_above_18_telugu.pdf
  apps/learner-web-app/public/files/consent_form_above_18_urdu.pdf
  apps/learner-web-app/public/files/consent_form_below_18_assamese.pdf
  apps/learner-web-app/public/files/consent_form_below_18_bengali.pdf
  apps/learner-web-app/public/files/consent_form_below_18_english.pdf
  apps/learner-web-app/public/files/consent_form_below_18_gujarati.pdf
  apps/learner-web-app/public/files/consent_form_below_18_hindi_new.pdf
  apps/learner-web-app/public/files/consent_form_below_18_kannada.pdf
  apps/learner-web-app/public/files/consent_form_below_18_marathi.pdf
  apps/learner-web-app/public/files/consent_form_below_18_odia.pdf
  apps/learner-web-app/public/files/consent_form_below_18_tamil.pdf
  apps/learner-web-app/public/files/consent_form_below_18_telugu.pdf
  apps/learner-web-app/public/files/consent_form_below_18_urdu.pdf
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added revamp mobilizer creation flow in lmp
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @core-team, @pratham-project-admin

Issue #PS-000 chore: Added multiple cohort support for dashboard view
  mfes/youthNet/src/pages/index.tsx
Owners: @pratham-project-admin

video player issue with content download button hide
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Issue feat: Resolve edit form issues
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

update pr : reset course planner filter when change menu
  apps/admin-app-repo/src/pages/subjectDetails.tsx
Owners: @admin-app-owners

Issue feat:Make consent for viewer changes on lmp plp profile and form
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/teachers/public/locales/en/common.json
  libs/shared-lib-v2/src/DynamicForm/components/DocumentViewer/DocumentViewer.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomFileUpload.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin, @teacher-app-owners, @core-team

Issue feat: order course planner resourse list
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/resourceList.tsx
  mfes/scp-teacher-repo/src/pages/topic-detail-view.tsx
Owners: @admin-app-owners, @pratham-project-admin

Added Reassign flow in lmp for mobilizer
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @core-team, @pratham-project-admin

Added loader for mentor list load
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Added edit mobilizer functionality
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Hidden view batch open for other programs ecept SCP
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Replaced Add New with Map New
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Fixed center creation issue with incomplete catchment area
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
Owners: @admin-app-owners, @core-team

Issue fixes
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue #PS-000 chore: Fixed village load issue in reassign mobilizer flow
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

Fixed ui issue
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

facilitato rlist in lmp
  libs/shared-lib-v2/src/DynamicForm/services/CreateUserService.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @core-team, @pratham-project-admin

facilitator added
  apps/teachers/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @teacher-app-owners, @pratham-project-admin

Issue #PS-000 chore: Added center dropdown for youthnet dashboard
  mfes/youthNet/src/pages/index.tsx
Owners: @pratham-project-admin

required handle from backend
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Added language constant
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Issue feat:Program Specific Registration URL Display on LAP and LMP
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Resolve comment
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Revamped Reactivate user functionality in lap for mobilizer
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @admin-app-owners, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
