Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

fix: POS individual player link for program page content
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
Owners: @pratham-project-admin

fix:pos sub menu issue
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Underline the text functinality implementation
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/context/UnderlineLinksContext.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Made changes for remote center
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Fixed reset password button issue
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 bug: Fixed tenantId in payload for FL list issue
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/src/app/color-inversion-demo/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/context/ColorInversionContext.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Issue feat: Add faqs section and pdf rendering according to language selection both teacher and admin
  apps/admin-app-repo/public/files/consent_form_above_18_hindi.pdf
  apps/admin-app-repo/public/files/consent_form_below_18_hindi.pdf
  apps/admin-app-repo/public/images/faqs.png
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/PDFViewerWithLanguage/PDFViewerWithLanguage.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/faqs/index.tsx
  apps/teachers/public/locales/en/common.json
  mfes/scp-teacher-repo/public/files/consent_form_above_18_hindi.pdf
  mfes/scp-teacher-repo/public/files/consent_form_below_18_hindi.pdf
  mfes/scp-teacher-repo/public/images/faqs.png
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/assets/images/faqs.png
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/components/PDFViewerWithLanguage/PDFViewerWithLanguage.tsx
  mfes/scp-teacher-repo/src/pages/faqs/index.tsx
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

update pr
  mfes/scp-teacher-repo/public/images/faqs.png
Owners: @pratham-project-admin

Issue #PS-000 chore: Resolved preselected batch issue for reassign batch flow
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Underline the text functinality implementation
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/public/images/PrathamLogowhite.png
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

fix: dependent options in static filters and title tooltip
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeakableText.tsx
Owners: @core-team

Issue feat:Add username already exist api integration and UI changes
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  mfes/survey-observations/src/Components/EntryContent/EntryContent.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  apps/learner-web-app/public/images/pradigi-white.png
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
Owners: @pratham-project-admin

fix:YouthNet bugs resove
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
Owners: @pratham-project-admin, @core-team

Underline the text functinality implementation
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

fix: filter show more/less on field labels and breadcrumb showing last link on mobile
  mfes/content/src/components/BreadCrumb.tsx
Owners: @pratham-project-admin

Add translation
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Issue feat: Add faqs and remove is volunteer from edit and complete profile
  apps/learner-web-app/src/app/faqs/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/PDFViewerWithLanguage/PDFViewerWithLanguage.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat:Resolve dynamic form translation isssue
  apps/admin-app-repo/src/pages/_app.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

Issue feat: Hide bydeafault submit button for mentor and mentor lead form
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/mentor.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/mentor.tsx
Owners: @admin-app-owners

Issue feat:Add google docs file for faqs in admn, lerner and teacher app
  apps/admin-app-repo/public/files/consent_form_above_18_hindi.pdf
  apps/admin-app-repo/public/files/consent_form_below_18_hindi.pdf
  apps/admin-app-repo/public/images/live_help.png
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/GoogleDocViewer/GoogleDocViewer.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/faqs/index.tsx
  apps/learner-web-app/src/app/faqs/page.tsx
  apps/learner-web-app/src/components/GoogleDocViewer/GoogleDocViewer.tsx
  apps/learner-web-app/src/components/PDFViewerWithLanguage/PDFViewerWithLanguage.tsx
  apps/teachers/public/locales/en/common.json
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/public/files/consent_form_above_18_hindi.pdf
  mfes/scp-teacher-repo/public/files/consent_form_below_18_hindi.pdf
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/assets/images/live_help.png
  mfes/scp-teacher-repo/src/components/GoogleDocViewer/GoogleDocViewer.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/faqs/index.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

Fix: Separate chip component for filters with multiple selection support.
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

Issue feat:Add from translation in sharelib
  apps/admin-app-repo/src/config/menuConfig.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/forget-password/src/app/account-selection/AccountSelection.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Fix: Remove unwanted filter values based on available options.
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-000 chore: UI for ne course planner
  apps/admin-app-repo/public/images/downloadIcon.svg
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/AddNewTopic.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Remote Batch changes
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Fix: In-progress carousel mobile UI
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin

Updated translation file
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue feat: dynamc form import
  apps/teachers/next.config.mjs
  apps/teachers/src/pages/_app.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/pages/_app.tsx
  mfes/scp-teacher-repo/tsconfig.json
  tsconfig.base.json
Owners: @teacher-app-owners, @pratham-project-admin

fix:foolter link
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
