Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

issue fix try 1
  ecosystem.admin-app-repo.config.js
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

pm2 version downgrade
  Dockerfile.admin-app-repo
  ecosystem.admin-app-repo.config.js
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

pm2 version downgrade
  Dockerfile.learner-web-app
  Dockerfile.teachers
Owners: @pratham-project-admin

Issue feat: Add missing tenant id for header for tracking apies
  apps/admin-app-repo/src/services/CertificateService/coursesCertificates.ts
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
  mfes/content/src/services/TrackingService.ts
  mfes/players/src/services/PlayerService.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: Clear localstorage item learnerCourseFilters when menu changes from pos
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat:Change payload by search by firstname to name
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/UserTable.tsx
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: add required family member field
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue feat:Ability to Unmark Youth from Volunteer
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/UnmarkAsVolunteer.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/UserCard.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/utils/app.config.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  mfes/youthNet/public/locales/en/common.json
Owners: @pratham-project-admin

Issue feat: Add check for already added required array for family type
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: Youthnet feedbacks
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/youthNet/Profile.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue feat:Simplify Password Rules for Learner Registration and fix ui issues
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/authentication/src/pages/login.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

sso test
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
Owners: @pratham-project-admin, @core-team

Issue feat: Resolve Assessment view issue for mobile mode
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
Owners: @pratham-project-admin

Issue feat: Add reason signup for resebd otp
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

Issue feat:Allow programs to login in plp with dynamic landing page from ui config
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Ps-5455 feat: Center and Batch view enhancement on LAP
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/BatchSearchNew.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue #PS-updated language constant and field sequence for batch search
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/src/constant/Forms/BatchSearchNew.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Update the checklist
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Updated collection editor version
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

sso login
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  apps/learner-web-app/src/utils/helper.ts
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

Build issue
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

Issue feat: second chance pos content and title issue
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

updated pr
  apps/learner-web-app/src/app/pos/program/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/pos/program/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
Owners: @pratham-project-admin, @core-team

updated pr
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

update pr for sso
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/utils/app.constant.ts
Owners: @pratham-project-admin

Issuefeat:pos total content count, central admin exit , profile certificate list issue
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

android app check deeplink create
  apps/learner-web-app/src/app/cmslink/page.tsx
Owners: @pratham-project-admin

Issue feat: updatepr
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: build issue
  mfes/forget-password/src/Components/ForgotPasswordComponent/ForgotPasswordComponent.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/forget-password/src/app/layout.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/public/locales/en/common.json
Owners: @pratham-project-admin

Issue feat:Remove the completed status from the profile filter. Also, ensure that if the certificateId is null, it is not displayed in the profile.
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

multi tenant and multi role added
  Unit_Testing_Guide_NX_Jest_Frontend.html
  Unit_Testing_Guide_NX_Jest_Frontend.md
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/README.md
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/SwitchAccount/example-usage.tsx
  libs/shared-lib-v2/src/SwitchAccount/index.ts
Owners: @pratham-project-admin, @admin-app-owners, @teacher-app-owners, @core-team

Issue feat: pos mimetype content
  apps/learner-web-app/next.config.js
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/RouteGuard.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/central-head.tsx
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
