Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Fixed status update issue
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

Fixed status issue for manual assessment on image reupload
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue feat: Enable faq and support request to scta and ccta..filter retired board from lmp and lap Fix filter delete popup center name issue
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/edit-password.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/workspace/src/components/SideBar.tsx
Owners: @admin-app-owners, @pratham-project-admin

set landing page for registration
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

Fixed sorting issue
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

backup
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

POS title changes
  .gitignore
  apps/learner-web-app/src/components/pos/AboutUs.tsx
Owners: @pratham-project-admin

POS changes
  apps/learner-web-app/src/components/pos/AboutUs.tsx
Owners: @pratham-project-admin

apps/learner-web-app/src/components/pos/AboutUs.tsx
  apps/learner-web-app/src/components/pos/AboutUs.tsx
Owners: @pratham-project-admin

Issue feat:The feature for downloading CSV files in Curriculum Planner
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue feat: New registration flow changes
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue #PS-5648 chore: Display only accessible tenants as per domain
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

Issue #PS-5675 chore: Fixed UI issue for image rendering as question in manual-assessments
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Fixed UI issues
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Fixed language constant issue in ai-assessment
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
Owners: @pratham-project-admin

Fixed UI issue
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Added zoom functionality for questions in manual-assessments
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Added language constant
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

multiselect component in type feature added
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/MasterVillageSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterBlockSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/learner-web-app/src/components/CohortSearch.js
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

Issue #PS-5579 fix: Added ability to check checbox on label click during content publish
  mfes/workspace/src/components/ConfirmActionPopup.tsx
Owners: @pratham-project-admin

Fixed UI issues
  mfes/workspace/src/components/ConfirmActionPopup.tsx
Owners: @pratham-project-admin

Issue feat: restrict manually type dob
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @core-team

Issue feat: update customwidget
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin

pdf image issue debug
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

Issue feat dob iscon issue
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: dob form issue
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: Pre and Post to be renamed as Prepare and Practice wherever applicable for Course Planner
  apps/admin-app-repo/public/locales/en/common.json
  apps/teachers/public/locales/en/common.json
  mfes/authentication/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

update pr
  apps/admin-app-repo/public/locales/en/common.json
  apps/teachers/public/locales/en/common.json
Owners: @admin-app-owners, @teacher-app-owners

Updated question-set-editor-version
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @pratham-project-admin

Issue feat: add course status from user certificate api
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue #PS-5580 fix: Fixed Course vs content publishing checklist pop up veiw UI inconsistency issue
  mfes/workspace/src/components/ConfirmActionPopup.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed UI issues
  mfes/workspace/src/components/ConfirmActionPopup.tsx
Owners: @pratham-project-admin

Issue feat: course status loader issue
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @core-team, @pratham-project-admin

issue fix atm
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Removed download answer sheet button for manual-assessments
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

Fixed alignment of zoom icon
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Added zoom in functionality on image as question clicked
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin
