Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: remove what do you want to become and consent file field from plp
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue featr: Hide fields from updated schema
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: Resolve complte profile issue
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

Issue feat: add additional parameters for google anallytic events for pos plp
  apps/learner-web-app/src/utils/API/contentService.ts
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

Issue feat: Increase limit for dynamic language on experimento
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

update pr
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue feat: Pass enrollment id in progfile section for plp and lmp
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  mfes/youthNet/src/components/youthNet/Profile.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue feat: Remove bulk import from sidebar option
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

Issue feat: Fix the er login issue on admin
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

updats pr
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

Issue feat: Fix assessmenet issues
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue feat: Fix landing page redirection issue from complte profile
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue update pr
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Issue feat: update pr
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
Owners: @pratham-project-admin

Issue feat: Fix experimento bread-crum issue and ordering by englishname add scp
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
Owners: @pratham-project-admin

update pr: update for pos filter scrollbar
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

Renaming Survey Navbar Tab
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Sonar Qube Isssue Resolved
  mfes/survey-forms/ui-preview.html
Owners: @pratham-project-admin

Issue feat: fix scrollbar issue and default program issue
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

Build Issues Resolved
  Dockerfile.teachers
  README.md
  apps/teachers/src/middleware.ts
  docker-compose.teachers.yml
  ecosystem.teachers.config.js
  mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/survey-forms/.env.example
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/utils/API/Interceptor.ts
  mfes/survey-forms/src/utils/bootstrapAuth.ts
Owners: @pratham-project-admin, @teacher-app-owners

Config Issues Fixed
  mfes/scp-teacher-repo/next.config.mjs
  package-lock.json
  package.json
Owners: @pratham-project-admin

add pratham req doc
  Project_Tech_Arch_UI_UX/DESIGN_THEME.md
  Project_Tech_Arch_UI_UX/PROJECT_REQUIREMENTS.md
  Project_Tech_Arch_UI_UX/TECH_ARCHITECTURE.md
Owners: @pratham-project-admin

package lock file added
  package-lock.json
Owners: @pratham-project-admin

package lock file added
  Dockerfile.teachers
Owners: @pratham-project-admin

Isue feat: Fix curriculam planner and content library issues
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: Add retension for static language filter on scp
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
Owners: @pratham-project-admin

Issue: API URL Issue,Response Screen Fix
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyResponseViewer.tsx
  mfes/survey-forms/src/store/surveyFormStore.ts
  mfes/survey-forms/src/utils/API/Interceptor.ts
  mfes/survey-forms/src/utils/bootstrapAuth.ts
Owners: @pratham-project-admin

ssue feat: Revamp Registeration Flow
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/programs/[tenantId]/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/AccountExistsCard/AccountExistsCard.tsx
  apps/learner-web-app/src/components/EnrolModal/EnrolModal.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/ProgramCard/ProgramCard.tsx
  apps/learner-web-app/src/components/RoleCard/RoleCard.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

sync auto
  apps/learner-web-app/public/sw.js
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin, @core-team

Issue: Search,Error Message , Removed Survey Forms
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/survey-forms/src/Components/SurveyCard/SurveyCard.tsx
  mfes/survey-forms/src/Components/fields/CheckboxField.tsx
  mfes/survey-forms/src/Components/fields/DateField.tsx
  mfes/survey-forms/src/Components/fields/FieldRenderer.tsx
  mfes/survey-forms/src/Components/fields/FieldWrapper.tsx
  mfes/survey-forms/src/Components/fields/FileUploadField.tsx
  mfes/survey-forms/src/Components/fields/NumberField.tsx
  mfes/survey-forms/src/Components/fields/RadioField.tsx
  mfes/survey-forms/src/Components/fields/RatingField.tsx
  mfes/survey-forms/src/Components/fields/ScaleField.tsx
  mfes/survey-forms/src/Components/fields/SelectField.tsx
  mfes/survey-forms/src/Components/fields/TextField.tsx
  mfes/survey-forms/src/Components/fields/TextareaField.tsx
  mfes/survey-forms/src/Components/teacher/TeacherFilterBar.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/app/teacher-survey-list/TeacherSurveyListPage.tsx
  mfes/survey-forms/src/utils/API/EndUrls.ts
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/src/utils/validation.ts
Owners: @pratham-project-admin

update pr: improve ui
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/ProgramCard/ProgramCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: Fix scp assessment login issue
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat: Fix build issue
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat: Fix scp assesment exit button issue
  apps/learner-web-app/src/app/reattempt-check/page.tsx
Owners: @pratham-project-admin

tracking changes relaod page
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @core-team, @pratham-project-admin

tracking changes reload page
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @core-team, @pratham-project-admin

Issue: Survey isues Fix
  mfes/survey-forms/src/utils/API/surveyService.ts
Owners: @pratham-project-admin

username given
  apps/learner-web-app/public/sw.js
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
