Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

revert changes of guardian details hide
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

revert changes of guardian details hide
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
Owners: @core-team

h5p offline added
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/h5p-core-30.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/h5p-hub-publish.woff
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/h5p-hub-publish.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/h5p-theme.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/Inter-ExtraBold.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/Inter-ExtraBoldItalic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/LICENSE.txt
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/inter-v18-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/inter-v18-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/inter-v18-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/inter/inter-v18-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/OFL.txt
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-600.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-600italic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-700.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-700italic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-italic.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/fonts/open-sans/open-sans-v40-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-regular.woff2
  mfes/players/public/libs/content-player-v2/h5p-standalone/frame.bundle.js
  mfes/players/public/libs/content-player-v2/h5p-standalone/h5p.d.ts
  mfes/players/public/libs/content-player-v2/h5p-standalone/images/h5p.svg
  mfes/players/public/libs/content-player-v2/h5p-standalone/images/throbber.gif
  mfes/players/public/libs/content-player-v2/h5p-standalone/main.bundle.js
  mfes/players/public/libs/content-player-v2/h5p-standalone/main.bundle.js.LICENSE.txt
  mfes/players/public/libs/content-player-v2/h5p-standalone/styles/h5p-fonts.css
  mfes/players/public/libs/content-player-v2/h5p-standalone/styles/h5p.css
Owners: @pratham-project-admin

PS-7093 : Deleted and dropped SCP learner can access SCP program
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
Owners: @pratham-project-admin

mp3 player resume added, player mobile auto complete solved
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
Owners: @pratham-project-admin

production certificate template support added
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @admin-app-owners, @core-team

upstream changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issues for question import
  .nxignore
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  mfes/workspace/src/components/bulk-import/ImportProgress.tsx
  mfes/workspace/src/components/bulk-import/ImportSummary.tsx
  mfes/workspace/src/components/bulk-import/TemplateDownload.tsx
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/frameworkConfig.ts
Owners: @pratham-project-admin, @admin-app-owners

Revert helper functions
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7122 : Player = on click player back button redirect to dashboard instead of previous page
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  libs/shared-lib-v2/src/utils/contentCardHref.ts
  mfes/content/src/components/UnitGrid.tsx
  mfes/players/src/components/utils/Helper.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin, @core-team

multi select
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

QuestionSet - Evaluation Type values are mismatched
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  apps/admin-app-repo/tsconfig.tsbuildinfo
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/utils/bulkImportParser.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @admin-app-owners, @pratham-project-admin

QuestionSet - Evaluation Type values are mismatched
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

Delete mfes/workspace/tsconfig.tsbuildinfo
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

Delete apps/admin-app-repo/tsconfig.tsbuildinfo
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

Bulk = Questions xlsx - Question Visibility value default appear Public even if in the sheet it set to 'Parent'
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  apps/admin-app-repo/tsconfig.tsbuildinfo
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @admin-app-owners, @pratham-project-admin

Delete apps/admin-app-repo/tsconfig.tsbuildinfo
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

Delete mfes/workspace/tsconfig.tsbuildinfo
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

feat: add survey completion summary and status filter to teacher dashboard
  mfes/survey-forms/src/Components/teacher/SurveyStatusSummary.tsx
  mfes/survey-forms/src/Components/teacher/TeacherFilterBar.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/utils/API/EndUrls.ts
  mfes/survey-forms/src/utils/API/surveyService.ts
Owners: @pratham-project-admin

fix: update SurveyRenderer dependency array and reset learner states in TeacherContextHubPage upon selection changes
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
Owners: @pratham-project-admin

feat: Survey Integration with PLP
  apps/learner-web-app/src/app/plp-surveys/page.tsx
  apps/learner-web-app/src/app/survey-fill/[surveyId]/[contextId]/page.tsx
  apps/learner-web-app/src/app/survey-fill/[surveyId]/[contextId]/view/page.tsx
  apps/learner-web-app/src/app/survey-fill/[surveyId]/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
  mfes/survey-forms/src/Components/SurveyCard/SurveyCard.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/survey-list/SurveyListPage.tsx
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/src/utils/resolveSurveyFillRoute.spec.ts
  mfes/survey-forms/src/utils/resolveSurveyFillRoute.ts
Owners: @pratham-project-admin, @core-team

Enable Register to PTM button for volunteer
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

refactor: optimize survey status fetching by introducing a single unified API endpoint and fix hydration issues in SurveyListPage
  apps/learner-web-app/src/app/plp-surveys/page.tsx
  mfes/survey-forms/src/app/survey-list/SurveyListPage.tsx
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/src/utils/resolveSurveyFillRoute.spec.ts
Owners: @pratham-project-admin

feat: integrate survey-forms MFE by adding webpack alias and configuration support
  apps/learner-web-app/next.config.js
  tsconfig.learner.json
Owners: @pratham-project-admin

manual user not login issue solved
  apps/teachers/src/pages/login.tsx
  apps/teachers/src/utils/app.config.ts
Owners: @teacher-app-owners

latest code fetch
  vt.html
Owners: @pratham-project-admin

latest code fetch
  vt.html
Owners: @pratham-project-admin

Home button redirect fix on PLP
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

Back button redict fix for pos/thementic
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  mfes/players/src/components/utils/Helper.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

Back button redict fix for pos/thementic
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

Back button redict fix for pos/thementic
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Back button redict fix for pos/thementic
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

Issue fix due Open-in-tab feature and related to saral popup
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/reattempt-check/page.tsx
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/utils/Helper.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

refactor: remove metadata display from IndividualProgressTable
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgressTable.tsx
Owners: @pratham-project-admin

fix: handle optional chaining for theme palette and improve loading state check
  libs/shared-lib-v2/src/lib/Pagination/CommonPagination.tsx
  libs/shared-lib-v2/src/utils/CourseLearningSummaryService/courseLearningSummary.ts
  mfes/youthNet/src/components/ManagerDashboard/CoursesList/CoursesFilterBar.tsx
  mfes/youthNet/src/hooks/useManagerDashboardData.ts
  mfes/youthNet/src/pages/manager-dashboard/team/[userId].tsx
Owners: @core-team, @pratham-project-admin

IF user abort a test in mid of start assessment, redirect to scp dashboard
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/reattempt-check/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

refactor: reorganize imports and improve code structure in EmployeeDetailPage
  mfes/youthNet/src/pages/manager-dashboard/team/[userId].tsx
Owners: @pratham-project-admin

Better, user-friendly error messages across the CMS
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

APK Prod = Browser page open when learner click Exit or back button from the Saral assessment
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/utils/API/ProgramService.ts
  mfes/players/src/components/utils/Helper.ts
Owners: @pratham-project-admin

APK Prod = Browser page open when learner click Exit or back button from the Saral assessment
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin
