Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Updated PR
  apps/learner-web-app/src/app/pos/terms-and-conditions/page.tsx
Owners: @pratham-project-admin

Added englishTitle support in list view in workspace
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

Issue feat: Lead management UI devlopment
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchSuccessModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/BottomActionBar.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/CallLogModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationTabs.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/dummyData.ts
  mfes/scp-teacher-repo/src/components/UserRegistration/index.ts
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Displayed english title for all contents on card and list view
  apps/learner-web-app/src/utils/API/contentService.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/app/certificates.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/services/PlayerService.ts
  mfes/content/src/services/Search.ts
  mfes/players/src/services/PlayerService.ts
  mfes/scp-teacher-repo/src/services/PlayerService.ts
  mfes/youthNet/src/services/PlayerService.ts
Owners: @pratham-project-admin, @core-team

Issue #PS-000 chore: Displayed english title of content on content details page
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/services/Hierarchy.ts
  mfes/youthNet/src/services/PlayerService.ts
Owners: @pratham-project-admin

add lastupdated by
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin

Issue feat: Restrict publish unblish actions for scta
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

add loader for entiti solution api
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

Issue feat: Add no response found for ai asssement report
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
Owners: @pratham-project-admin

Issue feat: Increase width for cms actions
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchSuccessModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/CallLogModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/MoreOptionsBottomSheet.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/dummyData.ts
  mfes/scp-teacher-repo/src/components/UserRegistration/index.ts
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed deleted user login issue
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @pratham-project-admin, @core-team

update pr
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/index.ts
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/MasterDataService.ts
Owners: @pratham-project-admin

Issue feat: change link colour
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
Owners: @pratham-project-admin

hode publish unblish button
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Modified UI for jotform rendering
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
Owners: @pratham-project-admin

changes in map role
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormCallback.ts
  libs/shared-lib-v2/src/MapUser/CenterListWidget.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/MapService.tsx
  libs/shared-lib-v2/src/MapUser/Toastify.js
  libs/shared-lib-v2/src/utils/API/EndUrls.ts
Owners: @admin-app-owners, @core-team

Issue feat: Fix Unauthorize page go to home redirection
  apps/learner-web-app/src/app/unauthorized/page.tsx
Owners: @pratham-project-admin

issue fix
  apps/admin-app-repo/src/components/RouteGuard.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
Owners: @admin-app-owners, @core-team

Issue feat: add story and activity primaray category for pos program tab
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

state lead added map
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: Fixed cohort member status issue in list views of LAP
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Updated PR
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Updated PR
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Updated PR with correct delete message
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Introduced and added reassigned status support in attendance
  mfes/scp-teacher-repo/src/components/AttendanceDetails.tsx
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

Updated PR
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/scp-dashboard/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationTabs.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/ManageUser.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Hidden all options excpet unmark as dropout for dropped out learners in lmp
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
Owners: @pratham-project-admin

Issue #PS-6071 fix: Fixed issue getting multiple message on re-assigning learner batch
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Issue #PS-6074 fix: Fixed LMP-> Learner list - search activity not working issue
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Resolved learner list reload issue on learner reassign on lmp
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

update api
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/CallLogModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/types.ts
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/CohortService/cohortService.ts
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @core-team, @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/BottomActionBar.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/MoreOptionsBottomSheet.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue feat: Experimento india and pos ui fixes
  apps/learner-web-app/src/app/cmslink/page.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/cmslink/page.tsx
Owners: @pratham-project-admin

updayte pr
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin
