Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue task PS-4244 :new mentor form UI issue fix
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat: Batch filter fixes..change payload for create teamleader..fix learner creation issues
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Added Batch Support in SCP Teacher
  apps/teachers/src/pages/teacher.tsx
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
  mfes/scp-teacher-repo/src/services/ProfileService.ts
Owners: @teacher-app-owners, @pratham-project-admin

Issue feat:Fix team leader creation condtion
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

Issue feat:Fix batch issues
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue feat: stepper form initigration
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/CohortSelections.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
Owners: @admin-app-owners

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/services/CohortService/cohortService.ts
Owners: @admin-app-owners

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Fixed tenantId dependency
  apps/admin-app-repo/app.config.ts
  apps/admin-app-repo/src/pages/login.tsx
  apps/teachers/src/utils/app.config.ts
  libs/shared-lib/src/app.config.ts
  libs/shared-lib/src/lib/Services/Interceptor.ts
  libs/shared-lib/src/lib/Services/app.config.ts
  mfes/authentication/src/utils/app.config.ts
  mfes/scp-teacher-repo/app.config.ts
  mfes/youthNet/src/utils/app.config.ts
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

Issue task PS-4244 :reassign UI implementatiom
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

Modified Role name and Role Id and fixed center list dropdown inconsistency
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/UserTable.tsx
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/admin-app-repo/src/utils/telemetry.js
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.constant.ts
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

Issue #PS-000 chore: Fixed SDBV changes in Teacher app
  apps/admin-app-repo/src/services/formatedCohorts.ts
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/components/youthNet/BlockItem.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

Updated Admin RoleId
  mfes/authentication/src/utils/app.constant.ts
Owners: @pratham-project-admin

Issue #PS-4339 feat: Course Planner Fix
  apps/admin-app-repo/src/components/V1-Player/V1Player.tsx
  apps/admin-app-repo/src/components/players/PlayerConfig.js
  apps/admin-app-repo/src/components/players/Players.tsx
  apps/admin-app-repo/src/components/players/SunbirdEpubPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdPdfPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdQuMLPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdVideoPlayer.tsx
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/custom.d.ts
  apps/admin-app-repo/src/pages/play/content/[identifier].tsx
  apps/admin-app-repo/src/services/PlayerService.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  apps/admin-app-repo/src/utils/Helper.ts
  apps/admin-app-repo/src/utils/PlayerConfig.ts
  apps/admin-app-repo/src/utils/app.config.ts
Owners: @admin-app-owners

Issue #PS-000 chore: Modified role names in scp app
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.constant.ts
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/attendance-overview.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/pages/learner-attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/scp-teacher-repo/src/utils/helperAttendanceStatApi.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

state fix after recover git repo
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/components/center/FrameworkCategories.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/url.config.ts
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/components/youthNet/VillageNewRegistration.tsx
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/surveys/index.tsx
  mfes/youthNet/src/pages/villageDetails/[villageName].tsx
  mfes/youthNet/src/pages/volunteerList.tsx
  mfes/youthNet/src/utils/Helper.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue task PS-4244 :new mentor form UI issue fix
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/services/CohortService/cohortService.ts
Owners: @admin-app-owners

dianamic form changes
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditCenter/AddEditCenter.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
Owners: @admin-app-owners, @teacher-app-owners

clonflicts solve
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

fix constant loader in teachers app
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
Owners: @pratham-project-admin

stepper form
  apps/admin-app-repo/src/components/DynamicForm/CohortSelections.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

batch fix payload
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

Issue #PS-4339 feat: Course
  README.md
  apps/admin-app-repo/app.config.ts
  apps/admin-app-repo/src/middleware.ts
  apps/admin-app-repo/src/pages/play/content/[identifier].tsx
  apps/teachers/src/middleware.ts
  mfes/players/next.config.js
  mfes/players/src/pages/index.tsx
  mfes/players/src/utils/url.config.ts
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/pages/play/content/[identifier].tsx
Owners: @pratham-project-admin, @admin-app-owners, @teacher-app-owners

Issue #PS-4339 feat: Removed file
  apps/admin-app-repo/src/components/V1-Player/V1Player.tsx
  apps/admin-app-repo/src/components/players/PlayerConfig.js
  apps/admin-app-repo/src/components/players/Players.tsx
  apps/admin-app-repo/src/components/players/SunbirdEpubPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdPdfPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdQuMLPlayer.tsx
  apps/admin-app-repo/src/components/players/SunbirdVideoPlayer.tsx
  apps/admin-app-repo/src/custom.d.ts
  apps/admin-app-repo/src/services/PlayerService.ts
  apps/admin-app-repo/src/utils/PlayerConfig.ts
  apps/admin-app-repo/src/utils/app.config.ts
Owners: @admin-app-owners

Issue #PS-4339 feat: Reverting unnecessary changes
  apps/admin-app-repo/app.config.ts
  apps/admin-app-repo/src/utils/app.config.ts
Owners: @admin-app-owners

player microfrotnend added
  Dockerfile.admin-app-repo
  Dockerfile.teachers
  apps/teachers/src/middleware.ts
  docker-compose.admin-app-repo.yml
  docker-compose.teachers.yml
  ecosystem.admin-app-repo.config.js
  ecosystem.teachers.config.js
Owners: @pratham-project-admin, @teacher-app-owners

Issue #PS-4339 feat: Updating env variable
  apps/admin-app-repo/src/pages/play/content/[identifier].tsx
Owners: @admin-app-owners

player microfrotnend added
  apps/teachers/src/middleware.ts
Owners: @teacher-app-owners

batch fix payload
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

Issue task PS-4244 :stepper form UI fixes
  apps/admin-app-repo/src/components/DynamicForm/CohortSelections.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
Owners: @admin-app-owners

Issue task PS-4244 :stepper form UI fixes
  mfes/youthNet/src/components/youthNet/MentorForm/VillageSelection.tsx
Owners: @pratham-project-admin
