Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

issue feat:Fix survey UI issue
  mfes/survey-observations/src/Components/EntryContent/EntryContent.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Added Pascal case to batch names in FL list view
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

updayte pr
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

add constant
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Fix: Capitalize Description in Unit and Info Cards, Add Tooltip to Content Card, and Correct Breadcrumb on Course Detail Page
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @core-team, @pratham-project-admin

Issue feat:Add constants for newly added fields
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

fix: filter issue, active link on course pages, search reset on tab change, NO_MORE_DATA on course pages, unit card description, add QuestionSet to content list
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/UnitGrid.tsx
  mfes/content/src/services/Search.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin, @core-team

build issue solved
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

fix: add L2 API submit fields from user read API
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

issue feat:edit profile isssue
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue feat: update certificate modal title
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

Issue feat :Add save button functionality for batch selection at stepper form for both admin and teacher
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
Owners: @admin-app-owners, @pratham-project-admin

fix: in-progress courses and certificate generation issue
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/common-modal.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

Issue feat: Fix reload content Issue upon deletion
  mfes/workspace/src/components/DeleteConfirmation.tsx
Owners: @pratham-project-admin

Issue #PS-4180 chore:Implemented Youth mark as voulnteer
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/ConfirmationPopup.tsx
  apps/admin-app-repo/src/components/MarkAsVolunteer.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  apps/admin-app-repo/src/services/UserService.ts
Owners: @admin-app-owners

Hidden mark as volunteer button if already marked
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

fix:Program Content List with Search, Filter & Pagination, Dynamic Filters for Content
  apps/learner-web-app/public/images/pos_life.jpg
  apps/learner-web-app/public/images/pos_program.jpg
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- UI fixes in leaner web app
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

fix: program add sub menu YouthNet and SCP + card grid ui set
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin, @core-team

fix:card Ui
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin

Generic Editor to use POS Framework | App Icon in Course Unit
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/workspace/src/pages/api/mocked-response.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Generic Editor to use POS Framework | App Icon in Course Unit
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/workspace/src/pages/api/mocked-response.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

fix: card UI grid + player page grid
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Grid/Grid.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- new langauge added
  mfes/scp-teacher-repo/config.json
  mfes/scp-teacher-repo/next-i18next.config.js
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
Owners: @pratham-project-admin

Issue #PS-4637 task:- new langauge added
  apps/admin-app-repo/config.json
  apps/admin-app-repo/next-i18next.config.js
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
Owners: @admin-app-owners

Issue #PS-4637 task:- new langauge added
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- new langauge contant added
  mfes/scp-teacher-repo/public/locales/dummy.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

Issue #PS-4637 task:- new langauge contant added for leaner-web-app
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

Issue #PS-4637 task:- new langauge contant added for leaner-web-app
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/font-size-demo/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/context/FontSize.css
  apps/learner-web-app/src/context/FontSizeContext.tsx
  apps/learner-web-app/src/context/FontSizeTheme.tsx
  apps/learner-web-app/src/context/useFontSizeEffect.tsx
Owners: @pratham-project-admin

Fixed session tab display issue for past academic year
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
Owners: @pratham-project-admin

Fixed TL Profile
  mfes/scp-teacher-repo/src/components/Profile.tsx
Owners: @pratham-project-admin

Issue Fixed No data found banner
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Added tour guide step for support request section
  apps/teachers/public/locales/en/common.json
  mfes/authentication/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/utils/tourGuideSteps.ts
Owners: @teacher-app-owners, @pratham-project-admin

fix:Ui card grid and mobile view of content page of youthnet
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/components/CompleteProfileBanner/CompleteProfileBanner.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- new langauge contant added
  apps/learner-web-app/src/app/font-size-demo/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/context/FontSizeContext.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- new langauge contant added
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/context/FontSize.css
  apps/learner-web-app/src/context/FontSizeTheme.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- new langauge contant added
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

fix:card unit grid and layout as per figma set
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/CompleteProfileBanner/CompleteProfileBanner.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin
