Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

feat: enforce alphabets-only validation for guardian relation field
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

feat: add conditional clearable functionality for multi-select dropdown
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
Owners: @core-team

feat: enhance BatchFlow and Centers components to support industry and courses selection with new L2BatchCreate form
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/L2BatchCreate.js
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @admin-app-owners, @core-team

fix: thematic course background selection for Environment and Maths
  apps/learner-web-app/public/images/mathbackground.png
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
Owners: @pratham-project-admin

feat: implement confirmation modal for learner interest in L2 course and update localization strings
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

Refactor board selection handling in EditSearchUser and EmailSearchUser for improved synchronization and state management
  apps/admin-app-repo/src/pages/api/dynamic-form/get-framework.js
  libs/shared-lib-v2/src/MapUser/EditSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
Owners: @admin-app-owners, @core-team

Add logging for board changes in EditSearchUser and EmailSearchUser; enhance schema validation in boardStreamSync
  libs/shared-lib-v2/src/MapUser/EditSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/boardStreamSync.ts
Owners: @core-team

Enhance stream handling in EditSearchUser and EmailSearchUser; add support for association graph and initial stream option refresh
  apps/admin-app-repo/src/pages/api/dynamic-form/get-framework.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/MapUser/EditSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/boardStreamSync.ts
Owners: @admin-app-owners, @core-team

Implement user program management with useUserProgram hook; refactor components to utilize program context for dynamic behavior
  apps/learner-web-app/src/components/AssessmentAttempts/AssessmentAttempts.tsx
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/utils/helpers/cohortAssignmentHelper.ts
  apps/learner-web-app/src/utils/hooks/useUserProgram.ts
Owners: @pratham-project-admin

Display Learner User ID Instead of Phone Number in Learner Details [Youthnet]
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

feat: update interest handling in LTwoCourse component to include status and timestamp
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

Add program filter for content search based on tenant name in EnrollProfileCompletionInner
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

Refactor program filter in EnrollProfileCompletionInner to use a static value for 'Second Chance'
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

PS-7360 : Attendance Details Not Consistently Visible for Sessions
  mfes/scp-teacher-repo/src/components/MarkBulkAttendance.tsx
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

PS-7360 : session list ordering
  mfes/scp-teacher-repo/src/components/MarkBulkAttendance.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/EventService.ts
Owners: @pratham-project-admin

PS-7298 : Unable to unpublish Question Set
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Remove unused keys and add new translations for various languages in locale JSON files
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

Revert "Remove unused keys and add new translations for various languages in locale JSON files"
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

refactor: remove unused getCurrentLocalDateTime function and simplify interest status handling in LTwoCourse component
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

refactor: rename 'industry' to 'domain' in BatchFlow and L2BatchCreate components for consistency
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/L2BatchCreate.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Refactor code structure for improved readability and maintainability
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormConstant.ts
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/PlacementCoordinatorSearch.js
  apps/admin-app-repo/src/constant/Forms/RetentionCoordinatorSearch.js
  apps/admin-app-repo/src/pages/user-placement-coordinator.tsx
  apps/admin-app-repo/src/pages/user-retention-coordinator.tsx
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

feat: add Placement Coordinator and Retention Coordinator roles with corresponding login URLs
  apps/admin-app-repo/src/utils/app.constant.ts
Owners: @admin-app-owners

Remove tsbuildinfo file
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

refactor: update label for 'Placement Retention Coordinator' to 'Placement Retention' in common.json
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

PS-7384 : LMP - Center Sessions calendar - show the calendar icon on the date which has session scheduled
  mfes/scp-teacher-repo/src/components/MonthCalender.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
Owners: @pratham-project-admin

PS-3084 : During the scheduling of classes in one centre, more than 1 subject should not get slotted for the same time as at a time only 1 class is taking place for 1 cohort
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
Owners: @pratham-project-admin

feat: Add L2 Queue Assign and Search schemas for managing learner interests
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/lib/Drawer/CommonSidePanel.tsx
  libs/shared-lib-v2/src/lib/Table/CommonDataTable.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/constant/Forms/L2QueueAssignSchema.ts
  mfes/youthNet/src/constant/Forms/L2QueueSearchSchema.ts
  mfes/youthNet/src/pages/batches.tsx
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/l2-interested-queue.tsx
  mfes/youthNet/src/services/l2InterestedQueue/getCourseNames.ts
  mfes/youthNet/src/services/l2InterestedQueue/l2Queue.config.ts
  mfes/youthNet/src/services/l2InterestedQueue/l2QueueHelpers.ts
  mfes/youthNet/src/services/youthNet/Dashboard/UserServices.ts
Owners: @teacher-app-owners, @core-team, @pratham-project-admin

Refactor RequisitesAccordion to improve content filtering logic and update SessionCardFooter dependencies for fetching topics
  mfes/scp-teacher-repo/src/components/RequisitesAccordion.tsx
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
Owners: @pratham-project-admin

Optimize dependency array in useEffect for fetching topic subtopics in SessionCardFooter
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
Owners: @pratham-project-admin

Add dynamic program filter for content search in EnrollProfileCompletionInner
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

feat: Implement local BFF proxy for DynamicForm framework term lookups and update API endpoints in L2QueueAssignSchema and L2QueueSearchSchema
  mfes/youthNet/src/constant/Forms/L2QueueAssignSchema.ts
  mfes/youthNet/src/constant/Forms/L2QueueSearchSchema.ts
  mfes/youthNet/src/pages/api/dynamic-form/get-framework.ts
Owners: @pratham-project-admin

PS-7389 : LMP = overlap session - in the popup message nothing mentioned about Deleting existing sessions
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
Owners: @pratham-project-admin

Currently, we are replacing the sessions. Instead of replacing, a new session should be created. so in this case there can be 2 or more sessions for the same time slot
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
Owners: @pratham-project-admin

Add guard clause in handleAccessProgram to prevent execution on server-side
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

refactor: Update L2QueueAssignSchema and L2QueueSearchSchema to use new API endpoints and remove deprecated local BFF proxy
  mfes/youthNet/src/constant/Forms/L2QueueAssignSchema.ts
  mfes/youthNet/src/constant/Forms/L2QueueSearchSchema.ts
  mfes/youthNet/src/pages/api/dynamic-form/get-framework.ts
Owners: @pratham-project-admin

feat: Enhance routing logic for Youthnet tenant based on user role
  apps/teachers/src/pages/login.tsx
Owners: @teacher-app-owners

test state 0 id solved, collection content type solved
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomSingleSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/WorkingLocationWidget.tsx
  libs/shared-lib-v2/src/MapUser/BatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/CenterListWidget.tsx
  libs/shared-lib-v2/src/MapUser/LMPMultipleBatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleBatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
  mfes/players/src/components/players/ContentPlayerV2.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/pages/volunteerList.tsx
  mfes/youthNet/src/services/AssesmentService.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

feat: Refactor LTwoCourse component to integrate CommonModal and handle course submission
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

feat: Enhance batch allocation flow by refreshing the list after saving tags and clearing selection
  mfes/youthNet/src/pages/l2-interested-queue.tsx
Owners: @pratham-project-admin

PS-7395 : LAP = unpublished Question set appear under both Unpublished and Deleted status
  mfes/shared-store.ts
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin
