Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

parameter supprot added
  apps/admin-app-repo/src/pages/qp.tsx
  mfes/scp-teacher-repo/public/sw.js
Owners: @admin-app-owners, @pratham-project-admin

added download in facilitator
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

Issue feat: Guardian fields issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

fix:build issue
  mfes/scp-teacher-repo/src/components/ConfirmationModal.tsx
Owners: @pratham-project-admin

Issue feat: Retension issue for content
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

Issue feat:Fix completion date issue for already ssigned certificate courses
  mfes/players/src/services/PlayerService.ts
Owners: @pratham-project-admin

Fix: Facilitator AI Assessment answer sheet flow
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/assets/images/aicheckbook.svg
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/IMPLEMENTATION_SUMMARY.md
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

Issue feat:In admin, for all the menus, "Reset" option should be provided- FEEDBACK
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/ResetFiltersButton/ResetFiltersButton.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/mentor.tsx
Owners: @admin-app-owners

ATM UI implementation and API integraation
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

fix:ai-assessment detail page
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  rules.json
Owners: @pratham-project-admin

Fix: Add rules and answer sheet upload view files
  .cursor/rules/common-frontend.md
  .cursor/rules/common-tekdi.md
  .cursor/rules/tekdi-way.md
  copy-cursor-rules.sh
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/IMPLEMENTATION_SUMMARY.md
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/upload-files/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  rules.json
Owners: @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Fix load more fretension issue
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
Owners: @pratham-project-admin

POS issue fixes
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

FIX:figma maching
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

POS search feedback changess
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  apps/learner-web-app/src/components/pos/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

Issue feat:Add ptm name for in c2c profile
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Course or Content list page - the Load More button appear with single line of records, Get Started with Camp to Club Courses - page getting scroll up using back button from the detail page
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

website link added
  apps/learner-web-app/public/images/ASER.jpg
  apps/learner-web-app/public/images/Pratham-International.png
  apps/learner-web-app/public/images/info-foundation.png
  apps/learner-web-app/public/images/pratham-shah-centre2.png
  apps/learner-web-app/public/images/twiteer.png
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/OtherWebsiteCarousel.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

fix:issue
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Fix: Retain logic for content list
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
Owners: @pratham-project-admin

fix: UI
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

updated pr for mentor app analytic features
  mfes/youthNet/src/pages/_app.tsx
Owners: @pratham-project-admin

website link added
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added Reassignment flow for mentor in admin app
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  apps/admin-app-repo/src/components/MentorForm/MentorAssignment.tsx
  apps/admin-app-repo/src/components/MentorForm/VillageSelection.tsx
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/pages/mentor.tsx
  mfes/youthNet/src/utils/Helper.ts
Owners: @admin-app-owners, @pratham-project-admin

c2c tenant config add
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

website link added
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/SearchButton.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin, @core-team

camp 2 club fix tenant config dynamic
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
Owners: @pratham-project-admin

reponsive changes
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

reponsive changes
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

Issue feat:Enable workspace and curriculum features for central admin
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/config/routesConfig.ts
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/utils/app.constant.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  apps/admin-app-repo/src/config/routesConfig.ts
Owners: @admin-app-owners

ATM UI implemtation
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implemtation
  mfes/scp-teacher-repo/src/components/assessment/ImageViewer.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/upload-files/index.tsx
Owners: @pratham-project-admin

ATM UI implemtation
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/upload-files/index.tsx
Owners: @pratham-project-admin

Issue feat Replace scp with second chance and fox assessment retesion issue
  apps/learner-web-app/src/components/pos/List.tsx
  apps/teachers/src/utils/app.config.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.config.ts
  mfes/authentication/src/utils/app.config.ts
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/index.tsx
  mfes/youthNet/src/utils/app.config.ts
Owners: @pratham-project-admin, @teacher-app-owners, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
