Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

center creation changes
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue feat: manual assessment for lmp mentor app
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/GenericModal.tsx
  mfes/youthNet/src/components/UploadFiles/UploadFiles.tsx
  mfes/youthNet/src/components/assessment/AnswerSheet.tsx
  mfes/youthNet/src/components/assessment/Camera.tsx
  mfes/youthNet/src/components/assessment/IMPLEMENTATION_SUMMARY.md
  mfes/youthNet/src/components/assessment/ImageViewer.tsx
  mfes/youthNet/src/components/assessment/QuestionMarksManualUpdate.tsx
  mfes/youthNet/src/components/assessment/UploadOptionsPopup.tsx
  mfes/youthNet/src/components/assessment/index.tsx
  mfes/youthNet/src/components/assessment/types.ts
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/index.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/services/AssesmentService.ts
  mfes/youthNet/src/services/AssesmentService/AssesmentService.ts
  mfes/youthNet/src/services/FileUploadService.ts
  mfes/youthNet/src/services/MyClassDetailsService.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/Interfaces.ts
  mfes/youthNet/src/utils/questionNumbering.ts
Owners: @pratham-project-admin

Issue feat: update pr
  mfes/youthNet/public/images/decorationBg.png
  mfes/youthNet/src/components/assessment/QuestionMarksManualUpdate.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/services/AssesmentService.ts
Owners: @pratham-project-admin

backup
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue feat: update pr
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: update pr
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: resolve merge conflicts
  apps/admin-app-repo/src/utils/telemetry.js
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Provider/GlobalProvider.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  apps/teachers/src/utils/telemetry.js
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
  mfes/authentication/src/pages/login.tsx
  mfes/authentication/src/utils/telemetry.js
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
  mfes/scp-teacher-repo/src/utils/telemetry.js
  mfes/youthNet/src/utils/telemetry.js
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

time spent issue solved
  mfes/players/public/libs/sunbird-quml-player/index.html
Owners: @pratham-project-admin

Issue feat: Fix UI issue and remove random selected image for pos
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
Owners: @pratham-project-admin

80 % criteria percentage passing for pragyanpath
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
  mfes/players/src/services/PlayerService.ts
Owners: @core-team, @pratham-project-admin

Added 2 more reasons for delete user in lap and lmp
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/components/DeleteUserModal.tsx
Owners: @admin-app-owners

Changed error message in popup for L2 course submit button
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

Added language constant
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: filter retired subjects for course planner
  apps/admin-app-repo/src/pages/subjectDetails.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-5832 feat: Center Creation and Edit Flow with API Integration
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormCallback.ts
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
Owners: @admin-app-owners, @core-team

Issue feat: allow open school courses for all learners
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat:pos total count and dynamic filer ui fix
  apps/learner-web-app/src/components/pos/Home.tsx
  mfes/workspace/src/components/DynamicMultiFilter.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Hidden View Batch option on centers page for other programs expect SCP in LAP
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

update ui
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  mfes/youthNet/public/locales/en/common.json
Owners: @pratham-project-admin

Issue feat: certificate modal fix
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/workspace/src/components/DynamicMultiFilter.tsx
Owners: @pratham-project-admin

updayte pr
  apps/learner-web-app/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Issue #PS-5624 chore: Added check to display additional reasons for FL only
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Issue #PS-5624 chore: Added check to display additional reasons for TL
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Updated PR
  apps/admin-app-repo/src/components/DeleteUserModal.tsx
Owners: @admin-app-owners

Issue feat: add pos route condition for program restriction and hide description for enroll page
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: Add creativity club program in pos
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin, @core-team

Issue feat: Add login with erp functionality and asseessment api details
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  mfes/authentication/src/pages/login.tsx
  mfes/authentication/src/services/LoginService.ts
  mfes/authentication/src/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/public/images/welcome.gif
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/TopPerformers.tsx
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
  mfes/scp-teacher-repo/src/pages/sso/index.tsx
  mfes/scp-teacher-repo/src/services/PlayerService.ts
  mfes/scp-teacher-repo/src/services/ProfileService.ts
  mfes/scp-teacher-repo/src/services/TrackingService.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/scp-teacher-repo/src/utils/url.config.ts
Owners: @core-team, @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue feat:SOme old courses doesnt have program for ppragyanpath added check for that
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

update pr
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue feat: Duplicate content doid issue
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/scp-teacher-repo/src/hooks/useFormRead.ts
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
  mfes/scp-teacher-repo/src/pages/sso/index.tsx
  mfes/scp-teacher-repo/src/services/Interceptor.ts
  mfes/scp-teacher-repo/src/services/ManageUser.ts
Owners: @pratham-project-admin

Issue #PS-5653 chore: Remove Global User Deletion Instead Users Should be archived/active Program wise
  apps/admin-app-repo/src/pages/central-head.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  apps/admin-app-repo/src/services/UserService.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/src/components/DeleteUserModal.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  mfes/scp-teacher-repo/public/images/image_ver.png
  mfes/scp-teacher-repo/src/components/EmployeeDetails/ExpandableCourseSection.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/types.ts
  mfes/scp-teacher-repo/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/types.ts
  mfes/scp-teacher-repo/src/pages/employee-details/index.tsx
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin
