Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: build issue
  mfes/scp-teacher-repo/src/components/Header.tsx
Owners: @pratham-project-admin

undo changes
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

fix: filter
  apps/learner-web-app/src/app/pos/life/page.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: add translation for MY_MAIN_SUBJECTS
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Issue #PS-4637 task:- open school UI implementation
  apps/learner-web-app/public/images/about-banner.png
  apps/learner-web-app/public/images/about-second-banner.png
  apps/learner-web-app/public/images/bg-img.png
  apps/learner-web-app/public/images/edu-icon-five.png
  apps/learner-web-app/public/images/edu-icon-four.png
  apps/learner-web-app/public/images/edu-icon-one.png
  apps/learner-web-app/public/images/edu-icon-three.png
  apps/learner-web-app/public/images/edu-icon-two.png
  apps/learner-web-app/public/images/knowdlege-two.png
  apps/learner-web-app/public/images/knowledge-five.png
  apps/learner-web-app/public/images/knowledge-four.png
  apps/learner-web-app/public/images/knowledge-one.png
  apps/learner-web-app/public/images/knowledge-three.png
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/KnwoledgeCarousel.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/OtherWebsiteCarousel.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- open school UI implementation
  apps/learner-web-app/src/app/pos/page.tsx
Owners: @pratham-project-admin

conflict solved
  .nxignore
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  nx.json
Owners: @pratham-project-admin

fix:static filter
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
Owners: @pratham-project-admin

fix:nave bar
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

Issue feat: Fix profile UI, retension at assessment
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Added reset password functionality
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue feat:Add confirmation poup for logout
  apps/learner-web-app/src/components/ConfirmationModal/ConfirmationModal.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

fix:tracking of pos
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Update pr: complete profile ui issues
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Addded village count for mentor
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/utils/Helper.ts
Owners: @pratham-project-admin

fix: tracking using did
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
  libs/shared-lib-v2/src/utils/AuthService.ts
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- Open school UI implmentation
  apps/learner-web-app/public/images/about-banner.png
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

fix:issue
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

fix: sub nave bar
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Retension and mobile view issue
  mfes/scp-teacher-repo/src/components/AssessmentSortModal.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
Owners: @pratham-project-admin

Fix the navbar sub-links for both mobile and desktop views.
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/layout.tsx
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Provider/GlobalProvider.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/FilterDialog.tsx
Owners: @pratham-project-admin, @core-team

Fix the error on the YouthNet content page.
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
Owners: @pratham-project-admin, @core-team

Fix the error on the YouthNet content page.
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/assets/theme/POSMuiThemeProvider.tsx
Owners: @pratham-project-admin

fix:card ui
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/assets/theme/POSMuiThemeProvider.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin, @core-team

fix: sonar issue
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/layout.tsx
  apps/learner-web-app/src/assets/theme/POSMuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/Provider/GlobalProvider.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

Filtered Village assignment for mentors
  mfes/youthNet/src/components/youthNet/MentorForm/VillageSelection.tsx
  mfes/youthNet/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue #PS-4637 task:- open school ui implementation
  apps/learner-web-app/public/images/Websites-2.png
  apps/learner-web-app/public/images/pillar-1.png
  apps/learner-web-app/public/images/pillar-2.png
  apps/learner-web-app/public/images/pillar-3.png
  apps/learner-web-app/public/images/website-1.png
  apps/learner-web-app/public/images/website-3.png
  apps/learner-web-app/public/images/website-4.png
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/KnwoledgeCarousel.tsx
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- open school ui implementation
  apps/learner-web-app/src/app/pos/about-us/page.tsx
Owners: @pratham-project-admin

Issue feat: Resolve login enter button issue and Ui issues
  apps/learner-web-app/src/app/account-selection/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/password-forget/page.tsx
  apps/learner-web-app/src/app/reset-Password/page.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
  mfes/forget-password/src/Components/ForgotPasswordComponent/ForgotPasswordComponent.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed duplicate fieldId issue in field value delete api in board enrollment
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
Owners: @pratham-project-admin

Issue feat:update pr
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/CohortSelections.tsx
  libs/shared-lib-v2/src/DynamicForm/components/Loader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomCheckboxWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomFileUpload.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomSingleSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/SearchTextFieldWidget.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Add translation
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

update pr
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

fix:Ui
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin, @core-team

registration form issue fix
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @pratham-project-admin, @core-team

Isssue feat: profile page issues
  apps/learner-web-app/src/components/OtpVerificationComponent/OtpVerificationComponent.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/forget-password/src/Components/OtpVerificationComponent/OtpVerificationComponent.tsx
Owners: @pratham-project-admin, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
