Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: store landing page in localstorage
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

update pr
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

Issue #PS-000 chore:Reduced table size
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Added Tooltip for FL
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Added border to Paginated Table
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
Owners: @admin-app-owners

Added tooltip
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue feat:- Allow facilitators, team leaders to edit learner profile except for Name and Username and - Taxanomy filters to be added for discover content and All content
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/workspace/src/components/DynamicMultiFilter.tsx
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

Reduced space around buttons and removed borders for columns
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
Owners: @admin-app-owners

Removed background colors of icons in LAP
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Updated tenantId in header for useUpdate in plp
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

Issue feat: Add course type on course card
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/services/Search.ts
Owners: @core-team, @pratham-project-admin

ai assessments create chnaged
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Added manual assessment tab and dependent views
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/components/UploadFiles/UploadFiles.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added Question Paper Component in Manual assesssment
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

Issue feat: pos home page improvement add random images for pos content instead of default image
  apps/learner-web-app/public/courseDefaultImages/Assistant_Electrician.png
  apps/learner-web-app/public/courseDefaultImages/ENGINE_ENGINE.png
  apps/learner-web-app/public/courseDefaultImages/Electric_level_1_202009221150594061.png
  apps/learner-web-app/public/courseDefaultImages/Electrical_Level_2_202009221151328179.png
  apps/learner-web-app/public/courseDefaultImages/Food_Production_Thumbnail.png
  apps/learner-web-app/public/courseDefaultImages/Food__Beverage_Service_Thumbnail.png
  apps/learner-web-app/public/courseDefaultImages/Hickory_Dickory.png
  apps/learner-web-app/public/courseDefaultImages/Housekeeping_Thumbnail.png
  apps/learner-web-app/public/courseDefaultImages/Intervew-2_202204061102557202.jpg
  apps/learner-web-app/public/courseDefaultImages/Plastic_Literacy__202010271637124816.png
  apps/learner-web-app/public/courseDefaultImages/Science_202010131204476645.png
  apps/learner-web-app/public/courseDefaultImages/Thumbnail_1_202405270759453576 (1).png
  apps/learner-web-app/public/courseDefaultImages/Thumbnail_1_202405270759453576.png
  apps/learner-web-app/public/courseDefaultImages/electrical_arc_welding_POS_202204120059399830_202503030359185963.png
  apps/learner-web-app/public/courseDefaultImages/gas_cuttingPOS-01_202204120101419308_202503030400408351.png
  apps/learner-web-app/public/courseDefaultImages/hi_Ek_thi_Kamala_Title.png
  apps/learner-web-app/public/courseDefaultImages/hn_meribilli.png
  apps/learner-web-app/public/courseDefaultImages/बलगत_हद_Thumbnail.png
  apps/learner-web-app/src/components/Provider/GlobalProvider.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/public/courseDefaultImages/Thumbnail_1_202405270759453576 (1).png
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

Issue feat: Add dob validation for under 14 yrs old by maxlength
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @core-team

update pr
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @core-team

update pr
  apps/learner-web-app/public/images/courseDefaultImages/Assistant_Electrician.png
  apps/learner-web-app/public/images/courseDefaultImages/ENGINE_ENGINE.png
  apps/learner-web-app/public/images/courseDefaultImages/Electric_level_1_202009221150594061.png
  apps/learner-web-app/public/images/courseDefaultImages/Electrical_Level_2_202009221151328179.png
  apps/learner-web-app/public/images/courseDefaultImages/Food_Production_Thumbnail.png
  apps/learner-web-app/public/images/courseDefaultImages/Food__Beverage_Service_Thumbnail.png
  apps/learner-web-app/public/images/courseDefaultImages/Hickory_Dickory.png
  apps/learner-web-app/public/images/courseDefaultImages/Housekeeping_Thumbnail.png
  apps/learner-web-app/public/images/courseDefaultImages/Intervew-2_202204061102557202.jpg
  apps/learner-web-app/public/images/courseDefaultImages/Plastic_Literacy__202010271637124816.png
  apps/learner-web-app/public/images/courseDefaultImages/Science_202010131204476645.png
  apps/learner-web-app/public/images/courseDefaultImages/Thumbnail_1_202405270759453576.png
  apps/learner-web-app/public/images/courseDefaultImages/electrical_arc_welding_POS_202204120059399830_202503030359185963.png
  apps/learner-web-app/public/images/courseDefaultImages/gas_cuttingPOS-01_202204120101419308_202503030400408351.png
  apps/learner-web-app/public/images/courseDefaultImages/hi_Ek_thi_Kamala_Title.png
  apps/learner-web-app/public/images/courseDefaultImages/hn_meribilli.png
  apps/learner-web-app/public/images/courseDefaultImages/बलगत_हद_Thumbnail.png
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @core-team

Issue #PS-000 chore: Created marks update logic for manual assessment
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Removed unwanted code
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

Updated logic to prefill marks in manual assessment
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed assessment type set issue
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

Fixed marks update issue
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

added evaluationType in payload
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed initial marks assign issue
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Fixed UI issues for SCP unit test
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/public/images/Tab with childrens 7.png
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

Fixed UI issue
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue feat: set constant random selected image to card
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

Added loader for landing page in lap, lmp and plp apps
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

Fixed language constant issue
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

scp issues
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Fixed UI Issues
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

hidden options for mcq in manual assessment
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Fixed UI issue
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
