Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Revert "Release 1.5.0 to teacher prod"
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/pages/resourceList.tsx
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/FormTemplate/ObjectFieldTemplate.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
  mfes/forget-password/src/app/reset-Password/page.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
  mfes/scp-teacher-repo/src/shared/FacilitatorManage/FacilitatorManage.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/QrModal.tsx
  mfes/workspace/src/pages/api/mocked-response.ts
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/youthNet/src/components/SimpleModal.tsx
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/pages/_app.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
  mfes/youthNet/src/pages/villages/index.tsx
  package-lock.json
  package.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Revert "Release 1.5.0 to teacher qa"
  apps/admin-app-repo/src/config/menuConfig.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: Resolve reassign issue and add random degit to learnber username
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

feat: add AI Assessment Creator option
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

Issue feat: Add navconfig by tenanat add club courses page for content and course tab shocase
  apps/learner-web-app/src/app/club-courses/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/club-courses/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/club-courses/[courseId]/page.tsx
  apps/learner-web-app/src/app/club-courses/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

fix:add ai-assessment-creatore
  mfes/workspace/src/pages/ai-assessment-creatore.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

fix:using AI UI as per figma
  mfes/workspace/src/pages/ai-assessment-creatore.tsx
Owners: @pratham-project-admin

themantic UI implementation and API integration
  apps/learner-web-app/src/app/pos/themantic/HomeCards/HomeCards.tsx
  apps/learner-web-app/src/app/pos/themantic/page.tsx
  apps/learner-web-app/src/app/themantic/HomeCards/HomeCards.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/app/themantic/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/page.tsx
  apps/learner-web-app/src/app/themantic/player/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/themanticCard/[cardId]/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/enrollment-details.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
  apps/learner-web-app/src/components/themantic/layout/Layout.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

themantic UI implementation and API integration
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

fix:Select Content and Set Parameters
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creatore.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: Update pr add google analytic events
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/pos/layout.tsx
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

mp3 support added
  .gitignore
  apps/admin-app-repo/next.config.mjs
  apps/admin-app-repo/src/utils/app.config.ts
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.constant.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.constant.ts
  mfes/editors/src/utils/app.config.ts
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/utils/Interface.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/workspace/next.config.js
  mfes/workspace/public/content-plugins
  mfes/workspace/src/components/players/Players.tsx
  mfes/workspace/src/pages/sunbirdPlayers.tsx
  mfes/workspace/src/utils/app.config.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @pratham-project-admin, @admin-app-owners, @teacher-app-owners, @core-team

Issue feat:Removed hardcoded uiconfig
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

sunbird content player upgrade
  apps/admin-app-repo/next.config.mjs
Owners: @admin-app-owners

sunbird content player upgrade
  apps/learner-web-app/next.config.js
  mfes/players/src/components/V1-Player/V1Player.tsx
Owners: @pratham-project-admin

mp3 support added in workspace
  apps/admin-app-repo/src/utils/app.config.ts
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.constant.ts
  mfes/editors/src/utils/app.config.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/workspace/src/utils/app.config.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

Issue feat: Fix Build issue
  libs/shared-lib-v2/src/types/declarations.d.ts
Owners: @core-team

update pr
  libs/shared-lib-v2/src/types/declarations.d.ts
Owners: @core-team

Issue feat: Build issue
  mfes/youthNet/src/assets/images/bgMP4.svg
Owners: @pratham-project-admin

fix: ai 2 section aip is reamining
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creatore.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

themantic Page API and UI implementation
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/app/themantic/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/enrollment-details.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

themantic Page API and UI implementation
  apps/learner-web-app/src/components/themantic/header/Header.tsx
Owners: @pratham-project-admin

fix: UI adjustments and partial API integration completed
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creatore.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @core-team, @pratham-project-admin

editor not found issue fix
  mfes/workspace/next.config.js
Owners: @pratham-project-admin

Issue feat: Add Restricts to camp to club user for access youthnet learner add firstname+lastname followed by 2 digit in priefilled username for youthnet
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/unauthorized/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-000 chore: Did api mapping for show and hide programs and configured signin and signup button for programs dynamically
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/courses-contents/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/courses-contents/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/courses-contents/[courseId]/page.tsx
  apps/learner-web-app/src/app/courses-contents/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

solved build issue
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

feat: implement AI API integration
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

Issue feat:Add unauthorize page translation
  apps/learner-web-app/src/app/unauthorized/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

fix:API issue
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @core-team, @pratham-project-admin

Issue feat: Add all fields to learner scp profile
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

video player added for mp3 audio
  mfes/players/public/libs/sunbird-video-player/sunbird-video-player.js
  mfes/players/src/components/players/Players.tsx
  mfes/workspace/src/components/players/Players.tsx
  mfes/workspace/src/pages/sunbirdPlayers.tsx
  mfes/workspace/src/utils/app.config.ts
Owners: @pratham-project-admin

Add constants
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

fix:Ui and ux
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/ConfirmationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

fix: correct slider range behavior and value limits
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
Owners: @pratham-project-admin

themantic Page API and UI implementation
  apps/learner-web-app/src/app/themantic/search/page.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

update constant key
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin
