Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Fix: Course content detail page grid and tracking issues
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin

fix:Ui
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Resolve profile issues and UI fixes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
Owners: @pratham-project-admin, @core-team

Fix: In Progress page and Top Bar UI issues
  apps/learner-web-app/public/images/image_ver.png
  apps/learner-web-app/public/images/image_ver1.png
  apps/learner-web-app/public/images/unit.png
  apps/learner-web-app/public/images/unit1.png
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/change-username/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/AccountExistsCard/AccountExistsCard.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/MobileVerificationSuccess/MobileVerificationSuccess.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/components/SimpleModal/SimpleModal.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Update pr:UI changes and Increse size of qr code for mobile screen
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

updated tour guide message
  apps/teachers/public/locales/en/common.json
  mfes/authentication/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @teacher-app-owners, @pratham-project-admin

Fix: Card UI and default image setup
  apps/learner-web-app/public/images/image_ver.png
  apps/learner-web-app/public/images/unit.png
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

Fix: Filters — hide fields and labels
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

Fix: In-Progress carousel
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

fix:In-Progress section mobile responsive
  apps/learner-web-app/src/app/in-progress/page.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
Owners: @pratham-project-admin, @core-team

fix:Show program-wise logo name for users
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

fix:carousel add paddingBottom
  mfes/content/src/components/Card/ContentCardCarousel.tsx
Owners: @pratham-project-admin

fix:sonar issue
  apps/learner-web-app/src/components/Layout.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
Owners: @pratham-project-admin

fix:build issue
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/textToSpeech/SpeakableText.tsx
  apps/learner-web-app/src/components/textToSpeech/SpeechAwareTooltip.tsx
  apps/learner-web-app/src/hooks/useSpeech.ts
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/context/SpeechContext.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  apps/learner-web-app/src/app/pos/page.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- font-size increased dicresed functionality
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

Issue feat: Sync mobile with parent num for <18 users
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

accessbililty functionality
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
  apps/learner-web-app/src/components/textToSpeech/SpeechNavigationIndicator.tsx
  libs/shared-lib-v2/src/hooks/useDisableClicks.ts
  libs/shared-lib-v2/src/hooks/useSpeech.ts
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/SpeechContext.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SafeLink.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeakableText.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeechAwareTooltip.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeechNavigationIndicator.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Hide bydefault submit button from mentor create and update profile form
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

fix:Display Breadcrumbs for Course and Unit Details, Supporting Nested Units
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

update pr
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/Profile.tsx
Owners: @pratham-project-admin

Fix: In-Progress carousel for desktop and player breadcrumb
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Issue feat:Sync mobile num with parent number
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat:Make forget password screens responsive
  mfes/forget-password/src/Components/AccountSelectionForm/AccountSelectionForm.tsx
  mfes/forget-password/src/Components/ForgotPasswordComponent/ForgotPasswordComponent.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
Owners: @pratham-project-admin

accessibility feature implemenatation
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-000 chore: Added notification changes
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  apps/teachers/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/firebase.js
  mfes/scp-teacher-repo/src/components/AllowNotification.tsx
  mfes/scp-teacher-repo/src/pages/index.tsx
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

accessibility feature implemenatation
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

fix: dynamic sorting of filter fields using onlyFields array and updating option values based on field dependencies
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/utils/helper.ts
Owners: @pratham-project-admin, @core-team

fix: filter issue in POS for school, work and life + program
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

fix:PDF full screen
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
Owners: @pratham-project-admin

fix:icon color black
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
