Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue #PS-5549 chore:Multi-role and Multi-tenant Support for LAP, LMP, and PLP Apps
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @teacher-app-owners, @core-team

Updated roleids
  libs/shared-lib-v2/src/utils/app.constant.ts
Owners: @core-team

Issue feat: replace route query for pos & to %26
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Updated json for role multirole support
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.config.ts
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/index.ts
Owners: @pratham-project-admin, @core-team

Reverted registeruser file code
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CardShimmer.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
Owners: @pratham-project-admin

Added multi role support in registration flow
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

sso fix multi role
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: certificate update
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

Issue feat: profile-certificate changes
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CardShimmer.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Changed switch account popup title to select account
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue #PS-000 chore: Fixed admin app redirect issue for multi tenant multi role
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @admin-app-owners, @core-team

Issue feat: Plp dynamic navbar items from uiconfig
  apps/learner-web-app/src/app/home-courses/page.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

qr code link fixed
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @pratham-project-admin

Fixed language update issue for Switch Account popup
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  libs/shared-lib-v2/src/lib/context/locales/hi.json
Owners: @core-team

Fixed late language update issue
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

Issue feat: Dynamic filter component, dynamic navbar options
  apps/learner-web-app/src/app/home-courses/HomeCoursesClient.tsx
  apps/learner-web-app/src/app/home-courses/page.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFrameworkWrapper.tsx
  apps/learner-web-app/src/components/FilterFramework/prompt.txt
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin, @core-team

fetch cicd files for production admin teacher learner
  .github/workflows/prod-deployment-admin.yaml
  .github/workflows/prod-deployment-learner.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

change framwork and channel for pragyanpath
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @pratham-project-admin

Issue feat: change pragyanpath channel and framework
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: update pr
  apps/learner-web-app/public/images/book_5.svg
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/home-courses/page.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.module.css
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
  apps/learner-web-app/src/components/staticFilterFields/index.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/knowledge-bank/page.tsx
  apps/learner-web-app/src/components/Content/CommonInprogressContent.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/staticFilterFields/README.md
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-000 chore: Fixed flickering issue for login
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

Issue feat: update pr
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

Issue feat: skills and course type filters
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
Owners: @pratham-project-admin

feat:add new react-quml-player
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/components/players/TekdiQuMLPlayer.tsx
  mfes/players/src/pages/global.css
  mfes/players/src/services/TelemetryService.ts
  package-lock.json
  package.json
Owners: @pratham-project-admin

Issue #PS-5397 chore: Added center and batch filter for FL and learner view in LAP
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/services/UserList.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners

Issue #PS-5577 feat: Added Manual Assessment menu
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Corrected maxSelection keyword in search json forms in lap
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/MasterVillageSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterBlockSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
Owners: @admin-app-owners

Issue feat: tenant changes
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/utils/fetchTenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-000 chore: Fixed mobile number update issue for FL
  apps/admin-app-repo/src/pages/facilitator.tsx
Owners: @admin-app-owners

Issue feat: Youthnet feedback and course name hover tooltip
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/HoverableText/HoverableText.tsx
  mfes/content/src/components/HoverableText/index.ts
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue feat: fix course card issue
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/services/Search.ts
Owners: @core-team, @pratham-project-admin

Issue feat: Build issue
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @core-team

Fixed batch language constant issue
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
Owners: @admin-app-owners

Issue #PS-000 chore: Moved action buttons at start in list view for all tabs in LAP
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
Owners: @admin-app-owners

Added batch column in list view for FL and learner
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
