Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

update pr
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
Owners: @admin-app-owners

POS feedback and themantic UI changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
Owners: @pratham-project-admin

background imgs redering
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
Owners: @pratham-project-admin

Issue feat: resolve reload content issue
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @pratham-project-admin

updated pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

update pr
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
Owners: @core-team

Issue #PS-000 chore: Modified content editor version
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

Issue #PS-5254 feat: 'Report an Issue' feature for Youthnet LMP
  mfes/youthNet/app.config.ts
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/pages/support-request.tsx
Owners: @pratham-project-admin

POS UI feedback changes
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

resolve search keyword issue
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue #PS-5255 feat: Added 'Report an Issue' feature for Youthnet Learner web
  apps/learner-web-app/app.config.ts
  apps/learner-web-app/src/app/support-request/page.tsx
  apps/learner-web-app/src/components/JotFormEmbed/JotFormEmbed.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/helper.ts
  apps/learner-web-app/src/utils/hooks/useDirection.js
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue #PS-5213 chore: Modified checklist for content creation
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

Issue #PS-000 fix: Allowed some special characters and number during course and question set creation
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

Issue feat: add course name on course card
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

survey fux
  mfes/scp-teacher-repo/src/components/observations/ObservationComponent.tsx
Owners: @pratham-project-admin

Fixed special characters accept issue
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

AI -assessment UI fixes
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Issue feat: course card ui consistency on plp
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

updated url_config to use pre exisiting env vars
  mfes/taxonomy-manager/src/utils/url.config.ts
Owners: @pratham-project-admin

fixes to satisfy sonar flags
  mfes/taxonomy-manager/src/components/framework/CategoryCard.tsx
  mfes/taxonomy-manager/src/styles/globals.css
Owners: @pratham-project-admin

Issue feat: Add correct appurl from env for mentor
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  apps/admin-app-repo/src/components/MentorForm/MentorAssignment.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/StepperForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Replaced env keywords to fix mentor create app link issue in email
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/MentorForm/MentorAssignment.tsx
  libs/shared-lib-v2/src/DynamicForm/components/StepperForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

update pr
  apps/learner-web-app/app.config.ts
  apps/learner-web-app/src/app/support-request/page.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/helper.ts
  apps/learner-web-app/src/utils/hooks/useDirection.js
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/workspace/src/pages/api/mocked-response.ts
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/components/JotFormEmbed/JotFormEmbed.tsx
Owners: @pratham-project-admin

close date text change on survey
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/survey-observations/src/Components/Surveys/Surveys.tsx
Owners: @core-team, @pratham-project-admin

Issue feat: Program Admin and StateAdmin should have the functionality to reactivate archived members
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/ConfirmationPopup.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

fix:issue
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

C2C registration - Showing YouthNet instead of Camp2Club in the success popup at the last
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
Owners: @pratham-project-admin

POS UI feedback changes
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Issue feat: store userprogram while signup
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed support request page back issue
  apps/learner-web-app/src/app/support-request/page.tsx
Owners: @pratham-project-admin

Updated question set editor version
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @pratham-project-admin

fix:issue and feedback
  apps/admin-app-repo/src/components/layouts/FullLayout.tsx
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/Sidebar.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/scp-teacher-repo/src/components/GenericModal.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

fix:Download Question Paper.pdf Ui chnage
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

Issue feat: Add number_of_children fields for c2c
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

add restore missing image
  apps/admin-app-repo/public/images/restore_user.svg
Owners: @admin-app-owners

Issue feat: change academic year dropdown text colour
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
Owners: @admin-app-owners
