Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue feat: course certification flow
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/contentService.ts
Owners: @pratham-project-admin

Issue feat: profile management flow
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/change-username/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/UsernameSuggestion/UsernameSuggestion.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

fix: unit UI
  apps/learner-web-app/public/images/unit.png
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  libs/shared-lib-v2/src/utils/API/Interceptor.ts
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

fis: build and sonar issue
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

fix:sonar issue
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

fix: build issue
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

Issue feat: Login and certificate fixes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Issue feat: profile and login page fixes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Issue feat: login, profile fixes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

Issue feat: build issues
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added reassign FL functionality for a batch
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/CompleteProfileBanner/CompleteProfileBanner.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/UsernameSuggestion/UsernameSuggestion.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/forget-password/src/Components/ForgotPasswordComponent/ForgotPasswordComponent.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: logout and consent form pdf
  apps/learner-web-app/public/files/consent_form_above_18_hindi.pdf
  apps/learner-web-app/public/files/consent_form_below_18_hindi.pdf
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/ProfileMenu/ProfileMenu.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

fix:conten page error
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
Owners: @pratham-project-admin

Removed unwanted console
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

fix: Ui and multypal API call
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/contentService.ts
  apps/learner-web-app/src/utils/API/userService.ts
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

fix:sonar issue
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
Owners: @pratham-project-admin

Issue #PS-4610 task: Skilling Center Near You UI implementation
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

fix:build issue and UI
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

multiple file upload
  apps/admin-app-repo/next.config.mjs
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/centers.tsx
  apps/learner-web-app/public/favicon.ico
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomFileUpload.tsx
  tsconfig.admin.base.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

multiple file upload
  tsconfig.admin.base.json
Owners: @pratham-project-admin

Issue #PS-4610 task: acedmic Year API implemented
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/utils/API/AcademicYearService.ts
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

Isue feat: profile page authorization and teanant name
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/change-username/page.tsx
  apps/learner-web-app/src/app/profile-complition/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

fix: set channelId, tenantId, and collectionFramework for public user to enable data and filter access
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Update UI
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Fixed null middlename issue
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
Owners: @pratham-project-admin

Issue feat: added isAuth check
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/change-username/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: fix mobile number issue
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
Owners: @core-team

Issue #PS-4610 task: acedmic Year API implemented
  apps/learner-web-app/src/app/skill-center/SkillCenter.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  apps/learner-web-app/src/utils/API/AcademicYearService.ts
  apps/learner-web-app/src/utils/API/CohortService.ts
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

fix: UI issues and hide profile link if user is not logged in
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

fix:navbar link button ui
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4610 task: acedmic Year API implemented
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-4610 task: acedmic Year API implemented
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue feat: UI issues
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

Issue #PS-4610 task: acedmic Year API implemented
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin
