Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

helper change
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

feat: add bulk import QuestionSet functionality to workspace MFE
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/utils/bulkImportValidation.ts
Owners: @pratham-project-admin

fix: set QuestionSet maxScore to sum of all question scores
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

Issue #PS-6403 chore: Integrated api to mark, retrieve and update session level attendance
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/AttendanceDetails.tsx
  mfes/scp-teacher-repo/src/components/MarkBulkAttendance.tsx
  mfes/scp-teacher-repo/src/components/MarkCenterAttendanceSessionsModal.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/AttendanceService.ts
  mfes/scp-teacher-repo/src/services/EventService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

sub program select common component
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

AcknowledgementWidget added common component
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/learner-web-app/public/files/c2c/Child_Protection_Policy_english.pdf
  apps/learner-web-app/public/files/c2c/Fraud_Protection_Policy_english.pdf
  apps/learner-web-app/public/files/c2c/NDA_Policy_english.pdf
  apps/learner-web-app/public/files/c2c/POCSO_Policy_english.pdf
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/ChildPocsoPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/NdaFraudPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue #PS-6407 chore: UI and payload changes for revamped attendance on attendance-history page
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
Owners: @pratham-project-admin

Issue feat: Resolve build issue
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue #PS-6404 chore: UI and payload changes for individual attendance view/mark/update
  mfes/scp-teacher-repo/src/components/MarkAttendance.tsx
  mfes/scp-teacher-repo/src/pages/learner-attendance-history.tsx
  mfes/scp-teacher-repo/src/services/AttendanceService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Add externalId and parentTaskId column rows empty for download csv and added consent form fields values while create user
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-6400 feat: UI and API Integration for Reset Attendance functionality
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/AttendanceService.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Payload changes on dashboard for last 7 days filter
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Issue #PS-6409 chore: Filter payload changes for attendance overview page
  mfes/scp-teacher-repo/src/components/DateRangePopup.tsx
  mfes/scp-teacher-repo/src/pages/attendance-overview.tsx
Owners: @pratham-project-admin

Issue #PS-6409 chore: Payload changes for filtering attendance overview data on attendance-overview page
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/scp-teacher-repo/src/pages/attendance-overview.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Updated payload for filters on learner profile page
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

Fixed attendance retention issue on dashboard
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Issue #PS-6464 fix: Removed RoleId from switch account screen
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

organization common component added
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

Issue #PS-6147 fix: Resolved 2 message issue on learner create
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Issue #PS-6341 fix: Map User as Mentor - the deleted Mentor villages appear acquired
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

learner details sent on email after creating by facilitator issue solved
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

learner details sent on email after creating by facilitator issue solved
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Issue feat: Remove consent form fileds value from lmp learner create and edit and plp leaner edit
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

update pr: Remove consent form fileds from edit and plp leaner edit
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

new changes for onboarding common component
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/learner-web-app/src/app/navapatham/page.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/ChildPocsoFraudPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/NdaPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  mfes/authentication/src/pages/login.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
  mfes/youthNet/src/components/MenuDrawer.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

organization component updated
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
Owners: @core-team

Issue #PS-6477 fix: Fixed Inconsistency in Block and Villages on manual assessment page
  mfes/youthNet/src/components/youthNet/DropDown.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/utils/location/catchment.ts
Owners: @pratham-project-admin

Issue feat: add content id, unit id and course id in analytic parameter events
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

userlist api added for ptm list component
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/ChildPocsoFraudPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/NdaPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrgCohortCreateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
Owners: @admin-app-owners, @core-team

max score fixes
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

Removed bulk import from workspace
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

update pr: Correct doid logic
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

Issue #PS-6424 feat: Integrate the notification template on Frontend for all staff roles from LAP and LMP
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/notifications/programMapping.ts
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

changes push
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Changed banner for navapatham
  apps/learner-web-app/src/app/navapatham/page.tsx
Owners: @pratham-project-admin

Issue feat: Ptm registeration flow from plp
  apps/learner-web-app/src/components/UserProfileCard/CongratulationsModal.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/services/Interceptor.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

common component done
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormConstant.ts
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrgCohortCreateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/POCNameSelectWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

register_type added
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/RegisterTypeWidget.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-6483 chore: Added username on learner-attendance-history page
  mfes/scp-teacher-repo/src/pages/learner-attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
