Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

fix:old drawer
  libs/shared-lib/src/lib/Drawer/CommonDrawer.tsx
Owners: @core-team

Added Learner .yaml file for deployment
  .github/workflows/dev-deployment-learner.yaml
Owners: @pratham-project-admin

Added Dockerfile.learner in the github actions
  .github/workflows/dev-deployment-learner.yaml
Owners: @pratham-project-admin

Added Dockerfile.learner in the github actions
  .github/workflows/dev-deployment-learner.yaml
Owners: @pratham-project-admin

Issue feat: UI and theme changes for forget password
  mfes/forget-password/src/Components/AccountSelectionForm/AccountSelectionForm.tsx
  mfes/forget-password/src/app/account-selection/page.tsx
  mfes/forget-password/src/app/forget-password/page.tsx
  mfes/forget-password/src/app/layout.tsx
  mfes/forget-password/src/app/reset-Password/page.tsx
  mfes/forget-password/src/app/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

Added env file on server as well
  .github/workflows/dev-deployment-learner.yaml
Owners: @pratham-project-admin

fix: build issue
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/theme.d.ts
  apps/learner-web-app/src/theme/theme.d.ts
  apps/learner-web-app/src/utils/API/EndUrls.ts
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Textfield/CommonTextfeild.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/theme/theme.d.ts
  libs/shared-lib-v2/tsconfig.json
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/index.tsx
  mfes/players/src/services/PlayerService.ts
Owners: @pratham-project-admin, @core-team

Added New Secret variable
  .github/workflows/dev-deployment-learner.yaml
Owners: @pratham-project-admin

Updating tenantConfig for youthnet to use POS taxonomy
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat PS-4451:L2 interest-based courses workflow UI Implement (after login)
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/LTwoCourse.tsx
  apps/learner-web-app/src/app/content/LevelUp.tsx
  apps/learner-web-app/src/app/content/ResponseRecorded.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/components/Modal/CommonModal.tsx
Owners: @pratham-project-admin

Issue feat PS-4451:L2 interest-based courses workflow UI Implement (after login)
  apps/learner-web-app/src/app/content/LevelUp.tsx
  apps/learner-web-app/src/app/content/ResponseRecorded.tsx
Owners: @pratham-project-admin

Issue feat PS-4451:L2 interest-based courses workflow UI Implement (after login)
  apps/learner-web-app/src/app/content/ResponseRecorded.tsx
Owners: @pratham-project-admin

Updating tenantConfig for youthnet to use POS taxonomy
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

fix: tracking display and card design
  apps/learner-web-app/public/images/image_ver.png
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/LearnerCourse.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  apps/learner-web-app/src/middleware.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/pages/content-details/[identifier].tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/details/[identifier].tsx
Owners: @pratham-project-admin, @core-team

Updating tenantConfig for Youthnet and Pragyanpath
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  apps/learner-web-app/src/app/forget-password/page.tsx
Owners: @pratham-project-admin

Issue #PS-4404: Added Btach creation flow in teacher app
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortService/cohortService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @pratham-project-admin

update pr: resolve comments
  mfes/forget-password/src/Components/AccountSelectionForm/AccountSelectionForm.tsx
  mfes/forget-password/src/app/layout.tsx
  mfes/forget-password/src/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

Issue feat: certificate modal and api integrations
  apps/learner-web-app/src/app/login/page.tsx
  libs/shared-lib-v2/images/tada.gif
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/utils/API/EndUrls.ts
  libs/shared-lib-v2/src/utils/API/Interceptor.ts
  libs/shared-lib-v2/src/utils/API/LoginService.ts
  libs/shared-lib-v2/src/utils/API/RestClient.ts
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
Owners: @pratham-project-admin, @core-team

fix: in-progress list page and section; only API integration is remaining
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
Owners: @pratham-project-admin, @core-team

Issue feat PS-4451:L2 interest-based courses workflow UI Implement (after login)
  apps/learner-web-app/next.config.js
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/LTwoCourse.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/LTwoContent/LevelUp.tsx
  apps/learner-web-app/src/components/LTwoContent/ResponseRecorded.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

fix: build issue
  mfes/content/src/pages/content-details/[identifier].tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

fix: build
  apps/learner-web-app/src/app/page.tsx
Owners: @pratham-project-admin

Ui changes for carousel
  apps/learner-web-app/src/app/page.tsx
Owners: @pratham-project-admin

Revert "Main admin prod"
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Fixed deployment issue for prod
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Reverted changes for deployment issue
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Issue feat PS-4457:Implement program selection UI and Home Page UI
  apps/learner-web-app/src/app/page.tsx
Owners: @pratham-project-admin

Issue feat: observation fixes
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
  mfes/scp-teacher-repo/src/pages/observation/index.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/youthNet/src/utils/Helper.ts
Owners: @pratham-project-admin

fix:Enrolled, not started status api integrate
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/services/Certificate.ts
Owners: @core-team, @pratham-project-admin

Issue feat: OTP verification and user account exist API integration for regiostration
  apps/learner-web-app/public/images/Group 3.png
  apps/learner-web-app/public/images/Group.png
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/AccountExistsCard/AccountExistsCard.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/MobileVerificationSuccess/MobileVerificationSuccess.tsx
  apps/learner-web-app/src/components/OtpVerificationComponent/OtpVerificationComponent.tsx
  apps/learner-web-app/src/components/SimpleModal/SimpleModal.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/OtPService.ts
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

Issue #PS-4465 feat: Implement prop based initial filters which work for L1 course and Explore option from host app to micro frontend
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  apps/learner-web-app/src/app/content/FilterComponent.tsx
  apps/learner-web-app/src/app/login/page.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/utils/APIEndpoints.ts
  libs/shared-lib-v2/src/utils/AuthService.ts
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue #PS-4465 feat: Implement prop based initial filters which work for L1 course and Explore option from host app to micro frontend
  libs/shared-lib-v2/src/utils/APIEndpoints.ts
Owners: @core-team

Added Learner deployment file for Prod and QA and Modified the Dev File for the deployment
  .github/workflows/prod-deployment-learner.yaml
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

fix: build issue
  mfes/content/src/services/Certificate.ts
Owners: @pratham-project-admin

Issue #PS-4465 feat: Implement prop based initial filters which work for L1 course and Explore option from host app to micro frontend
  apps/learner-web-app/src/app/content/FilterComponent.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/utils/AuthService.ts
Owners: @pratham-project-admin, @core-team

Issue #PS-4465 feat: Implement prop based initial filters which work for L1 course and Explore option from host app to micro frontend
  apps/learner-web-app/src/app/page.tsx
Owners: @pratham-project-admin

Issue feat: apply filters for l1 course and Integrate courseId api and removed hardcdeed doIds
  apps/learner-web-app/src/app/content/LearnerCourse.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
  mfes/content/src/pages/content.tsx
Owners: @pratham-project-admin

Issue #PS-4410 chore: Added re-assign learner flow
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CohortFacilitatorList.tsx
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Updated PR
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
