Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

PS-6953 : POS – Collapsible accordion footer with fixed bottom strip
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

PS-6950 : Introduce Footer on PLP
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/components/Footer/Footer.tsx
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
  apps/learner-web-app/src/components/Footer/index.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

PS-6935 : Pragyanpath - show correct error message on login screen
  apps/admin-app-repo/src/pages/sso/index.tsx
  apps/admin-app-repo/src/services/Interceptor.ts
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/utils/API/Interceptor.ts
  libs/shared-lib/src/utils/Interceptor.ts
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: add clear button for learner registeration location filter
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

helper
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

resume feature added
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
  mfes/players/src/components/players/ContentPlayerV2.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
  mfes/players/src/utils/url.config.ts
Owners: @pratham-project-admin

Issue feat: Learners from Previous Academic Year (assigned to batch) should not see Pre Qualification Test Pop Up
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

hide button of content create
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

Bug Fix : PS-7014 - What is your preferred mode of learning? field appear in Complete Profile page
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Bug Fix : PS-7014 - What is your preferred mode of learning? field appear in Complete Profile page
  apps/learner-web-app/src/app/programs/page.tsx
Owners: @pratham-project-admin

Bug Fix : PS-7014 - What is your preferred mode of learning? field appear in Complete Profile page
  apps/learner-web-app/src/app/programs/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Bug Fix : PS-7014 - What is your preferred mode of learning? field appear in Complete Profile page
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

POS menus open in new tab
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

pdf download issue solved
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

POS Content card - open in new tab changes
  apps/learner-web-app/src/components/pos/List.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

Thementic Cards - Open in new tab changes
  apps/learner-web-app/src/components/themantic/content/List.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

enable bulk import menu
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

LMP : Teaching center and Batch list open in new tab option
  mfes/scp-teacher-repo/src/components/BatchList.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Bug fixes for bulk import
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  apps/admin-app-repo/tsconfig.tsbuildinfo
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Delete apps/admin-app-repo/tsconfig.tsbuildinfo
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

PS-6950 : Introduce Footer on PLP
  apps/learner-web-app/src/components/Footer/Footer.tsx
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
Owners: @pratham-project-admin

PS-6950 : Introduce Footer on PLP
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
Owners: @pratham-project-admin

PS-7041: LAP = Learner list - issue with search activity. Learners getting enrolled in the Pratham tenant
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat cms pagination retension and program
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/editors/src/services/sendContentNotification.ts
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
  mfes/workspace/src/services/sendContentNotification.ts
Owners: @pratham-project-admin

PS-7041: LAP = Learner list - issue with search activity. Learners getting enrolled in the Pratham tenant
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

android player file added
  mfes/players/public/libs/content-player-v2/index_android.html
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

PS-6947 : Green success checkmark circle is misaligned / not rendered correctly on authentication screen
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

mpeg mimetype support added
  Project_Tech_Arch_UI_UX/PROJECT_REQUIREMENTS.md
  Project_Tech_Arch_UI_UX/TECH_ARCHITECTURE.md
  apps/admin-app-repo/src/utils/app.config.ts
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.constant.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.constant.ts
  mfes/editors/src/utils/app.config.ts
  mfes/players/public/libs/sunbird-content-player/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/libs/videolibs/video.min.js
  mfes/players/public/libs/sunbird-content-player/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/plugin.js
  mfes/players/public/libs/sunbird-content-player/preview/script.min.1.1.js
  mfes/players/public/libs/sunbird-video-player/sunbird-video-player.js
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/utils/Interface.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/workspace/src/components/players/Players.tsx
  mfes/workspace/src/pages/sunbirdPlayers.tsx
  mfes/workspace/src/utils/app.config.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @pratham-project-admin, @admin-app-owners, @teacher-app-owners, @core-team

PS-6881 : Mobile browser = POS - Content list - UI broken for filter section
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

Issue feat:cms changes
  mfes/editors/src/services/sendContentNotification.ts
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
  mfes/workspace/src/services/sendContentNotification.ts
Owners: @pratham-project-admin

update pr
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

PS-7051 : Learner profile edit - Does this phone belongs to you? field appear as required even if 'Type of Phone Accessible' field set to No
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7051 : Learner profile edit - Does this phone belongs to you? field appear as required even if 'Type of Phone Accessible' field set to No
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-6840 : Update useful links for POS
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
Owners: @pratham-project-admin

PS-6840 : Update useful links for POS
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
