Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

update pr
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseAchievement.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
  mfes/scp-teacher-repo/src/pages/sso/index.tsx
  mfes/scp-teacher-repo/src/services/PlayerService.ts
  mfes/scp-teacher-repo/src/utils/url.config.ts
Owners: @pratham-project-admin

center list search and map user
  apps/admin-app-repo/src/components/MapUser/CenterListWidget.tsx
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/leader-user.tsx
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomCenterListWidget.jsx
Owners: @admin-app-owners, @core-team

update pr
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue feat:Pos text change request
  apps/learner-web-app/src/components/pos/AboutUs.tsx
Owners: @pratham-project-admin

Issue #PS-5859 chore: Handled modified response for tenant/read api
  apps/admin-app-repo/src/services/LoginService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  mfes/authentication/src/pages/login.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/TopPerformers.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

update pr
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @teacher-app-owners, @core-team

email search component change
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
Owners: @admin-app-owners

update pr
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

Issue #PS-5653 chore: Modified PR due to response changes
  apps/admin-app-repo/src/pages/central-head.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
  apps/admin-app-repo/src/services/UserService.ts
  mfes/scp-teacher-repo/src/components/DeleteUserModal.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
Owners: @admin-app-owners, @pratham-project-admin

Revert "Merge 1.12 to 1.13"
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/components/DeleteUserModal.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/subjectDetails.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/assessment/QuestionMarksManualUpdate.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
  mfes/players/public/libs/sunbird-quml-player/index.html
  mfes/players/src/services/PlayerService.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
  mfes/workspace/src/components/DynamicMultiFilter.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

update pr
  mfes/scp-teacher-repo/MANAGER_DASHBOARD_IMPLEMENTATION.md
  mfes/scp-teacher-repo/QUICK_START_MANAGER_DASHBOARD.md
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/services/PlayerService.ts
  mfes/scp-teacher-repo/src/services/ProfileService.ts
  mfes/scp-teacher-repo/src/services/TrackingService.ts
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/EmployeeDetails/index.ts
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

rushikesh tenant changes
  apps/admin-app-repo/src/services/LoginService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat:Add thematic anlytic url condition, v@c filter check, last name tip for all forms
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Add experimento india url for google anlaytic
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
Owners: @pratham-project-admin

build issue
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

replay button hide
  mfes/players/public/libs/sunbird-quml-player/index.html
Owners: @pratham-project-admin

Issue feat: Remove filter condition for creativity club
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/ManagerDashboard/CourseAllocation.tsx
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue #PS-5653 chore: Removed global user deletion and added program specific delete functionality for scp and youthnet on lmp
  apps/admin-app-repo/src/components/UserTable.tsx
  mfes/scp-teacher-repo/src/components/DeleteUserModal.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/services/youthNet/Dashboard/UserServices.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-000 chore: show menu in prgyanpath
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue feat: add go to home button
  apps/learner-web-app/src/app/unauthorized/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue #PS-5884 chore: Added multi-language support for course or assessment title during creation
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/EmployeeDetails/CourseCard.tsx
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/youthNet/src/components/ManagerDashboard/TopPerformers.tsx
Owners: @pratham-project-admin

Issue feat: new manager dashboard ui changes
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgress.tsx
Owners: @pratham-project-admin

added user update
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
  apps/admin-app-repo/src/pages/leader-user.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

downlaod hide from player
  apps/admin-app-repo/src/data/player-config.ts
  mfes/players/src/components/players/PlayerConfig.js
  mfes/players/src/utils/url.config.ts
  mfes/scp-teacher-repo/src/data/player-config.ts
  mfes/workspace/src/components/players/PlayerConfig.js
Owners: @admin-app-owners, @pratham-project-admin

Issue feat:loading false when compltion data is empty and handle condition when userlist api response isempty data
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue feat: Ifuser have psu jobfamily, group membership customfields then add NA for it
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/pages/employee-details/index.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

emp grp
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

Issue #PS-5653 chore: Replaced status keyword with tenantStatus in youthnet in lmp
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/index.tsx
  mfes/youthNet/src/pages/villageDetails/[villageName].tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/pages/volunteerList.tsx
  mfes/youthNet/src/services/youthNet/Dashboard/UserServices.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/public/images/home_children.png
  apps/learner-web-app/public/images/workers.png
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

Issue feat: username auto update issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team
