Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue task PS-4244 :UI bug fixes
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/RegistrationStatistics.tsx
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue #PS-4318 feat: ECML Editor Integration in CMS
  .gitignore
  libs/shared-lib/src/index.ts
  libs/shared-lib/src/lib/ContentEditor/ContentEditor.tsx
  mfes/editors/src/components/ContentEditor.tsx
  mfes/editors/src/components/editor.config.json
  mfes/workspace/src/components/CourseCard.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/api/mocked-response.ts
  mfes/workspace/src/pages/api/proxy.ts
  mfes/workspace/src/pages/resource-editor.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/ContentService.ts
  tsconfig.base.json
Owners: @pratham-project-admin, @core-team

workspace do id added in url
  apps/admin-app-repo/src/pages/workspace/index.tsx
Owners: @admin-app-owners

Issue feat: Fix center and batch Issues
  apps/admin-app-repo/src/components/Centerlabel.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/batch.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
Owners: @admin-app-owners

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  mfes/youthNet/src/components/youthNet/RegistrationStatistics.tsx
Owners: @admin-app-owners, @pratham-project-admin

update pr
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
Owners: @admin-app-owners

Issue feat: Restrict name redirection for submitted by name for learner survey
  mfes/youthNet/src/components/youthNet/EntryContent.tsx
  mfes/youthNet/src/components/youthNet/UserCard.tsx
Owners: @pratham-project-admin

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/block.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/district.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/village.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
Owners: @admin-app-owners, @teacher-app-owners

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/village.tsx
Owners: @admin-app-owners

Issue task PS-4244 :UI bug fixes
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @admin-app-owners

Issue task PS-4244 :UI bug fixes
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/components/WorkspaceHeader.tsx
Owners: @pratham-project-admin

bug solved
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/teachers/public/favicon.ico
  apps/teachers/src/pages/index.tsx
Owners: @admin-app-owners, @teacher-app-owners

deploy file changes
  .github/workflows/dev-deployment-admin-dev.yaml
  .github/workflows/dev-deployment-admin-qa.yaml
  .github/workflows/dev-deployment-teacher-dev.yaml
  .github/workflows/dev-deployment-teacher-qa.yaml
  .gitignore
  mfes/scp-teacher-repo/public/sw.js
  package-lock.json
Owners: @pratham-project-admin

issue solved
  .github/workflows/dev-deployment.yaml
  .github/workflows/qa-deployment.yaml
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin, @admin-app-owners

deployment fix
  .github/workflows/dev-deployment-admin.yaml
  .github/workflows/dev-deployment-teacher.yaml
  .github/workflows/qa-deployment-admin.yaml
  .github/workflows/qa-deployment-teacher.yaml
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
Owners: @pratham-project-admin, @admin-app-owners

deployment fix
  .github/workflows/dev-deployment-admin.yaml
  .github/workflows/dev-deployment-teacher.yaml
Owners: @pratham-project-admin

Issue #PS-4311 fix: Added content in Course are not visible
  mfes/workspace/public/placeholderImage.png
  mfes/workspace/src/components/ResourceCard.tsx
  mfes/workspace/src/pages/course-hierarchy/[identifier].tsx
  mfes/workspace/src/pages/play/content/[identifier].tsx
  mfes/workspace/src/services/PlayerService.ts
  mfes/workspace/src/utils/url.config.ts
Owners: @pratham-project-admin

Issue #PS-4318 feat: ECML Editor Integration in CMS
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue task PS-4244 :select height isuue fix
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @admin-app-owners

rjsf fix
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.tsx
  apps/admin-app-repo/src/constant/Forms/MasterVillageSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterBlockSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
  apps/admin-app-repo/src/pages/mentor-leader.tsx
Owners: @admin-app-owners

Issue task PS-4244 :select height isuue fix
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/pages/_app.tsx
Owners: @admin-app-owners

Issue #PS-4311 fix: Fix loading of PDF and Youtube player
  mfes/workspace/next.config.js
  mfes/workspace/src/pages/course-hierarchy/[identifier].tsx
  mfes/workspace/src/pages/play/content/[identifier].tsx
Owners: @pratham-project-admin

Issue feat :pascal case label
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
Owners: @admin-app-owners

Issue task PS-4244 :select height isuue fix
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @admin-app-owners

Issue feat:Add constants for multichekbox
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @admin-app-owners

dob fix
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
Owners: @admin-app-owners

Issue #PS-3861 fix: When Review course opened from All My Content it redirects to the Workspace
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/course-hierarchy/[identifier].tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: add translation for form checkmarks
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomCheckboxWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @admin-app-owners

Issue task PS-4244 :state field issue fix
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
Owners: @admin-app-owners

Issue task PS-4244 :state field issue fix
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
Owners: @admin-app-owners

Issue task PS-4244 :state field issue fix
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
Owners: @admin-app-owners

Issue feat: solve state dropdown isssue
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue task PS-4244 :new mentor form UI issue fix
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/components/youthNet/MentorForm/VillageSelection.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin
