Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

update pr
  mfes/scp-teacher-repo/next.config.mjs
Owners: @pratham-project-admin

Issue feat: Add Form translation
  apps/admin-app-repo/src/config/menuConfig.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

Underline the text functinality implementation
  apps/learner-web-app/public/images/Basics_of_energ.png
  apps/learner-web-app/public/images/Websites-2.png
  apps/learner-web-app/public/images/arrow.png
  apps/learner-web-app/public/images/energy-background.png
  apps/learner-web-app/public/images/home-page-banner.png
  apps/learner-web-app/public/images/pratham-left1.png
  apps/learner-web-app/public/images/siemens-logo_updated.png
  apps/learner-web-app/public/images/siemens-stiftung-logo_updated.png
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/themantic/fotter/Footer.tsx
  apps/learner-web-app/src/app/pos/themantic/header/Header.tsx
  apps/learner-web-app/src/app/pos/themantic/layout/Layout.tsx
  apps/learner-web-app/src/app/pos/themantic/page.tsx
  apps/learner-web-app/src/app/pos/themantic/themanticCard/ThemanticCard.tsx
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Underline the text functinality implementation
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeakableText.tsx
Owners: @core-team

POS issue fix
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/app/pos/page.tsx
Owners: @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

change faq icon
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

fix: implement filter as drawer on mobile, update filter on check box click, and apply tab colors as per Figma
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Resolve notification isssue
  apps/teachers/firebase.js
  apps/teachers/firebaseConfig.js
  apps/teachers/public/firebase-messaging-sw.js
  apps/teachers/src/components/AllowNotification.tsx
  apps/teachers/src/components/Notification.tsx
  apps/teachers/src/pages/_app.tsx
  mfes/authentication/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/src/pages/index.tsx
Owners: @teacher-app-owners, @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

POS issue fix
  apps/learner-web-app/src/app/pos/page.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
Owners: @pratham-project-admin

update pr
  apps/teachers/public/firebase-messaging-sw.js
  mfes/authentication/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/src/components/Notification.tsx
Owners: @teacher-app-owners, @pratham-project-admin

fix:POS login redirect issue + branding logo moving it should be static and stable on mobile view +
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin, @core-team

fix:pos defult image issue on unit page
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
Owners: @pratham-project-admin

fix:school, work and life page mobile view
  apps/learner-web-app/src/app/pos/List.tsx
Owners: @pratham-project-admin

fix:PDF full screen css + menu icon color + pos footer usefull links open new tab
  apps/learner-web-app/src/components/pos/Footer.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Resolved application issue
  apps/teachers/src/components/Notification.tsx
Owners: @teacher-app-owners

Underline the text functinality implementation
  apps/learner-web-app/src/components/Learning.tsx
Owners: @pratham-project-admin

fix:issue link
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

fix: nav bar logo to right
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

fix:back button loop issue
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin

fix: add Pradigi logo in POS footer and show placeholder text when description is missing
  apps/learner-web-app/src/components/pos/Footer.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/Discription.tsx
  mfes/content/src/components/Card/UnitCard.tsx
Owners: @pratham-project-admin

fix:breadcrum
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

feat: add 'Read More' functionality for long descriptions
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Notification domain issue
  mfes/scp-teacher-repo/src/pages/index.tsx
Owners: @pratham-project-admin

fix: player 'More Related Content' card grid layout
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/Discription.tsx
Owners: @pratham-project-admin, @core-team

fix: remove certificate from course detail page and stop certificate generation for POS
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

fix: align unit and content cards using unit icon
  apps/learner-web-app/public/images/unitIcon.svg
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
Owners: @pratham-project-admin

Issue feat: Add dynamic form for filter on skilling center page
  apps/admin-app-repo/src/pages/centers.tsx
  apps/learner-web-app/src/components/CohortSearch.js
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/utils/app.constant.ts
Owners: @pratham-project-admin

fix:card color issue
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/next-env.d.ts
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

fix: capitalize titles and apply PascalCase to descriptions on content, course, and info cards
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @core-team, @pratham-project-admin

fix: course status icon display issue
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @core-team

changes added
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/ProfileMenu/ProfileMenu.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin, @core-team

changes added
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

changes added
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/themantic/fotter/Footer.tsx
  apps/learner-web-app/src/app/pos/themantic/themanticCard/ThemanticCard.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
