Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Update prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Issue #PS-000 chore: Added notifications for reassignment flow
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

negavtive marking issue fix
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue feat :Dynamic filter for content library
  mfes/workspace/src/components/DynamicMultiFilter.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: added notification for mentor lead reassign
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Fixed notification issue for mentor reassign in teacher app
  mfes/scp-teacher-repo/src/hooks/useNotification.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Updated PR
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Added toast message on QR code link copied
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @pratham-project-admin

feedBack changes
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/app/themantic/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/layout.tsx
  apps/learner-web-app/src/app/themantic/page.tsx
  apps/learner-web-app/src/app/themantic/player/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/search/page.tsx
  apps/learner-web-app/src/app/themantic/themantic.css
  apps/learner-web-app/src/app/themantic/themanticCard/[cardId]/page.tsx
  apps/learner-web-app/src/app/themantic/theme/ThematicMuiThemeProvider.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/themantic/Search.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

Removed array for deviceId in notification service
  mfes/scp-teacher-repo/src/hooks/useNotification.tsx
Owners: @pratham-project-admin

Resolved circular dependency issue in build
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  apps/admin-app-repo/src/services/MasterDataService.ts
  apps/admin-app-repo/src/services/UserList.ts
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/services/MasterDataService.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Updated PR
  mfes/scp-teacher-repo/src/hooks/useNotification.tsx
Owners: @pratham-project-admin

Resolved build issue
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
Owners: @pratham-project-admin

Issue feat: Add content library feature
  mfes/workspace/src/components/DynamicMultiFilter.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

ATM bug fixes for facillitior
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Hidden Stepper form if all disabled field in teacher app
  apps/admin-app-repo/src/pages/mentor.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

ATM bug fixes for facillitior
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/services/FileUploadService.ts
Owners: @pratham-project-admin

ATM bug fixes for facillitior
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
Owners: @pratham-project-admin

ATM bug fixes for facillitior
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

ATM bug fixes for facillitior
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed language change issue for admin app
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
Owners: @admin-app-owners

ATM bug fixes for facillitior
  mfes/workspace/src/pages/editor.tsx
Owners: @pratham-project-admin

fix:PS-5109 and PS-5139
  mfes/workspace/src/assets/images/assessment.svg
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/editor.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

ATM bug fixes for facillitior
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

POS filter changes
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

login redirect workspace
  mfes/workspace/src/pages/_app.tsx
Owners: @pratham-project-admin

POS filter changes
  mfes/workspace/src/components/WorkspaceText.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added language constant
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Fixed youthnet issues
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/services/youthNet/Dashboard/UserServices.ts
Owners: @admin-app-owners, @pratham-project-admin

Add space in signup text
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

fix: primary multi-select and content PDF list issue
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

POS filter changes
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

POS filter changes
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
Owners: @pratham-project-admin

POS filter changes
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
