Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Added params for camp to club login page
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added dynamic route for login as per program
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

Updated PR
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin

Updated PR
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Resolve the conflicts related to Shreyas's work.
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/list/index.tsx
Owners: @pratham-project-admin

Issue feat: Search content issue
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue feat: for Inprogress section needs reload
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
Owners: @pratham-project-admin

profile render issue
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Resolved uiConfig localStorage store issue
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

Resolved uiConfig localStorage store issue
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

Updated PR
  apps/learner-web-app/src/app/home/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

Fix: Answer sheet upload popup flow
  mfes/scp-teacher-repo/src/components/assessment/Camera.tsx
  mfes/scp-teacher-repo/src/components/assessment/IMPLEMENTATION_SUMMARY.md
  mfes/scp-teacher-repo/src/components/assessment/ImagePreview.tsx
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/index.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue feat: translation and logout button issue
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/home/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Fix status indicator colour for course and content upon language change
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @core-team

pdf file generate module completed
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

Issue feat: Add correct header to home page and removed carousel if there are only one image adjust login signup button padding
  apps/learner-web-app/src/app/home/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/home/page.tsx
Owners: @pratham-project-admin

issue feat: Add constants
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: Trial error for iprogress page language page layout issue
  apps/learner-web-app/src/app/in-progress/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/in-progress/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/in-progress/page.tsx
Owners: @pratham-project-admin

Restricted uiConfig Delete on login page
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

fix:upload s3bucket + call API AI Evaluation
  mfes/scp-teacher-repo/src/components/assessment/IMPLEMENTATION_SUMMARY.md
  mfes/scp-teacher-repo/src/components/assessment/ImagePreview.tsx
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/index.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  mfes/scp-teacher-repo/src/services/FileUploadService.ts
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: Resolve issues
  apps/admin-app-repo/public/locales/en/common.json
  apps/learner-web-app/public/images/Pratham_Logo.png
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/GoogleDocViewer/GoogleDocViewer.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: update pr
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @core-team

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/components/ConfirmationModal.tsx
  mfes/scp-teacher-repo/src/components/GenericModal.tsx
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

issue feat: Resolve status icon issue for course card
  apps/learner-web-app/src/components/GoogleDocViewer/GoogleDocViewer.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @pratham-project-admin, @core-team

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

pdf file generate module completed
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue feat: Resolve isActive page bg colour ui issue
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Fix: Change PDF URL path key from downloadUrl to previewUrl
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
Owners: @pratham-project-admin

ATM UI implementation and API integraation
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin
