Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

staff role mapping done
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Added check to display download content button for POS and experimento india only
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  libs/shared-lib-v2/src/SwitchAccount/DownloadContent.config.ts
Owners: @pratham-project-admin, @core-team

staff role mapping done
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
Owners: @admin-app-owners

added constant
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/scp-teacher-repo/public/locales/dummy.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Fixed UI issues
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/WorkingLocationWidget.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

state lead and content creator data load fix
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Added aplhabetical ordering and capital first letter support for AutoCompleteMultiselectWidget
  apps/admin-app-repo/public/locales/en/common.json
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Added center support in search schema for mobilizer
  apps/admin-app-repo/src/constant/Forms/MobilizerSearch.js
Owners: @admin-app-owners

Replaced mobilizer with mentor
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/MobilizerSearch.js
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Revert "Feat lead mapping new to 13 qa"
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
Owners: @admin-app-owners

Revert "Revert "Feat lead mapping new to 13 qa""
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
Owners: @admin-app-owners

Added working villages in profile for youthnet
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/Profile.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Updated PR
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormConstant.ts
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @core-team, @pratham-project-admin

Issue #PS-6129 fix: Learner Showing in Both Batches After Reassignment in board enrollment
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
Owners: @pratham-project-admin

batch list compoennt for instructor view
  apps/admin-app-repo/src/pages/user-instructor.tsx
  libs/shared-lib-v2/src/MapUser/BatchListWidget.tsx
Owners: @admin-app-owners, @core-team

1st changes
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/LoginService.ts
  apps/admin-app-repo/src/utils/Helper.ts
  apps/learner-web-app/public/images/home_children.png
  apps/learner-web-app/public/images/workers.png
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

pr 2
  apps/learner-web-app/src/app/scp-dashboard/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchSuccessModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/BottomActionBar.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/CallLogModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/MoreOptionsBottomSheet.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationTabs.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/dummyData.ts
  mfes/scp-teacher-repo/src/components/UserRegistration/index.ts
  mfes/scp-teacher-repo/src/components/UserRegistration/types.ts
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/CohortService/cohortService.ts
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/services/MasterDataService.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin, @core-team

pr 3
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

pr 4
  apps/learner-web-app/src/app/login/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin, @core-team

pr 5
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

pr 7
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

pr 8
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue #PS-000 chore: Updated user-instructor creation flow
  apps/admin-app-repo/src/pages/user-instructor.tsx
  libs/shared-lib-v2/src/MapUser/BatchListWidget.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: Fixed center batch dropdown issue for learning management in lmp
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

issue solved
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

multi enroll issue solved
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

multi enroll issue solved
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Show course for scp self registration
  apps/learner-web-app/src/app/scp-dashboard/page.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
Owners: @pratham-project-admin

fix state district center attach
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

Updated PR
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

issues fixed self registration flow
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: Add translations for lead management and registration flow and also enable telgu language selection on home page, login page and program selection page
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchSuccessModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/BottomActionBar.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/MoreOptionsBottomSheet.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationTabs.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin, @core-team

update pr
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue feat: Program wise fields profile view
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

new issue solved
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/DynamicForm/services/CreateUserService.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin, @core-team

Issue feat: add pos channel check for program condition to access courses
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: remove tenant id from body for user-certificate tracking api
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

Form fixes
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
