Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: Add required validat
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
Owners: @admin-app-owners, @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
Owners: @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/public/images/engineering.png
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

changes added
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

Issue feat:add separate eye visbility condition for two password box
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

course planner add, delete
  apps/admin-app-repo/src/components/CoursePlan/AlertDialog.tsx
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/components/CoursePlan/useCustomSnackbar.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/coursePlanner.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
Owners: @admin-app-owners, @pratham-project-admin

course planner add, delete
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners

fix: retain course and content list state when navigating back from detail page
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

fix: add page-wise keys to support state retention
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

fix: resolve YouTube content playback issue on mobile view in sunbird-content-player
  mfes/players/public/libs/sunbird-content-player/preview/script.min.1.1.js
Owners: @pratham-project-admin

Our partner and Knowlege Partner Imgaes added
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  mfes/players/public/libs/sunbird-pdf-player/index.html
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
Owners: @pratham-project-admin

Issue feat: Add familiy details dependant field logic and set ordering
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin, @core-team

update pr
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

course planner
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/coursePlanner.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners

fix: content summary and course detail issues including user data and related content
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/players/src/utils/url.config.ts
Owners: @pratham-project-admin

fix:issue breadcrum
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/[identifier]/page.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: Add new language constants
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

update pr
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

fix:issue player aspectRatio set as per window
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/src/pages/_app.tsx
  mfes/players/src/pages/global.css
Owners: @pratham-project-admin

fix: resolve filter issue on POS School, Work, and Life page
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

Issue feat: change order of phone number
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

fix: add meta tags for Home, About, and School, Work and Life, and Program pages
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/layout.tsx
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  apps/learner-web-app/src/components/pos/AboutUs.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  libs/shared-lib-v2/src/lib/textToSpeech/SpeakableText.tsx
  mfes/content/src/app/layout.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Input bydeafault by firstname+ lastname and replace endrollment Id text by Username
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @core-team, @pratham-project-admin

fix:html matadata POS
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  apps/learner-web-app/src/utils/API/metabaseService.ts
Owners: @pratham-project-admin

fix:matadata update youthnet l1 course pages
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/home/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

Update pr:Fix edit user issue
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

update pr
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Changed params of course planner apis
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/pages/resourceList.tsx
Owners: @admin-app-owners

fix: video scroll issue for 16:9 aspect ratio
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
Owners: @pratham-project-admin

fix:video iframe ratio
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

fix:ratio 16/9
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

YouTube Video Exit Button Issue: (The YouTube video completion screen’s exit button doesn’t work and the screen looks different.)
  mfes/players/public/libs/sunbird-content-player/preview/coreplugins/org.sunbird.player.endpage-1.1/renderer/endpageApp.js
Owners: @pratham-project-admin

Fixed course planner edit issue due to incorrect externalId
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

uncomment ui schema hide for mobile number field
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

fix:search content play url issue
  apps/learner-web-app/src/components/pos/Search.tsx
Owners: @pratham-project-admin

Issue feat: Add phone_type dependancy field logic
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
