Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

atm changes
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

remove attributions in admin app
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

pdf changes instruction added
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

fix:assessment list
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

remove attributions in admin app
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Added language constants
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @pratham-project-admin

Added firebase config file
  mfes/youthNet/public/firebase-messaging-sw.js
Owners: @pratham-project-admin

Issue #PS-5149 fix: Resolved YN - Completed course display under In Progress section
  apps/learner-web-app/src/app/in-progress/page.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/players/src/services/PlayerService.ts
Owners: @pratham-project-admin

Resolved Notification issue for youthnet
  mfes/youthNet/src/pages/_app.tsx
Owners: @pratham-project-admin

Issue feat: add user redirection
  mfes/youthNet/src/components/youthNet/EntryContent.tsx
Owners: @pratham-project-admin

fix:PS-5148 AI Assessment list page - no clear option available
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

fix:AI Question Set Generator - unable to select values from the Subject dropdown
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/pages/editor.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/youthNet/EntryContent.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/youthNet/EntryContent.tsx
Owners: @pratham-project-admin

update pr
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
Owners: @pratham-project-admin

Issue PS-5174 fix: Resolved Instructor - Village page - Showing incorrect count showing for Youth and Instructor
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/utils/Helper.ts
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/youthNet/EntryContent.tsx
Owners: @pratham-project-admin

Fixed autoselect first village issue
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue #Ps-5151 fix: YN - Resolved Unmatched sequence of Village Block District State
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/Profile.tsx
Owners: @pratham-project-admin

Fixed language constant issue
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

add translation
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

PS-5143: ATM - Facilitator - Maharashtra facilitator can access assessment from Panjab
  mfes/scp-teacher-repo/src/components/UnauthorizedAccess.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
Owners: @pratham-project-admin

issue feat: prefilled form data validation
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

build issue
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

build issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

updaate pr
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue feat: For SCTA and CCTA roles, redirect directly without fetching academic year
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue feat: Allow create assessment ai button and assessment menu only for scp users
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue feat: PS-5215 Prevent Name Wrapping to Maintain UI Alignment for Users with Long Names
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

key word change se_gradeLevels to gradeLevel
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

exam instruction changed, roman to alphabet changed
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

Issue feat: PS-5217 ,PS-5268 :Enable certification for camp to club users and Enable self registration for Camp 2 Club
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

Issue #PS-5252 chore: Remove 7 days Backdated Attendance Restriction
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/AttendanceStatus.tsx
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/index.tsx
Owners: @pratham-project-admin

Issue #PS-5237 chore: Implemented Mandatory Title Field with Draft Discard Logic in Course/Content Creation
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: dynamic form condition
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue #PS-000 chore: Added QR code for all live content
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
Owners: @pratham-project-admin

filter functionality fixes
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

Issue feat: PS 5233:Published Course/Content Not Removed from List View Until Manual Refresh
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/shared-store.ts
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/submitted/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin
