Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue #PS-000 chore: Added png image upload support and made image uppoad field compulsary in skilling center creation
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomFileUpload.tsx
Owners: @core-team

fix:build issue
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

themantic Page API and UI implementation
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

Fix: AI question generation status API integration.
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Issue feat:Add course planner ordering into teacher and admin application
  apps/admin-app-repo/src/pages/resourceList.tsx
  mfes/scp-teacher-repo/src/components/CoursePlannerCards.tsx
Owners: @admin-app-owners, @pratham-project-admin

fix:ui done for question type as per slider count
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/public/images/footer-icons.png
  apps/learner-web-app/public/images/pradigi1.png
  apps/learner-web-app/src/components/themantic/content/FilterComponent.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/content/List.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

themantic UI fixes
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

Fix: Remove question type and apply question count based on range per type.
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
Owners: @pratham-project-admin

Issue feat: Add Google analytic events for pos
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

Update pr
  mfes/scp-teacher-repo/src/components/CoursePlannerCards.tsx
Owners: @pratham-project-admin

thematic static fileter issue fix
  apps/learner-web-app/src/components/pos/AboutUs.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

fix:Ui
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @core-team, @pratham-project-admin

thematic static fileter issue fix
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

thematic static fileter issue fix
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

thematic static fileter issue fix
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

Delete mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

Feedback for themantic pages
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/components/pos/AboutUs.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
Owners: @pratham-project-admin

404 page integration
  apps/learner-web-app/public/404.png
  apps/learner-web-app/public/pratham-pra.png
  apps/learner-web-app/src/app/not-found.tsx
Owners: @pratham-project-admin

404 page integration
  apps/learner-web-app/public/Knowedge/Abhivyaktilogo.png
  apps/learner-web-app/public/Knowedge/Adobe.png
  apps/learner-web-app/public/Knowedge/Arpan.png
  apps/learner-web-app/public/Knowedge/Ccmb_logo_color.png
  apps/learner-web-app/public/Knowedge/EAA.png
  apps/learner-web-app/public/Knowedge/GCF-Mobile-Logo-Medium.jpg
  apps/learner-web-app/public/Knowedge/Google.png
  apps/learner-web-app/public/Knowedge/IISER-Pune.png
  apps/learner-web-app/public/Knowedge/Khetee_Transparent.png
  apps/learner-web-app/public/Knowedge/SCHMIDT.png
  apps/learner-web-app/public/Knowedge/SULZER.png
  apps/learner-web-app/public/Knowedge/Sarmaya.png
  apps/learner-web-app/public/Knowedge/Terra-Conscious.png
  apps/learner-web-app/public/Knowedge/ThinkTac.png
  apps/learner-web-app/public/Knowedge/UBS.png
  apps/learner-web-app/public/Knowedge/WD.png
  apps/learner-web-app/public/Knowedge/menstrupedia.png
  apps/learner-web-app/public/Knowedge/smft_new.png
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

404 page integration
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

AI Creator Feedback
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

fix:fix bugs
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/ConfirmationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
Owners: @core-team, @pratham-project-admin

Update pr
  apps/learner-web-app/src/app/themantic/page.tsx
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

Issue feat:Resolve content issue
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

Fix bug: Unauthorize bug
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

ATM page UI implementation
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/teachers/config.json
  mfes/scp-teacher-repo/config.json
  mfes/scp-teacher-repo/src/pages/assessments/[assimentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/subject/[subjectId]/index.tsx
Owners: @pratham-project-admin, @teacher-app-owners

Issue #PS-000 chore; User delete issue fixed in admin app
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

Updated PR
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Remaining API
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/assessments/[assessmentId]/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/list/IMPLEMENTATION_SUMMARY.md
  mfes/scp-teacher-repo/src/pages/assessments/list/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  rules.json
Owners: @pratham-project-admin

Issue feat: Add redirection for logo in kearner app
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

pdf file generate module completed
  apps/admin-app-repo/public/fonts/NotoSansDevanagari-Bold.ttf
  apps/admin-app-repo/public/fonts/NotoSansDevanagari-Regular.ttf
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/pages/_app.tsx
  apps/admin-app-repo/src/pages/qp.tsx
  package-lock.json
  package.json
Owners: @admin-app-owners, @pratham-project-admin
