Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue feat: Processing course /content issue on cms
  mfes/players/src/services/PlayerService.ts
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @pratham-project-admin

update pr
  mfes/players/src/services/PlayerService.ts
Owners: @pratham-project-admin

Issue Feat : PS-6854 - Re-introduce Close Button on Pre-Qualification Test Pop-up
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
Owners: @pratham-project-admin

Issue Feat : PS-6854 - Re-introduce Close Button on Pre-Qualification
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat : PS-6859 : Introduce Attempt Assessment Link on Learner Dashboard
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

PS-6153 : Learner Registration - Introduce Read More option for lengthy Call logs
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
Owners: @pratham-project-admin

Redirect Assesment not found to scp-dashboard
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
Owners: @pratham-project-admin

SCP = PLP - the content language should default selected based on language set in Preferred Content Language field
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
Owners: @pratham-project-admin

Removed existing assessment flow
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

Issue 2: Content Language Filter Gets Lost While Scrolling on Search Page
  apps/learner-web-app/src/components/pos/Search.tsx
Owners: @pratham-project-admin

Issue 4: Navigation Menu Usability Improvement
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

Make SDBV Dropdown Multiselect
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/MasterVillageSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterBlockSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/MobilizerSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
Owners: @admin-app-owners

POS : Issue 2: Content Language Filter Gets Lost While Scrolling on Search Page
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

PS-6861 : All programs - PLP - the content language should default selected based on language set in Preferred Content Language field
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

PS-6861 : All programs - PLP - the content language should default selected based on language set in Preferred Content Language field
  apps/learner-web-app/src/components/Content/CommonLearnerCourse.tsx
Owners: @pratham-project-admin

Issue 2: Content Language Filter Gets Lost While Scrolling on Search Page
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

Feat: Enhance form fields with "Other" option validation and display improvements
  mfes/survey-forms/src/Components/fields/CheckboxField.tsx
  mfes/survey-forms/src/Components/fields/RadioField.tsx
  mfes/survey-forms/src/Components/fields/SelectField.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyResponseViewer.tsx
  mfes/survey-forms/src/utils/conditionalLogic.ts
  mfes/survey-forms/src/utils/validation.ts
Owners: @pratham-project-admin

Gemini Issues Fixes
  mfes/survey-forms/src/utils/validation.ts
Owners: @pratham-project-admin

Add Filters to Learner Registrations Tab (LMP)
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/ManageUser.ts
Owners: @pratham-project-admin

System forcing to attempt pre qualification assessment
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

Issue feat: SCTA And CCTAs to receive review notification based on their selected subjects only
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

Issue feat: Only shows required fields for enroll registeration form
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Bulk import tool
  mfes/workspace/BULK_IMPORT_ARCHITECTURE.md
  mfes/workspace/next.config.js
  mfes/workspace/public/Bulk_Import_Template.xlsx
  mfes/workspace/public/templates/Bulk_Import_Template_POS.xlsx
  mfes/workspace/public/templates/Bulk_Import_Template_SCP.xlsx
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/components/bulk-import/BulkImportStepper.tsx
  mfes/workspace/src/components/bulk-import/DataPreview.tsx
  mfes/workspace/src/components/bulk-import/FileUpload.tsx
  mfes/workspace/src/components/bulk-import/ImportProgress.tsx
  mfes/workspace/src/components/bulk-import/ImportSummary.tsx
  mfes/workspace/src/components/bulk-import/TemplateDownload.tsx
  mfes/workspace/src/components/bulk-import/ValidationResults.tsx
  mfes/workspace/src/pages/api/bulk-import/download-drive-file.ts
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportParser.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  package-lock.json
  package.json
Owners: @pratham-project-admin

helper changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue feat: Aadd android app event for close button
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

router changes
  apps/admin-app-repo/next.config.mjs
  apps/admin-app-repo/src/pages/api/bulk-import/download-drive-file.ts
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  mfes/workspace/next.config.js
  mfes/workspace/src/components/bulk-import/TemplateDownload.tsx
  mfes/workspace/src/services/BulkImportService.ts
Owners: @admin-app-owners, @pratham-project-admin

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

router changes
  .gitignore
  apps/admin-app-repo/next.config.mjs
Owners: @pratham-project-admin, @admin-app-owners

Issue Feat : PS-6856 - PLP - remove the option from the global language dropdown if do not have 100% coverage
  apps/learner-web-app/src/components/Header/Header.jsx
  apps/learner-web-app/src/components/LanguageSelectionPopup/LanguageSelectionPopup.tsx
  apps/learner-web-app/src/components/LanguageSelectionPopup/languageOptions.ts
Owners: @pratham-project-admin

Issue Feat : PS-6856 - PLP - remove the option from the global language dropdown if do not have 100% coverage
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

Build fixes
  .gitignore
  apps/admin-app-repo/src/pages/api/bulk-import/download-drive-file.ts
  apps/learner-web-app/src/utils/Helper.ts
  mfes/workspace/src/pages/api/bulk-import/download-drive-file.ts
Owners: @pratham-project-admin, @admin-app-owners

Added back Helper.ts with utility functions
  apps/learner-web-app/src/utils/Helper.ts
Owners: @pratham-project-admin

Build fixes bulk import
  mfes/workspace/src/types/bulkImport.types.ts
Owners: @pratham-project-admin

Add filtr option for 'No Attempt' in pre qualification test on learner registration
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue 4: Navigation Menu Usability Improvement-make submenu items vertical
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Issue 4: Navigation Menu Usability Improvement-make submenu items vertical
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

PS-6653 : Exp_IN - Need inclusive approach for experimento INDIA(Accessibilty)
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/themantic/layout/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Add assement modal close button react native event
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

Hide Language popup if only one language available and available language should be auto selected.
  apps/learner-web-app/src/components/LanguageSelectionPopup/LanguageSelectionPopup.tsx
Owners: @pratham-project-admin
