Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

form issue
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: add active and pending status for plp login
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat: Add program tab check condition for pending status
  apps/learner-web-app/src/app/programs/page.tsx
Owners: @pratham-project-admin

Issue feat unauthorize page condition
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin

Issue Bug: Enrollment form is sometimes not visible when enrolling for the first time in SCP for C2C and vocational training
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: page not found issue
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue feat: post card size ui issue
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

Issue feat: Restrict show program button imkidiately after login in to pragyanpath
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

Added Instructor mapping flow in lmp
  libs/shared-lib-v2/src/MapUser/BatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/CenterBasedBatchListWidget.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @core-team, @pratham-project-admin

Issue #PS-000 chore: Fixed center batch dropdown issue for assign batch flow in learner registration for lmp
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Issue feat: Added select all option for sdbv and limit 50 for fetchuserlist for lead management flow
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue feat: multi tenant login fixes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

Issue feat: Add select all options for userlist selection
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue feat : Added react native message events
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

update message send condition
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

Issue feat: Remove employee training from workSubCategory
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Add react native message events for webview registration flow
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

Issue feat: Resolve bug:Lead Management = Facilitator can see unexpected batches while assigning batch
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

Fixed UI issues in centerBasedBatchListWidget
  libs/shared-lib-v2/src/MapUser/CenterBasedBatchListWidget.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @core-team, @pratham-project-admin

center list change
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/CenterListWidget.tsx
Owners: @admin-app-owners, @core-team

Issue feat: Add loader while register user and fix ui issue for long english tiltle
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Add all primary categoroes in search page
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue #PS-000 fix: Login issue fixed for LMP
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue feat: lead maagement , all my content pagination issue , and course tab fix
  mfes/content/src/components/Content/List.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin

Issue #PS-6168 fix: password-forget page - No any message appear in user try with invalid mobile or username
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
Owners: @pratham-project-admin

Update landing page plp Ui
  apps/learner-web-app/src/app/landing/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Issue Add restriction for Download myLearning app link appear under android application
  apps/learner-web-app/src/app/programs/page.tsx
Owners: @pratham-project-admin

Issue feat: Add modified imabges for pos home page carosoual
  apps/learner-web-app/public/images/PLP Photos-02.jpg
  apps/learner-web-app/public/images/PLP Photos-02.png
  apps/learner-web-app/public/images/PLP Photos-03.jpg
  apps/learner-web-app/public/images/PLP Photos-03.png
  apps/learner-web-app/public/images/PLP Photos-04.jpg
  apps/learner-web-app/public/images/PLP Photos-04.png
  apps/learner-web-app/public/images/PLP Photos-05.jpg
  apps/learner-web-app/public/images/PLP Photos-05.png
  apps/learner-web-app/public/images/PLP Photos-06.png
  apps/learner-web-app/src/components/pos/Home.tsx
Owners: @pratham-project-admin

Issue feat: Direct endroll flow
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: restrict pragyanpath from landing page program list
  apps/learner-web-app/src/app/landing/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: solve lead management pichart count issue
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
Owners: @pratham-project-admin

update pr for atm issue
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

fix issue of sso login button
  apps/learner-web-app/src/app/landing/page.tsx
Owners: @pratham-project-admin

update pr: Remove first name from user check api
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

Issue #PS-5835 feat: Added batch type support during batch for SCP in LAP
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-000 chore: Hidden Add New button from batch tab in lap
  apps/admin-app-repo/src/pages/batch.tsx
Owners: @admin-app-owners

Issue feat: Fix datepicker auto close issue on mobile mode and Fix login redirection for accound exist modal
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Fix batch list issue for TL
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

consent file added
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
