Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

POS hover issue fix
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Learning for School, Learning for Work and Learning for Life filters should be displayed to the learners
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

POS hover issue fix
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

Issue fixed special character accept issue
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

ATM reload functionality
  apps/teachers/public/document/dummy.pdf
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @teacher-app-owners, @pratham-project-admin

latest changes
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issuue feat: add unit details thumnail
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
Owners: @pratham-project-admin

filter functionality fixes
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/courses-contents/page.tsx
Owners: @pratham-project-admin

POS UI fixes
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

certificate criteria changed
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/services/Certificate.ts
  mfes/players/src/services/PlayerService.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat:Program / Central Admin for C2C
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
Owners: @admin-app-owners

certificate criteria changed
  mfes/players/src/services/PlayerService.ts
  mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/public/workbox-495fd258.js
Owners: @pratham-project-admin

redirect logic commented
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

POS UI fixes
  apps/teachers/public/document/Sample_answer_sheet_format.pdf
  apps/teachers/public/document/dummy.pdf
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @teacher-app-owners, @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

POS feedBack changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

POS feedBack changes
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

POS feedBack changes
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @core-team, @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/app/themantic/theme/ThematicMuiThemeProvider.tsx
  apps/learner-web-app/src/app/themantic/theme/style.css
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/themantic/theme/style.css
  apps/learner-web-app/src/components/themantic/header/Header.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/components/themantic/header/Header.tsx
Owners: @pratham-project-admin

POS feedBack changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

POS feedBack changes
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

pos feedback changes
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/Player.tsx
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/header/Header.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @pratham-project-admin, @core-team

POS feedback and themantic UI changes
  mfes/authentication/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/upload-files/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  apps/learner-web-app/public/images/environment-background.png
  apps/learner-web-app/public/images/healthbackground.png
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/themantic/[courseId]/page.tsx
Owners: @pratham-project-admin

POS feedback and themantic UI changes
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

OIssue feat: Avoid calling academic year api for For camp to club tenant and hide acdamic year banner if academic id does not set for this user
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners
