Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Added delete FL functionality in lmp
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/ConfirmationPopup.tsx
  mfes/scp-teacher-repo/src/components/DeleteDetails.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

ui fix
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Added Batch creation flow in lmp
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

api change
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/MultipleBatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: Add switch modal for lmp
  apps/teachers/src/pages/login.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/pages/_app.tsx
  mfes/scp-teacher-repo/src/pages/unauthorized.tsx
  mfes/youthNet/src/components/Header.tsx
Owners: @teacher-app-owners, @pratham-project-admin

api change, count issue fixed
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed admin app login crash issue
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

Added center dropdown and based on it SDBV options loading for youthnet lmp
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Fixed SDBV reset issue on center change
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Removed batch tab
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Issue feat: Filter prgyanpath course from condition to showcase switch program button for logged user
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/youthNet/src/components/Header.tsx
Owners: @pratham-project-admin

Fixed medium load issue
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue #PS-6347 fix: Fixed Issue Center list - unable to search center
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue feat: Add bydefault looged user program to the program field while creating course
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

max score handle zero
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
Owners: @pratham-project-admin

invalid identifier text issue solved
  mfes/players/src/pages/index.tsx
  mfes/players/src/pages/play.tsx
Owners: @pratham-project-admin

Issue feat: update about pratham text
  apps/learner-web-app/src/app/landing/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

hide map button if disabled
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Remove tenantId from center page cohort search api and change transgender frontend label to other
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

update pr: replace boards with se_boards
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

search center with name solved
  libs/shared-lib-v2/src/MapUser/MultipleBatchListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
Owners: @core-team

Issue feat: Update new translations from sheet
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/or/common.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

update translations
  mfes/youthNet/public/locales/mr/common.json
Owners: @pratham-project-admin

Issue feat: Fix village selection auto disppear after selection for learner creation
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicForm.tsx
Owners: @pratham-project-admin

Issue feat: refresh token store changes for android app
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/utils/API/Interceptor.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

Issue feat: Update pr remove service file changes
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

Issue #PS-6373 fix: Store Working State in LocalStorage and show it as preselected for form during creation workflows in LAP
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue feat: teannatchort id mapping payload issue while create learner
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

Issue #PS-2504 chore: Added mentor details on learner profile
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Issue #PS-6430 chore: Changes in Batch Type for SCP in lap and lmp
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Fixed batch edit issue
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
Owners: @admin-app-owners

Issue #PS-6350 chore: Create UI to mark session level attendance
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/MarkBulkAttendance.tsx
  mfes/scp-teacher-repo/src/components/MarkCenterAttendanceSessionsModal.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Issue feat: Gogle analytic event changes for plp
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

Issue feat: Enable sdbv selection for learner creation in lmp
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @pratham-project-admin

Issue #PS-6448 fix: Fixed YN village load issue
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

cursor rules with read me
  .cursor/rules/README.md
  .cursor/rules/react-state-management.md
Owners: @pratham-project-admin

Issue feat: English title isue for coourse unit for experimento india
  mfes/content/src/components/Card/UnitCard.tsx
Owners: @pratham-project-admin

feat: add bulk import QuestionSet functionality to workspace MFE
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/utils/bulkImportValidation.ts
Owners: @pratham-project-admin

changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin
