Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

ATM UI implemtation
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/upload-files/index.tsx
Owners: @pratham-project-admin

ATM UI implemtation
  mfes/scp-teacher-repo/public/icon.png
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
Owners: @pratham-project-admin

ATM UI implemtation
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

AI assesment flow fixes
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

make descprtion as required
  mfes/workspace/src/components/ai-assessment/SetParameters.tsx
Owners: @pratham-project-admin

make descprtion as required
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

make descprtion as required
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

stylus build failed issues solved
  package-lock.json
  package.json
Owners: @pratham-project-admin

remove CommonAccordian
  libs/shared-lib/src/index.ts
Owners: @core-team

fix:on publish call api
  libs/shared-lib/src/lib/QuestionSetEditor/QuestionSet.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/workspace/src/pages/editor.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @core-team, @pratham-project-admin

fix: add ai assessment list on admin
  mfes/workspace/src/assets/images/aicheckbook.svg
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

ATM FeedBack Changes
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

fix:ai assessment list with status
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

fix:editore page show ai assessment status
  mfes/workspace/src/pages/editor.tsx
Owners: @pratham-project-admin

fix:back on button add
  mfes/workspace/src/pages/editor.tsx
Owners: @pratham-project-admin

fix:ai assessment list
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

ATM FeedBack Changes (#1347)
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

Issue feat:Add 404 page redirect to home page of domain Remove remove links of prathamopenschool and nit card in course images unit level show
  apps/learner-web-app/src/app/not-found.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  mfes/content/src/components/Card/UnitCard.tsx
Owners: @pratham-project-admin

ATM FeedBack Changes
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  mfes/scp-teacher-repo/src/utils/questionNumbering.ts
Owners: @pratham-project-admin

ATM FeedBack Changes
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

Issue PS-000 chore: Added mentor and mentor lead reassign flow
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/MentorForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/MentorForm/VillageBlockSelector.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/UserCard.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/workspace/src/pages/editor.tsx
Owners: @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/utils/questionNumbering.ts
Owners: @pratham-project-admin

change batch size for telemetry
  apps/admin-app-repo/src/utils/telemetry.js
  apps/teachers/src/utils/telemetry.js
  mfes/authentication/src/utils/telemetry.js
  mfes/scp-teacher-repo/src/utils/telemetry.js
  mfes/youthNet/src/utils/telemetry.js
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
Owners: @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/src/components/assessment/AnswerSheet.tsx
Owners: @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/public/sw.js
  mfes/workspace/src/components/SearchBox.tsx
Owners: @pratham-project-admin

Delete mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

updated pr
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @core-team, @pratham-project-admin

add window condition
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @core-team, @pratham-project-admin

Search issue fix on admin side
  mfes/workspace/src/components/NoDataFound.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

Build issue resolved
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Update prod-deployment-learner.yaml
  .github/workflows/prod-deployment-learner.yaml
Owners: @pratham-project-admin

Update prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Update prod-deployment-learner.yaml
  .github/workflows/prod-deployment-learner.yaml
Owners: @pratham-project-admin

Update prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Update prod-deployment-learner.yaml
  .github/workflows/prod-deployment-learner.yaml
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
