Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: constant added
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Issue feat: Assessment fixes
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/index.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Issue #PS-000 task: proud issue fix
  mfes/scp-teacher-repo/src/components/LearnerModal.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/services/CenterListServices.ts
Owners: @pratham-project-admin

Issue #PS-000 task: profile view issue fix
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 task: profile view issue fix
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/services/CenterListServices.ts
Owners: @pratham-project-admin

fix: assessment tracking
  apps/learner-web-app/src/utils/API/contentService.ts
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

prod issue fixed due to backend form read response
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-000 task: modal UI issue fix
  mfes/scp-teacher-repo/src/components/SimpleModalV2.tsx
Owners: @pratham-project-admin

Issue feat:Pioleet feedback on SCP profile
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue #PS-000 task: user Read API integrated
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  apps/learner-web-app/src/utils/API/CohortService.ts
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

Issue feat:UI issues for observation
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

build issue fix
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Fixed individual attendance display issue
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/forgot-password/index.tsx
Owners: @pratham-project-admin

fix: improve assessment tracking in detail view and include as content tracking as well
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

Modifed batch constant
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @pratham-project-admin

fix:certificate issue
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- Profile UI fixes at mobile view
  mfes/scp-teacher-repo/src/components/AttendanceStatusListView.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
Owners: @pratham-project-admin

dynamic form issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue #PS-4637 task:- Profile UI fixes at mobile view
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Issue #PS-4637 task:- Profile UI fixes at mobile view
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed modal issue in board-enrollment
  mfes/scp-teacher-repo/src/components/LearnerModal.tsx
  mfes/scp-teacher-repo/src/components/Modal.tsx
  mfes/scp-teacher-repo/src/components/SortingModal.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed mini profile field value display issue
  mfes/scp-teacher-repo/src/components/AttendanceStatusListView.tsx
  mfes/scp-teacher-repo/src/components/LearnerAttendanceStatsListView.tsx
Owners: @pratham-project-admin

notifiction issue fix, email removed if empty
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners, @pratham-project-admin

Resolved prefilled form fields issue in batch creation flow in teacher app
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicForm.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Removed comments
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Resolved modal issue
  mfes/scp-teacher-repo/src/components/Modal.tsx
Owners: @pratham-project-admin

Fixed null check issue on centers page
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

issue solved
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Fixed cohort and batch dropdown issue
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Hidden batch creation button for FL
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes for SCP
  mfes/scp-teacher-repo/src/pages/attendance-overview.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
  mfes/scp-teacher-repo/src/pages/support-request.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes for SCP
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

Fixed no BMG issue in event edit
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Updated the file for deployment
  .github/workflows/prod-deployment-admin.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Issue feat: remove hardcode mask number
  apps/learner-web-app/src/components/OtpVerificationComponent/OtpVerificationComponent.tsx
  mfes/forget-password/src/Components/OtpVerificationComponent/OtpVerificationComponent.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
