Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue #PS-4637 task:- Open school UI implmentation
  apps/learner-web-app/public/images/prathamQR.png
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
Owners: @pratham-project-admin

Issue feat: UI changes
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomFileUpload.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
Owners: @core-team

Issue feat:Import survey to host app
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/observations/page.tsx
  apps/learner-web-app/src/app/observations/questionary/page.tsx
  apps/learner-web-app/src/app/observations/questionary/reload/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  mfes/survey-observations/src/Components/EntryContent/EntryContent.tsx
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
  mfes/survey-observations/src/app/observations/questionary/ObservationQuestions.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- Open school UI implmentation
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/change-username/page.tsx
Owners: @pratham-project-admin

Issue feat: change mobile number for send otp condition for under 18 user
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
  mfes/survey-observations/src/utils/API/suveyService.ts
Owners: @pratham-project-admin

Issue feat: Add previewurl for suvey
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @core-team, @pratham-project-admin

update pr
  apps/learner-web-app/src/app/change-password/page.tsx
Owners: @pratham-project-admin

update language selection at header
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

add username for verify otp
  apps/learner-web-app/src/app/change-password/page.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/common-modal.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
Owners: @pratham-project-admin

YN web app issue solved
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/public/images/Epub.svg
  apps/learner-web-app/public/images/HTML.svg
  apps/learner-web-app/public/images/PDF.svg
  apps/learner-web-app/public/images/Qml.svg
  apps/learner-web-app/public/images/video.svg
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  mfes/content/src/components/CommonCollapse.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/public/images/youtube.svg
  mfes/content/src/components/CommonCollapse.tsx
Owners: @pratham-project-admin

Issue feat: Ui issues
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/logout/page.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  mfes/content/src/components/UnitGrid.tsx
Owners: @pratham-project-admin

issue feat: update pr
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
Owners: @pratham-project-admin

added required fix for date and radio button
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
Owners: @pratham-project-admin, @core-team

fix:ui issue
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4637 task:- UI fixes in leaner web app
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @core-team, @pratham-project-admin

fix:NO_MORE_DATA
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

fix: card size and diss
  mfes/content/src/components/Card/ContentCard.tsx
Owners: @pratham-project-admin

fix:issue
  apps/learner-web-app/src/app/global.css
Owners: @pratham-project-admin

fix:ui
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin

issue feat: Add telemetry events for login success and fail logout
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/logout/page.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
Owners: @pratham-project-admin, @core-team

update pr
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
Owners: @core-team

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat: CMS feedbacks
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/submitted/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes in leaner web app
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed attendance percent display issue on learner profile
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

fix:card UI as per QA
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/components/ContentTabs.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-000 chore: Resolved Center and batch dropdown pascal case issue
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin
