Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue #PS-4339 feat: Fix API calls in course planner
  mfes/players/src/utils/url.config.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

player port change for teacher app
  Dockerfile.teachers
  README.md
  apps/teachers/src/middleware.ts
  docker-compose.teachers.yml
  ecosystem.teachers.config.js
Owners: @pratham-project-admin, @teacher-app-owners

Issue task PS-4244 :stepper form UI fixes
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
Owners: @admin-app-owners

Fix player loading in teachers app
  mfes/players/next.config.js
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/middleware.ts
  mfes/players/src/utils/url.config.ts
Owners: @pratham-project-admin

Fix player loading in teachers app
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/utils/url.config.ts
Owners: @pratham-project-admin

Fix player loading in teachers app
  mfes/players/next.config.js
Owners: @pratham-project-admin

Fix player loading in teachers app
  mfes/players/src/middleware.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed SDBV mapping issue
  apps/teachers/src/pages/login.tsx
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @teacher-app-owners, @pratham-project-admin

Fix player exit | Fix player header | Fix Teacher app login | Adding message for No Center & Batch
  apps/admin-app-repo/src/pages/play/content/[identifier].tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4081 :Icons at bottom drawer are mismatch with figma at mentor tab in users & villages menu
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

Issue task PS-4081 :Icons at bottom drawer are mismatch with figma at mentor tab in users & villages menu
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Create prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Create prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Create prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Create prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Update prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Update prod-deployment-admin.yaml
  .github/workflows/prod-deployment-admin.yaml
Owners: @pratham-project-admin

Update prod-deployment-teacher.yaml
  .github/workflows/prod-deployment-teacher.yaml
Owners: @pratham-project-admin

issues fix in scp admin
  apps/admin-app-repo/src/components/CenteredLoader/CenteredLoader.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/SearchTextFieldWidget.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/Sidebar.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/LearnerSearch.js
  apps/admin-app-repo/src/constant/Forms/MasterStateSearch.js
  apps/admin-app-repo/src/constant/Forms/MasterVillageSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterBlockSearch.js
  apps/admin-app-repo/src/constant/Forms/MaterDistrictSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/admin-app-repo/src/constant/Forms/facilitatorSearch.js
  apps/admin-app-repo/src/pages/404.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/block.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/district.tsx
  apps/admin-app-repo/src/pages/state.tsx
  apps/admin-app-repo/src/pages/unauthorized.tsx
  apps/admin-app-repo/src/pages/village.tsx
Owners: @admin-app-owners

Issue task PS-4081 :reAssign in facilitator
  apps/admin-app-repo/src/components/DynamicForm/CohortSelections.tsx
  apps/admin-app-repo/src/components/DynamicForm/StepperForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

issues fix in scp admin
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomRadioWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/SearchTextFieldWidget.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Hiding attendance comparison graph
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Batch Tab for Teaching Center
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/BatchList.tsx
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

admin panel issues solved
  apps/admin-app-repo/src/components/ActiveArchivedLearner.tsx
  apps/admin-app-repo/src/components/Centerlabel.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomRadioWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomTextFieldWidget.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/constant/Forms/BatchSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/services/CohortService/cohortService.ts
  apps/admin-app-repo/src/services/MasterDataService.ts
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Fix build issue
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Fix build issue
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

Fix User Profile and Batch Page
  apps/teachers/src/pages/login.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/components/center/RenameCenterModal.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @teacher-app-owners, @pratham-project-admin

Fix User Profile and Batch Page
  mfes/scp-teacher-repo/public/sw.js
Owners: @pratham-project-admin

code backup
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/faciliator.tsx
  apps/admin-app-repo/src/pages/facilitator-old.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/services/CreateUserService.ts
  mfes/scp-teacher-repo/public/sw.js
Owners: @admin-app-owners, @pratham-project-admin

issue fix
  apps/admin-app-repo/src/components/Centerlabel.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/Sidebar.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
Owners: @admin-app-owners

Issue task PS-4081 :reAssign in facilitator
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/pages/observation/index.tsx
  mfes/scp-teacher-repo/src/pages/support-request.tsx
  mfes/scp-teacher-repo/src/styles/globals.css
  mfes/youthNet/src/components/youthNet/UserCard.tsx
  mfes/youthNet/src/styles/globals.css
Owners: @pratham-project-admin

learner added
  apps/admin-app-repo/src/components/ActiveArchivedBatch.tsx
  apps/admin-app-repo/src/components/Centerlabel.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/block.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/district.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/state.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/village.tsx
  apps/admin-app-repo/src/services/CohortService/cohortService.ts
  apps/admin-app-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/public/sw.js
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4081 :reAssign in facilitator
  apps/teachers/src/pages/_app.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @teacher-app-owners, @pratham-project-admin

api added
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
Owners: @teacher-app-owners

Fix page loading issue
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

Fix Content Creator| Reviewer | State Lead Create and Update Form
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

Fix Creator Reviewer State Lead User Filter and Hiding Action button for Archived Status
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @admin-app-owners, @pratham-project-admin

learner and facilitator create added in scp
  mfes/scp-teacher-repo/src/components/CenteredLoader/CenteredLoader.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/CohortSelections.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormConstant.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomCheckboxWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomDateWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomMultiSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomRadioWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomTextFieldWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/SearchTextFieldWidget.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/components/SimpleModalV2.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/services/CohortService/cohortListHook.tsx
  mfes/scp-teacher-repo/src/services/CohortService/cohortService.ts
  mfes/scp-teacher-repo/src/services/CreateUserService.ts
  mfes/scp-teacher-repo/src/services/MasterDataService.ts
  mfes/scp-teacher-repo/src/shared/FacilitatorManage/FacilitatorManage.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
