Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

PS-6840 : Update useful links for POS
  apps/learner-web-app/src/components/Footer/FooterWrapper.tsx
Owners: @pratham-project-admin

mp3 player added
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
  mfes/players/src/components/players/ContentPlayerV2.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/utils/url.config.ts
  mfes/workspace/src/components/players/Players.tsx
  mfes/workspace/src/pages/sunbirdPlayers.tsx
Owners: @pratham-project-admin

PS-6950 : Introduce Footer on PLP
  apps/learner-web-app/src/app/programs/page.tsx
Owners: @pratham-project-admin

translation script
  translation/DOCUMENTATION.md
  translation/Pratham_ Translations - Facilitator (1).csv
  translation/admin.csv
  translation/csvToJson.js
  translation/jsonToCsv.js
Owners: @pratham-project-admin

Bug fix : PS-7065 - YN = Dashboard - 2 scrollbar appear
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
Owners: @core-team

Remove horizontal scroll from profile page if there is not certificate yet
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

Issue feat : Add close button for asssment redirect to program page from login page
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Edit profile - Have you received any prior training field causing an issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

PS-7071 : Edit profile = response didn't get save on first tile for 'Does this phone belong to you' field
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

android player resolution changes
  mfes/players/public/libs/content-player-v2/index_android.html
Owners: @pratham-project-admin

pos jot form issue solved
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

PS-7066: Safari browser - no option to close footer on mobile web screen
  apps/learner-web-app/src/components/Footer/Footer.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

Issue feat: Fix Scp program access not redirect to android app
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

PS-7066: Safari browser - no option to close footer on mobile web screen
  apps/learner-web-app/src/components/Footer/Footer.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

PS-7085 : LMP = Learner profile - Language constant missing for WHAT_IS_YOUR_PREFERRED_LANGUAGE
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

bulk import disable
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

volunteer engagement
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationRegistredWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/VolunteerTypeWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

LMP = Dashboard - blank progress circle should appear if the session is scheduled and no attendance has been marked
  mfes/scp-teacher-repo/src/components/WeekCalender.tsx
  mfes/scp-teacher-repo/src/hooks/useDeterminePathColor.js
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

PS-7004 : LAP - State Lead list = the Status filter does not render the expected record as per selected value
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/pages/user-state-lead.tsx
Owners: @admin-app-owners

Bulk import fixes
  apps/admin-app-repo/src/pages/api/bulk-import/check-drive-file.ts
  apps/admin-app-repo/src/pages/api/bulk-import/generate-vba.js
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/pages/api/bulk-import/vba-base64.txt
  apps/admin-app-repo/src/pages/api/bulk-import/vbaProject.bin
  apps/admin-app-repo/tsconfig.tsbuildinfo
  mfes/workspace/src/components/bulk-import/TemplateDownload.tsx
  mfes/workspace/src/pages/api/bulk-import/check-drive-file.ts
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
Owners: @admin-app-owners, @pratham-project-admin

not made changes
  apps/learner-web-app/src/app/layout.tsx
Owners: @pratham-project-admin

Remove FooterWrapper from layout
  apps/learner-web-app/src/app/layout.tsx
Owners: @pratham-project-admin

PS-7057 : Remove SARAL Test Popup for 2025–26 Learners
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

PS-7057 : Remove SARAL Test Popup for 2025–26 Learners
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

PS-7057 : Remove SARAL Test Popup for 2025–26 Learners
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

Add FooterWrapper component to layout
  apps/learner-web-app/src/app/layout.tsx
Owners: @pratham-project-admin

Revert "PS-7057 : Remove SARAL Test Popup for 2025–26 Learners"
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

buil-fail-fix
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
Owners: @core-team

android player changed
  mfes/players/public/libs/content-player-v2/index_android.html
Owners: @pratham-project-admin

Added the show_if condition
  mfes/survey-forms/src/utils/conditionalLogic.ts
Owners: @pratham-project-admin

After enrolling SCP user not able to enroll other cpurses issue fix
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

After enrolling SCP user not able to enroll other cpurses issue fix
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

guardian details hide issue solved
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

Added the show_if condition
  mfes/survey-forms/src/utils/conditionalLogic.ts
Owners: @pratham-project-admin

guardian details hide issue solved
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

PS-7057 : Remove SARAL Test Popup for 2025–26 Learners
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

add domain
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

guardian details
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
Owners: @core-team

h5p android offline changes
  mfes/players/public/libs/content-player-v2/h5p-iframe.html
  mfes/players/public/libs/content-player-v2/h5p_android_offline/frame.bundle.js
  mfes/players/public/libs/content-player-v2/h5p_android_offline/h5p.css
  mfes/players/public/libs/content-player-v2/h5p_android_offline/main.bundle.js
Owners: @pratham-project-admin

h5p android offline changes
  mfes/players/public/libs/content-player-v2/h5p-iframe.html
  mfes/players/public/libs/content-player-v2/h5p_android_offline/frame.bundle.js
  mfes/players/public/libs/content-player-v2/h5p_android_offline/h5p.css
  mfes/players/public/libs/content-player-v2/h5p_android_offline/main.bundle.js
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
