Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Android / Web app: Password visibility icons display incorrect state and toggle inversely
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
Owners: @pratham-project-admin

PS-7440 : Issue : MH Center – Attendance and Learner Count Mismatch
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

PS-7440 : Issue : MH Center – Attendance and Learner Count Mismatch
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

Issue fix : Content getting publish without review
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/services/Hierarchy.ts
Owners: @pratham-project-admin

feat: enhance retention forms with additional fields and date-picker integration
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
  mfes/youthNet/src/components/retention/RetentionModal.tsx
  mfes/youthNet/src/services/retention/RetentionFormService.ts
Owners: @core-team, @pratham-project-admin

learner-web-app production build crashes fix
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Resolve conflicts
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
Owners: @pratham-project-admin

PS-7463 : Course with Live and Draft status = deleting draft status record can delete Live as well
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

feat: Refactor Trainer Center and Form Services
  apps/admin-app-repo/src/components/trainer/TrainerCenterSelector.tsx
  apps/admin-app-repo/src/pages/user-trainer.tsx
  apps/admin-app-repo/src/services/trainer/TrainerCenterService.ts
  apps/admin-app-repo/src/services/trainer/TrainerFormService.ts
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/trainer/TrainerCenterSelector.tsx
  mfes/youthNet/src/pages/user-trainer.tsx
  mfes/youthNet/src/services/trainer/TrainerCenterService.ts
  mfes/youthNet/src/services/trainer/TrainerFormService.ts
Owners: @admin-app-owners, @pratham-project-admin

Facilitator = dashboard - created sessions are not reflecting as per the selected batch value
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

feat: add CenterSwitcher component and integrate center selection in MyTeachingCenterPage
  mfes/youthNet/src/components/myTeachingCenter/CenterSwitcher.tsx
  mfes/youthNet/src/pages/my-teaching-center/index.tsx
  mfes/youthNet/src/services/myTeachingCenter/TrainerCentersService.ts
Owners: @pratham-project-admin

pos crash due to certificate id field in form
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

pos crash due to certificate id field in form
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

pos crash due to certificate id field in form
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

feat: enhance batch allocation by integrating trainer taxonomy and center-specific batch search
  mfes/youthNet/src/components/l2InterestedQueue/AllocateToBatchModal.tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
Owners: @pratham-project-admin

feat: add minWidth property to table columns for better layout control
  libs/shared-lib-v2/src/lib/Table/CommonDataTable.tsx
  mfes/youthNet/src/components/placements/PlacementLearnerTable.tsx
  mfes/youthNet/src/components/retention/RetentionLearnerTable.tsx
  mfes/youthNet/src/pages/l2-interested-queue.tsx
Owners: @core-team, @pratham-project-admin

feat: enhance CustomRadioWidget and CustomSingleSelectWidget with improved styling and error handling
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomRadioWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
  mfes/youthNet/src/services/placements/PlacementFormService.ts
Owners: @admin-app-owners, @pratham-project-admin

feat: update color styling for CustomRadioWidget and CustomSingleSelectWidget to match TextField label
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomRadioWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomSingleSelectWidget.tsx
Owners: @admin-app-owners

feat: implement SimpleModal component and refactor PlacementModal and RetentionModal to use it
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/SimpleModal/SimpleModal.tsx
  mfes/youthNet/src/components/placements/PlacementModal.tsx
  mfes/youthNet/src/components/retention/RetentionModal.tsx
Owners: @core-team, @pratham-project-admin

feat: improve CustomObjectFieldTemplate to handle hidden fields and prevent layout gaps
  libs/shared-lib-v2/src/DynamicForm/components/FormTemplate/ObjectFieldTemplate.tsx
Owners: @core-team

hide certificateTemplate from filter
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

hide certificateTemplate from filter
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

hide certificateTemplate from filter
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

Skill and Certificate filters appear on the POS website and android application
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

PS-7474 : when loggedIN into ERP , the content share link isn't working
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

feat: Add Trainer Mapping page for Center Head Trainer management
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-framework.js
  apps/admin-app-repo/src/pages/batch.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/user-trainer.tsx
  apps/admin-app-repo/src/services/trainer/TrainerCenterService.ts
  libs/shared-lib-v2/src/lib/PaginatedTable/PaginatedTable.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/myTeachingCenter/BatchDetailsHeader.tsx
  mfes/youthNet/src/components/myTeachingCenter/CreateBatchModal.tsx
  mfes/youthNet/src/components/myTeachingCenter/OjtAddressCell.tsx
  mfes/youthNet/src/components/trainerMapping/TrainerCenterSelector.tsx
  mfes/youthNet/src/components/youthNet/Profile.tsx
  mfes/youthNet/src/pages/my-teaching-center/[batchId].tsx
  mfes/youthNet/src/pages/trainer-mapping.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
  mfes/youthNet/src/services/myTeachingCenter/CreateBatchService.ts
  mfes/youthNet/src/services/trainerMapping/TrainerMappingService.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/Interfaces.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Refactor FilterForm to normalize static field options and improve payload formatting
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

feat: Implement state locking for State Lead in TrainerCenterSelector and TrainerSearch
  apps/admin-app-repo/src/components/trainer/TrainerCenterSelector.tsx
  apps/admin-app-repo/src/constant/Forms/TrainerSearch.js
  apps/admin-app-repo/src/pages/user-trainer.tsx
  mfes/youthNet/src/components/trainerMapping/TrainerCenterSelector.tsx
Owners: @admin-app-owners, @pratham-project-admin

feat: Add assessments field to L2BatchCreate form and update BatchFlow logic for assessments handling
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/L2BatchCreate.js
Owners: @admin-app-owners

PS-7360 : Revert session-level attendance on dashboard, show cohort attendance only
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

feat: Enhance table components with minWidth for better layout and update L2BatchCreate filters for improved data handling
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
  apps/admin-app-repo/src/constant/Forms/L2BatchCreate.js
  apps/admin-app-repo/src/pages/placement-property.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

PS-7485 : LMP = Cross-Center Sessions - error message appear in marathi if the portal language set as Hindi
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/components/SessionMode.tsx
Owners: @pratham-project-admin

content download event added in google analytics
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

feat: Add assessments functionality to batch creation and management, including UI updates and backend integration for assessment handling
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/components/myTeachingCenter/CreateBatchModal.tsx
  mfes/youthNet/src/components/myTeachingCenter/LearnerListTable.tsx
  mfes/youthNet/src/components/placements/CenterBatchSelector.tsx
  mfes/youthNet/src/components/placements/PlacementLearnerTable.tsx
  mfes/youthNet/src/constant/Forms/L2BatchCreate.ts
  mfes/youthNet/src/pages/my-teaching-center/[batchId].tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchAssessmentService.ts
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
  mfes/youthNet/src/services/myTeachingCenter/myTeachingCenter.config.ts
  mfes/youthNet/src/utils/Interfaces.ts
Owners: @pratham-project-admin

feat: Update action key assignment in PaginatedTable for stable rendering when actions are conditionally shown
  libs/shared-lib-v2/src/lib/PaginatedTable/PaginatedTable.tsx
Owners: @core-team

feat: Add trainer mapping localization for Hindi, Marathi, and Urdu
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

feat: Add minWidth property to OjtAddress column in LearnerListTable for improved layout
  mfes/youthNet/src/components/myTeachingCenter/LearnerListTable.tsx
Owners: @pratham-project-admin

PS-7479 : No confirmation popup appear while editing the Topic and Subtopic for the Cross Center session scheduled
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/scp-teacher-repo/src/components/ConfirmationModal.tsx
  mfes/scp-teacher-repo/src/components/CrossCenterScheduleWizard.tsx
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/utils/helper.ts
Owners: @pratham-project-admin

Calender view for the cross-session-center
  mfes/scp-teacher-repo/src/components/CrossCenterSessionCard.tsx
  mfes/scp-teacher-repo/src/hooks/useCrossCenterSessions.ts
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
  mfes/scp-teacher-repo/src/utils/crossCenter.ts
Owners: @pratham-project-admin

Disable reset button after 15days on LMP Dashboard
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin
