Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue #PS-6208 feat: Added navapatham workflow
  apps/learner-web-app/src/app/nava-patham/page.tsx
  apps/learner-web-app/src/components/Header/Header.jsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

consent form viewer
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
  libs/shared-lib-v2/src/DynamicForm/components/DocumentViewer/DocumentViewer.tsx
  libs/shared-lib-v2/vite.config.ts
  package-lock.json
  package.json
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

Issue feat: New url changes for direct endroll flow
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/utils/API/ProgramService.ts
Owners: @pratham-project-admin

Added mentor details on learner profile
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Updated PR
  apps/learner-web-app/src/app/nava-patham/page.tsx
Owners: @pratham-project-admin

Issue feat: Add board and subject to fetch ccta for publish review notification
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/editors/src/services/userServices.ts
Owners: @pratham-project-admin

Set Telangana default state for navapatham
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

Issue feat: Filter dropout and reassigned users from manual asssessment learner list
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
Owners: @pratham-project-admin

Issue feat: Add central alignement for experimento india contents
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

Added telugu consent form and removed unwanted SCP popups
  apps/learner-web-app/public/files/telugu_consent_form.pdf
  apps/learner-web-app/src/app/nava-patham/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Exp India: Relaignment of Course Cards
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

Added language constants for navapatham
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Issue feat:Add 'Board' filter for SCP CCTA and SCTAs
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
Owners: @admin-app-owners

Skipped unwanted popups
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

Fixed errors
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Updated translations
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

Issue #PS-000 chore: Added helper text support below text field in telgu language
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomTextFieldWidget.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: Hide download app section from login page for android app
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

Issue feat; Filter retired boards
  apps/admin-app-repo/src/pages/api/dynamic-form/get-framework.js
  apps/teachers/src/pages/api/dynamic-form/get-framework.js
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
  mfes/editors/src/utils/Helper.ts
  mfes/players/src/components/utils/Helper.ts
  mfes/workspace/src/utils/Helper.ts
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

pos home page image arrow issue and lmp board enrollment filter retired board
  apps/learner-web-app/src/components/pos/Home.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added language constants
  apps/learner-web-app/src/components/AccountExistsCard/AccountExistsCard.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Updated PR
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue #PS-000 chore: Fixed language constant issue
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

filter added
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidget.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
Owners: @admin-app-owners, @core-team

Updated PR
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

filter added
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
Owners: @core-team

Updated PR
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Issue feat: Restrict certificate for pragyanpath and scp through uiconfig
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

filter added
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: Added missing language constants
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Added custom helperText for dependent fields
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Reverted popup removal code
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/navapatham/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

test
  libs/shared-lib-v2/src/MapUser/MultipleCenterListWidgetNew.tsx
Owners: @core-team

Issue feat : update certioficate modal height width
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

uncomment publish unvlish buttons
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Removed popup when direct enrollment and added missing language constants
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Added missing language constants
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

Issue #PS-6236 fix: Removed irrevalant options for batch type from batch creation form in lap
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
Owners: @admin-app-owners

batch list added
  apps/admin-app-repo/src/pages/user-instructor.tsx
  libs/shared-lib-v2/src/MapUser/MultipleBatchListWidget.tsx
Owners: @admin-app-owners, @core-team

batch list added
  apps/admin-app-repo/src/pages/user-instructor.tsx
  libs/shared-lib-v2/src/MapUser/MultipleBatchListWidget.tsx
Owners: @admin-app-owners, @core-team
