Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: Restrict interest to join pending update user whose program does not contain isTenantPendingStatus true
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
Owners: @pratham-project-admin

Bug fixes for bulk import
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  apps/learner-web-app/src/utils/helper.ts
  mfes/workspace/src/components/bulk-import/ImportSummary.tsx
  mfes/workspace/src/components/bulk-import/TemplateDownload.tsx
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  package-lock.json
  package.json
Owners: @admin-app-owners, @pratham-project-admin

After changing a Academic year filter reload user on same page.
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
Owners: @admin-app-owners

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert changes
  package.json
Owners: @pratham-project-admin

revert changes
  package-lock.json
Owners: @pratham-project-admin

Remove actions,Add new and Add map button for previouse year and only show selected actions for previouse year
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/components/PaginatedTable/PaginatedTable.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/central-head.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  apps/admin-app-repo/src/utils/filterTableActionsForAcademicYear.ts
Owners: @admin-app-owners

build fixes
  mfes/workspace/src/types/bulkImport.types.ts
Owners: @pratham-project-admin

build changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Previous Academic Year Changes for LMP
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

h5p publish peview added
  mfes/players/src/pages/index.tsx
  mfes/workspace/src/components/players/ContentPlayerV2.tsx
  mfes/workspace/src/components/players/Players.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/utils/app.config.ts
Owners: @pratham-project-admin

Re-introduce Mode of Learning Field on Platform Registration - Make remote field preselct
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Added Academic Year Support in Survey
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/src/utils/bootstrapAuth.ts
  mfes/youthNet/src/components/Header.tsx
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

LAP - Menus open in new tab changes
  apps/admin-app-repo/src/components/layouts/sidebar/Sidebar.tsx
Owners: @admin-app-owners

disable auto-suggestion from browser
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  apps/admin-app-repo/src/components/DynamicForm/RJSFWidget/CustomTextFieldWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/RJSFWidget/CustomTextFieldWidget.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Experimenttoindia : Accessbility options not working properly issue fix
  apps/learner-web-app/src/app/themantic/themantic.css
  apps/learner-web-app/src/components/themantic/SearchButton.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
  apps/learner-web-app/src/utils/scaledFontSize.ts
Owners: @pratham-project-admin

player integration done for all players
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
  mfes/players/public/libs/content-player-v2/h5p-iframe.html
  mfes/players/src/components/players/Players.tsx
Owners: @pratham-project-admin

PLP-Submenus and Course cards open in new tab functionality
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/utils/contentCardHref.ts
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/ContentCardCarousel.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/Content/CommonList.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/UnitGrid.tsx
  mfes/players/src/components/players/ContentPlayerV2.tsx
  mfes/players/src/components/utils/Helper.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin, @core-team

LMP Open in new tab changes
  mfes/scp-teacher-repo/src/components/BatchList.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

LPM : Youthnet open in new tabs
  mfes/youthNet/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Themantic accessbility feedback changes
  apps/learner-web-app/src/app/themantic/themanticCard/[cardId]/page.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/themantic/Search.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/enrollment-details.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
  apps/learner-web-app/src/utils/scaledFontSize.ts
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/utils/scaledFontSize.ts
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin, @core-team

all player added
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
  mfes/players/public/libs/content-player-v2/index.html
  mfes/players/src/components/players/ContentPlayerV2.tsx
Owners: @pratham-project-admin

PS-6880 : Does this phone belong to you' field appear in Complete Profile section even if Type of Phone Accessible field value set to No Phone
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

PS-6880 : Does this phone belong to you' field appear in Complete Profile section even if Type of Phone Accessible field value set to No Phone
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

PS-6935 : Pragyanpath - show correct error message on login screen
  apps/admin-app-repo/src/pages/sso/index.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

PS-6935 : Pragyanpath - show correct error message on login screen
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Show download button on mobile and tablet devices - (client reported issue)
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

backup\
  mfes/players/src/components/players/ContentPlayerV2.tsx
Owners: @pratham-project-admin

bulk import button hide
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

Issue feat: Fix block deselct filter issue for learner registeration pichart
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
Owners: @pratham-project-admin

event progress added
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
Owners: @pratham-project-admin

Add academicYear parameter to relevant interfaces and components
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/coursePlanner.ts
  apps/admin-app-repo/src/utils/Interfaces.ts
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

Gemini Fixes
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

frotnend pdf create for download
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/types/global.d.ts
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/types/declarations.d.ts
  package-lock.json
  package.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Download sample XLSX file - in the content section, the last 2 columns' values appear mismatched or misplaced
  .gitignore
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin, @admin-app-owners

Issue feat:Google analytic changes for download button and course program
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  apps/learner-web-app/src/utils/googleAnalytics.ts
Owners: @pratham-project-admin

Issue feat: Add learner registeration change request search by username and remove bydefault filters
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/RegistrationPieChart.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

PS-6840 : Update useful links for POS
  apps/learner-web-app/src/components/pos/Footer.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

PS-6840 : Update useful links for POS
  apps/learner-web-app/src/components/pos/Footer.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
