Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue #PS-6251 fix: Fixed issue Edit center - the Google map link and Address field appear if the Type of Center set Remote
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue feat:Reorder Search Results: Display Content Before Courses
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Fixed multiple api calls and landing page crash issue
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Modified payload for user-tenant api
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
Owners: @admin-app-owners

Issue feat: Filter retired borads from schedule session
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
Owners: @pratham-project-admin

Issue feat: correct board grade medium to fetch course planner
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
Owners: @pratham-project-admin

issue fix
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/footer/Footer.tsx
Owners: @pratham-project-admin

Issue feat: Add last updated by
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

Issue #PS-6264 chore: Modified user-tenant api payload in lmp
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat: Fix translation issue for dynamic form
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

Issue feat: Display Username under Learner's Name in list views for below menus:
  mfes/scp-teacher-repo/src/components/AssessmentReportCard.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

solved issue of customfields, common component in LMS
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  libs/shared-lib-v2/src/MapUser/LMPMultipleBatchListWidget.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue #PS-6223 chore: Hidden gmoogle map link from list view on center page
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

solved issue of customfields, common component in LMS
  libs/shared-lib-v2/src/MapUser/LMPMultipleBatchListWidget.tsx
Owners: @core-team

Issue #PS-000 chore: Updated ordering of form fields in batch and center creation form
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

Issue feat: Add new Program pages for pos
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
Owners: @pratham-project-admin, @core-team

customfields solved, reassign added common component for leader user
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
Owners: @admin-app-owners

Issue feat: Update certificate modal
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

update pr
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

update pr
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

reassign and edit completed in LAP
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  libs/shared-lib-v2/src/DynamicForm/services/NotificationService.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/MapUser/EditSearchUser.tsx
Owners: @admin-app-owners, @core-team

Issue feat: Prefilled enrolled form for common program specific fields
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

update translation and resolve ccta content publish issue
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/youthNet/public/locales/mr/common.json
Owners: @pratham-project-admin

add translations
  mfes/youthNet/public/locales/hi/common.json
Owners: @pratham-project-admin

Issue feat: Restrict scta publish for question set on all my content page
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @pratham-project-admin

facilitator reassign added
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Issue #Issue #PS-6231 chore: Delete/Activate intructor in lap
  apps/admin-app-repo/src/pages/user-instructor.tsx
  libs/shared-lib-v2/src/DynamicForm/services/UserService.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/MapUser/DeleteUser.ts
Owners: @admin-app-owners, @core-team

Issue feat: Add set and reset password flow for pragyanpath and youthnet user,..also enable pragyanpath manager login through login page with user name and password
  apps/admin-app-repo/public/locales/en/common.json
  apps/teachers/src/pages/login.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/CentralizedModal/CentralizedModal.tsx
  mfes/youthNet/src/components/PasswordCreate/PasswordCreate.tsx
  mfes/youthNet/src/pages/edit-password/index.tsx
  mfes/youthNet/src/pages/sso/index.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
  mfes/youthNet/src/services/ProfileService.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

Issue #Issue #PS-6231 chore: Delete/Activate leader in lap
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
Owners: @admin-app-owners

Issue #Issue #PS-6231 chore: Delete/Activate content-creator in lap
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  libs/shared-lib-v2/src/MapUser/DeleteUser.ts
Owners: @admin-app-owners, @core-team

Issue #Issue #PS-6231 chore: Delete/Activate content-reviewer in lap
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
Owners: @admin-app-owners

Issue #Issue #PS-6231 chore: Delete/Activate state lead in lap
  apps/admin-app-repo/src/pages/user-state-lead.tsx
Owners: @admin-app-owners

Issue
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  libs/shared-lib-v2/src/MapUser/DeleteUser.ts
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: fixed working village mapping issue on profile page
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Added delete functionality for mobilizer in lmp
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Fixed working villages display issue in mobilizer list view in lap
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Created WorkingVillageAssignmentWidget for mobilizer flow
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

Issue feat: remove edit mode for pos hierarchyAPI api
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin
