Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Enable Pragyanpath user to access CMS
  apps/admin-app-repo/src/components/RouteGuard.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  apps/admin-app-repo/src/utils/app.constant.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Enable Pragyanpath user to access CMS
  apps/admin-app-repo/src/components/RouteGuard.tsx
Owners: @admin-app-owners

Issue feat: Fix other state user data issue for state admin
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

Fix Link in Content Review Email and filtering Reviewer list based on tenantId
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/editors/src/services/sendContentNotification.ts
  mfes/editors/src/services/userServices.ts
  mfes/workspace/src/services/sendContentNotification.ts
Owners: @pratham-project-admin

Fix Link in Content Review Email and filtering Reviewer list based on tenantId
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/editors/src/services/sendContentNotification.ts
  mfes/workspace/src/services/sendContentNotification.ts
Owners: @pratham-project-admin

Issue task PS-4081 : UI and constatant addee for facilitator app
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue task PS-4081 : UI and constatant addee for facilitator app
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Issue feat:Map is-volunteer field as per new API response
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat: Add login and forget password screens
  mfes/forget-password/src/Components/AccountSelectionForm.tsx
  mfes/forget-password/src/Components/ForgotPasswordComponent.tsx
  mfes/forget-password/src/Components/OtpVerificationComponent.tsx
  mfes/forget-password/src/Components/PasswordResetSuccess.tsx
  mfes/forget-password/src/Components/ResetPasswordForm.tsx
  mfes/forget-password/src/Components/SimpleModal.tsx
  mfes/forget-password/src/app/forget-Password/page.tsx
  mfes/forget-password/src/app/layout.tsx
  mfes/forget-password/src/styles/customTheme.tsx
  mfes/forget-password/src/styles/globals.css
  mfes/forget-password/src/styles/modalStyles.tsx
  mfes/login/src/Components/AccountSelectionForm.tsx
  mfes/login/src/Components/ForgotPasswordComponent.tsx
  mfes/login/src/Components/ResetPasswordForm.tsx
  mfes/login/src/Components/loginComponent.tsx
  mfes/login/src/app/layout.tsx
  mfes/login/src/app/login/page.tsx
  mfes/login/src/styles/customTheme.tsx
  mfes/login/src/styles/globals.css
  mfes/login/src/styles/modalStyles.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/mentor-leader.tsx
  apps/admin-app-repo/src/pages/mentor.tsx
  apps/admin-app-repo/src/pages/team-leader.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

update
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

fix: update API endpoints and handle errors
  README.md
  apps/learner-web-app/tsconfig.json
  libs/shared-lib/src/lib/Layout/Layout.tsx
  libs/shared-lib/src/lib/SunbirdPlayer/SunbirdPlayer.tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/services/Hierarchy.ts
  mfes/content/src/services/Read.ts
  mfes/content/src/services/Search.ts
  mfes/content/src/utils/url.config.ts
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/pages/play.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
  mfes/players/src/utils/Interface.ts
Owners: @pratham-project-admin, @core-team

update pr
  mfes/login/src/Components/AccountSelectionForm.tsx
  mfes/login/src/Components/ForgotPasswordComponent.tsx
  mfes/login/src/Components/ResetPasswordForm.tsx
Owners: @pratham-project-admin

Issue feat: make forgot password s page optimize and reusable
  mfes/forget-password/src/app/forget-Password/page.tsx
Owners: @pratham-project-admin

fix: theme and language constant
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  libs/shared-lib/src/index.ts
  libs/shared-lib/src/lib/Card/CommonCard.tsx
  libs/shared-lib/src/lib/Search/CommonSearch.tsx
  libs/shared-lib/src/lib/context/LanguageContext.tsx
  libs/shared-lib/src/lib/context/Languages.ts
  libs/shared-lib/src/lib/context/locales/en.json
  libs/shared-lib/src/lib/context/locales/hi.json
  mfes/content/src/app/theme/MuiThemeProvider.tsx
  mfes/content/src/pages/_app.tsx
  mfes/content/src/pages/certificates.tsx
  mfes/content/src/pages/content-details/[identifier].tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/content/[identifier].tsx
  mfes/content/src/pages/details/[identifier].tsx
  mfes/content/src/utils/menus.tsx
  tsconfig.base.json
Owners: @pratham-project-admin, @core-team

fix: sonar issue
  sonar-project.properties
Owners: @pratham-project-admin

fix: sonar issue
  apps/learner-web-app/src/middleware.ts
  mfes/content/public/content/preview/coreplugins/org.ekstep.endpage-1.0/renderer/templates/end.html
  mfes/content/public/content/preview/coreplugins/org.ekstep.nextnavigation-1.0/renderer/templates/default.html
  mfes/content/public/content/preview/coreplugins/org.ekstep.overlay-1.0/renderer/templates/menu.html
  mfes/content/public/content/preview/coreplugins/org.ekstep.previousnavigation-1.0/renderer/templates/default.html
  mfes/content/public/content/preview/coreplugins/org.ekstep.userswitcher-1.0/renderer/templates/user-switch-popup.html
  mfes/content/public/content/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/libs/loader.css
  mfes/content/public/content/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/libs/video-js.css
  mfes/content/public/content/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/libs/videojs.css
  mfes/content/src/pages/content.tsx
  mfes/players/src/components/V1-Player/V1Player.tsx
  sonar-project.properties
Owners: @pratham-project-admin

fix: sonar issue
  mfes/content/public/content/preview/coreplugins/org.ekstep.videorenderer-1.1/renderer/libs/videolibs/videojs-vjsdownload.js
Owners: @pratham-project-admin

update pr
  mfes/login/src/app/layout.tsx
  mfes/login/src/app/login/page.tsx
  mfes/login/src/styles/customTheme.tsx
  mfes/login/src/styles/globals.css
  mfes/login/src/styles/modalStyles.tsx
Owners: @pratham-project-admin

fix: sonar
  mfes/content/public/content/preview/coreplugins/org.sunbird.player.endpage-1.1/renderer/endpageApp.js
  mfes/content/public/content/preview/coreplugins/org.sunbird.player.userswitcher-1.0/renderer/templates/sunbird-user-switch-popup.html
  mfes/content/public/content/preview/preview.html
  mfes/content/public/content/preview/preview_cdn.html
Owners: @pratham-project-admin

Issue #PS-4408: Fixed Board enrollment flow
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
Owners: @pratham-project-admin

fix: sonar issue
  mfes/content/public/content/preview/coreplugins/org.sunbird.player.endpage-1.1/renderer/templates/end.html
  mfes/content/public/content/preview/coreplugins/org.sunbird.player.userswitcher-1.0/renderer/templates/sunbird-user-switch-popup.html
Owners: @pratham-project-admin

fix: sonar issue
  sonar-project.properties
Owners: @pratham-project-admin

Browse, view and enroll in L1 courses
  apps/learner-web-app/public/logo.png
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/theme.d.ts
  libs/shared-lib/src/index.ts
  libs/shared-lib/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib/src/lib/Filter/FilterForm.tsx
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/lib/Layout/Layout.tsx
  mfes/content/next-env.d.ts
  mfes/content/src/app/theme/MuiThemeProvider.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/pages/_app.tsx
  mfes/content/src/pages/certificates.tsx
  mfes/content/src/pages/content-details/[identifier].tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/details/[identifier].tsx
  mfes/content/tsconfig.json
Owners: @pratham-project-admin, @core-team

update pr: Integrate forget-password API
  apps/learner-web-app/src/app/layout.tsx
  mfes/forget-password/src/Components/ResetPasswordForm/ResetPasswordForm.tsx
  mfes/forget-password/src/app/account-selection/page.tsx
  mfes/forget-password/src/app/forget-Password/page.tsx
  mfes/forget-password/src/app/reset-Password/page.tsx
  mfes/forget-password/src/utils/API/EndUrls.ts
  mfes/forget-password/src/utils/API/OtPService.ts
  mfes/forget-password/src/utils/API/resetPasswordService.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/layout.tsx
Owners: @pratham-project-admin

update pr
  tsconfig.learner.json
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

fix: l1 course page and explore
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content-details/[identifier].tsx
  apps/learner-web-app/src/app/content/FilterComponent.tsx
  apps/learner-web-app/src/app/content/LearnerCourse.tsx
  apps/learner-web-app/src/app/content/SearchComponent.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/details/[identifier].tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/player/[identifier].tsx
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib/src/lib/Dialog/CommonDialog.tsx
  libs/shared-lib/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib/src/lib/Filter/FilterForm.tsx
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/lib/Layout/Layout.tsx
  libs/shared-lib/src/lib/context/LanguageContext.tsx
  libs/shared-lib/src/lib/context/locales/en.json
  libs/shared-lib/src/lib/context/locales/hi.json
  mfes/content/src/components/FilterDialog.tsx
  mfes/content/src/components/HelpDesk.tsx
  mfes/content/src/pages/content.tsx
Owners: @pratham-project-admin, @core-team

fix: Ui issues
  apps/admin-app-repo/src/services/Interceptor.ts
  apps/learner-web-app/src/app/content-details/[identifier].tsx
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/details/[identifier].tsx
  apps/learner-web-app/src/app/details/[identifier]/page.tsx
  libs/shared-lib/src/lib/Services/Interceptor.ts
  libs/shared-lib/src/utils/Interceptor.ts
  mfes/content/src/components/CommonCollapse.tsx
  mfes/content/src/components/HelpDesk.tsx
  mfes/content/src/components/LayoutPage.tsx
  mfes/content/src/pages/content-details/[identifier].tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/details/[identifier].tsx
  mfes/content/src/pages/player/[identifier].tsx
  tsconfig.base.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

fix:
  apps/learner-web-app/src/app/app/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/app/content/LearnerCourse.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/player/[identifier].tsx
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  libs/shared-lib/src/lib/Filter/FilterForm.tsx
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/lib/Loader/Loader.tsx
  mfes/content/src/components/ContentTabs.tsx
  mfes/content/src/components/FilterDialog.tsx
  mfes/content/src/pages/content.tsx
  mfes/content/src/pages/player/[identifier].tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/pages/play.tsx
  tsconfig.base.json
Owners: @pratham-project-admin, @core-team

fix:remove window.location.href = '/logout';
  apps/admin-app-repo/src/services/Interceptor.ts
  libs/shared-lib/src/lib/Services/Interceptor.ts
  libs/shared-lib/src/utils/Interceptor.ts
Owners: @admin-app-owners, @core-team

Updating tenantConfig for youthnet to use POS taxonomy
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

docker file setup and middleware added
  Dockerfile.learner-web-app
  apps/learner-web-app/src/middleware.ts
  docker-compose.learner-web-app.yml
  ecosystem.learner-web-app.config.js
Owners: @pratham-project-admin

shared lib v2 added
  libs/shared-lib-v2/.babelrc
  libs/shared-lib-v2/README.md
  libs/shared-lib-v2/eslint.config.js
  libs/shared-lib-v2/jest.config.ts
  libs/shared-lib-v2/package.json
  libs/shared-lib-v2/project.json
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/shared-lib-v2.module.css
  libs/shared-lib-v2/src/lib/shared-lib-v2.spec.tsx
  libs/shared-lib-v2/src/lib/shared-lib-v2.tsx
  libs/shared-lib-v2/tsconfig.json
  libs/shared-lib-v2/tsconfig.lib.json
  libs/shared-lib-v2/tsconfig.spec.json
  libs/shared-lib-v2/vite.config.ts
Owners: @core-team

Issue feat: Implement skilling center Functionality
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

fix:create new shared-lib-v2 and move required files and fix issue
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Dialog/CommonDialog.tsx
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Footer/Footer.tsx
  libs/shared-lib-v2/src/lib/Header/Header.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
  libs/shared-lib-v2/src/lib/Progress/Circular.tsx
  libs/shared-lib-v2/src/lib/Progress/CircularProgressWithLabel.tsx
  libs/shared-lib-v2/src/lib/Progress/Progress.tsx
  libs/shared-lib-v2/src/lib/Search/CommonSearch.tsx
  libs/shared-lib-v2/src/lib/Tabs/CommonTabs.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  libs/shared-lib-v2/src/lib/context/Languages.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/utils/DataClient.ts
  libs/shared-lib-v2/src/utils/Interceptor.ts
  libs/shared-lib-v2/src/utils/LoginService.ts
  libs/shared-lib-v2/src/utils/RestClient.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/index.ts
  mfes/content/src/middleware.ts
  mfes/content/src/pages/player/[identifier].tsx
  mfes/content/tsconfig.json
  mfes/players/src/components/V1-Player/V1Player.tsx
  tsconfig.learner.json
Owners: @pratham-project-admin, @core-team

fix:add env for player URL NEXT_PUBLIC_LEARNER_SBPLAYER
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  mfes/content/src/middleware.ts
  mfes/content/src/pages/player/[identifier].tsx
Owners: @pratham-project-admin

fix: click issue
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib/src/lib/Drawer/CommonDrawer.tsx
Owners: @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
