Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Issue feat: Add comment
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Update login.tsx - test
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue feat:Remove required validation for dob dependent fields
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

Fixed toast message issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Issue Bug: Solve forget password invalid mobile number issue
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
Owners: @core-team, @pratham-project-admin

Issue #PS-000 chore: Fixed course planner subtopic update issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Resolved externalId undefined issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Fixed error
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Issue Bug: When tried to update the existing mentor, "Update" button is not available
  apps/admin-app-repo/src/pages/mentor.tsx
  mfes/forget-password/src/app/reset-Password/page.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue #Ps-000 chore: Added resource type as mandatory
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Issue #PS-000 chore: Fixed subtopic delete issue on edit flow
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Issue feat: Add url redirection for forget password mfe for learner android app
  mfes/forget-password/src/app/reset-Password/page.tsx
Owners: @pratham-project-admin

update pr: Fixed Issue:In mentor lead, when tried to navigate to "villages" and "Youth and volunteer" tab, it keeps on loading
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed toast message color issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Fixed label issue for resource type dropdown
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Issue feat:Fix batchjform issue
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Issue feat: Hide edit learner button
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

Resolved subtopic name edit issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
Owners: @admin-app-owners

Fixed snackbar color issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Fixed snackbar issue
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
Owners: @admin-app-owners

Issue feat: Fix popup auto-close on outside click, sort issue in 'New Registration Today' for mentor and mentor lead application
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
  mfes/youthNet/src/components/SimpleModal.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat:Add redirection url after password reset success
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
Owners: @pratham-project-admin

update pr
  mfes/forget-password/src/app/reset-Password/page.tsx
Owners: @pratham-project-admin

Issue feat: Add tab query to redirect back in learner android app
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
  mfes/forget-password/src/app/reset-Password/page.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed content display issue duplicate do id in course planner
  apps/admin-app-repo/src/pages/resourceList.tsx
Owners: @admin-app-owners

Issue feat: Remove guardian name and relation from required left only parent phone number
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

fix:certificate issue
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/players/src/services/PlayerService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

fix: handle POS player back button when active link is missing from URL
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added QR code feature in Workspace
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/QrModal.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  package-lock.json
  package.json
Owners: @pratham-project-admin

Issue feat: Resolved Youthnet teacher, learner admin issues
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeacherSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/youthNet/src/components/youthNet/MentorForm/MentorAssignment.tsx
  mfes/youthNet/src/pages/_app.tsx
  mfes/youthNet/src/pages/user-profile/[userId].tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Added QR code and copy to clipboard support for allContents page in workspace
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
Owners: @pratham-project-admin

Fix build issue
  libs/shared-lib-v2/src/DynamicForm/components/FormTemplate/ObjectFieldTemplate.tsx
Owners: @core-team

Issue feat:Fix build issue
  libs/shared-lib-v2/src/DynamicForm/components/FormTemplate/ObjectFieldTemplate.tsx
Owners: @core-team

Issue #PS-000 chore: Fixed course planner tracking issue
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Update mocked-response.ts
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

Disabled designation field in edit FL form
  mfes/scp-teacher-repo/src/shared/FacilitatorManage/FacilitatorManage.tsx
Owners: @pratham-project-admin

Issue feat : Reassign Issue
  apps/admin-app-repo/src/config/menuConfig.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

thematic Repository UI implementation
  apps/learner-web-app/public/images/mainpagebig.png
  apps/learner-web-app/src/app/pos/themantic/HomeCards/HomeCards.tsx
  apps/learner-web-app/src/app/pos/themantic/footer/Footer.tsx
  apps/learner-web-app/src/app/pos/themantic/layout/Layout.tsx
  apps/learner-web-app/src/app/pos/themantic/page.tsx
  apps/learner-web-app/src/app/pos/themantic/subHeader/SubHeader.tsx
  apps/learner-web-app/src/app/pos/themantic/themanticCard/[cardId]/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
Owners: @pratham-project-admin, @core-team
