Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

fix: Adjust layout spacing in L2InterestedQueuePage for improved UI consistency
  mfes/youthNet/src/pages/l2-interested-queue.tsx
Owners: @pratham-project-admin

PS-7395 : LAP = unpublished Question set appear under both Unpublished and Deleted status
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

empty PSU issue solved in pragyanpath dashboard
  mfes/youthNet/src/hooks/useManagerDashboardData.ts
Owners: @pratham-project-admin

Enhance board and stream selection logic in BatchFlow to handle ambiguous board scenarios
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
Owners: @admin-app-owners

PS-7360 : Attendance Details Not Consistently Visible for Sessions- #3544
  mfes/scp-teacher-repo/src/components/MonthCalender.tsx
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/EventService.ts
  mfes/scp-teacher-repo/src/utils/attendanceStats.ts
Owners: @pratham-project-admin

PS-7406 : PLP = learner registered by facilitator - the Family Member details appear missing on edit profile
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

PS-7360 : Attendance Details Not Consistently Visible for Sessions- #3544
  mfes/scp-teacher-repo/src/components/MonthCalender.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
Owners: @pratham-project-admin

c2c changes
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/NdaPolicyAcknowledgementWidget.tsx
Owners: @pratham-project-admin, @core-team

PS-7420 : Update translations added aftter 22nd July 2026
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

PS-7420 : Update translations added aftter 22nd July 2026 Techer app repo
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7420 : Update translations added aftter 22nd July 2026 youthnet
  mfes/youthNet/public/locales/gu/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/kan/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/tam/common.json
  mfes/youthNet/public/locales/tel/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

Session created by one person should not edit by another person
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
Owners: @pratham-project-admin

feat: Add Placement Property management functionality
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/admin-app-repo/src/components/AddEditPlacementPropertyModal.tsx
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormConstant.ts
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/MasterPlacementPropertySearch.js
  apps/admin-app-repo/src/pages/placement-property.tsx
  apps/admin-app-repo/src/services/PlacementPropertyService.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
Owners: @admin-app-owners

Add "Second Chance Program Pathways" option to genericEditorReviewFormResponse
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

US-1 · Cross-Center Sessions menu item & list view
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Refactor BatchFlow to simplify value extraction from customFields and improve form data handling for pathways program
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
Owners: @admin-app-owners

API Changes for Volunteer Survey
  apps/learner-web-app/src/utils/API/userService.ts
  mfes/survey-forms/src/app/survey-list/SurveyListPage.tsx
  mfes/survey-forms/src/utils/API/surveyService.ts
Owners: @pratham-project-admin

feat: Update API endpoints and enhance localization with new domain and skills fields
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @admin-app-owners, @core-team

Use of Coelish Operator
  mfes/survey-forms/src/app/survey-list/SurveyListPage.tsx
Owners: @pratham-project-admin

PS-7431 : US-2 · Schedule a session across multiple batches
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CenterSessionModal.tsx
  mfes/scp-teacher-repo/src/components/CrossCenterScheduleWizard.tsx
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
  mfes/scp-teacher-repo/src/services/EventService.ts
  mfes/scp-teacher-repo/src/styles/modalStyles.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
  mfes/scp-teacher-repo/src/utils/crossCenter.ts
Owners: @pratham-project-admin

US-3 · Schedule a single-batch session from the batch page
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
Owners: @pratham-project-admin

US-4 · Edit (and delete) a cross-center session (details + add/remove batches)
  mfes/scp-teacher-repo/src/components/CrossCenterScheduleWizard.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

US-5 · Edit a multi-batch session from a batch page
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
Owners: @pratham-project-admin

US-6 · Restrict edit/delete to the session creator
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
  mfes/scp-teacher-repo/src/pages/centers/cross-center-sessions/index.tsx
Owners: @pratham-project-admin

UT bug Fix : inaccurate has a session calendar indicators
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
Owners: @pratham-project-admin

Show confirmation popup while schedule session if already session scheduled on same time
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CrossCenterScheduleWizard.tsx
Owners: @pratham-project-admin

translations added
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

collection editor flicker issue solved
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

feat: Add My Teaching Center components and services
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/admin-app-repo/src/components/AddEditPlacementPropertyModal.tsx
  apps/admin-app-repo/src/constant/Forms/MasterPlacementPropertySearch.js
  apps/admin-app-repo/src/pages/centers.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/l2InterestedQueue/AllocateToBatchModal.tsx
  mfes/youthNet/src/components/myTeachingCenter/BatchDetailsHeader.tsx
  mfes/youthNet/src/components/myTeachingCenter/BatchList.tsx
  mfes/youthNet/src/components/myTeachingCenter/CreateBatchModal.tsx
  mfes/youthNet/src/components/myTeachingCenter/DropoutReasonModal.tsx
  mfes/youthNet/src/components/myTeachingCenter/LearnerListTable.tsx
  mfes/youthNet/src/components/myTeachingCenter/LearnerSearchBar.tsx
  mfes/youthNet/src/components/myTeachingCenter/OjtAddressCell.tsx
  mfes/youthNet/src/constant/Forms/L2BatchCreate.ts
  mfes/youthNet/src/pages/l2-interested-queue.tsx
  mfes/youthNet/src/pages/my-teaching-center/[batchId].tsx
  mfes/youthNet/src/pages/my-teaching-center/index.tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
  mfes/youthNet/src/services/myTeachingCenter/CreateBatchService.ts
  mfes/youthNet/src/services/myTeachingCenter/LearnerListService.ts
  mfes/youthNet/src/services/myTeachingCenter/TrainerTaxonomyService.ts
  mfes/youthNet/src/services/myTeachingCenter/myTeachingCenter.config.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

feat: Update fetch URL in MasterPlacementPropertySearchSchema and add ResetFiltersButton to PlacementProperty component
  apps/admin-app-repo/src/constant/Forms/MasterPlacementPropertySearch.js
  apps/admin-app-repo/src/pages/placement-property.tsx
Owners: @admin-app-owners

hide policy details
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

feat: Add centerType handling in CreateBatchModal and fetch cohort type in MyTeachingCenterPage
  mfes/youthNet/src/components/myTeachingCenter/CreateBatchModal.tsx
  mfes/youthNet/src/pages/my-teaching-center/index.tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
Owners: @pratham-project-admin

feat: Add district, block, and village fields with dependent API calls in PlacementRetentionCoordinatorSearch
  apps/admin-app-repo/src/constant/Forms/PlacementRetentionCoordinatorSearch.js
Owners: @admin-app-owners

feat: Add centerName to BatchDetailsHeader and update related components for improved display
  mfes/youthNet/src/components/myTeachingCenter/BatchDetailsHeader.tsx
  mfes/youthNet/src/pages/my-teaching-center/[batchId].tsx
  mfes/youthNet/src/services/myTeachingCenter/BatchListService.ts
  mfes/youthNet/src/utils/Interfaces.ts
Owners: @pratham-project-admin

question editor version upgrade
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @pratham-project-admin

feat: Replace Course with Skill in L2 Queue components and update related schemas and services
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/l2InterestedQueue/AllocateToBatchModal.tsx
  mfes/youthNet/src/constant/Forms/L2QueueAssignSchema.ts
  mfes/youthNet/src/constant/Forms/L2QueueSearchSchema.ts
  mfes/youthNet/src/pages/l2-interested-queue.tsx
  mfes/youthNet/src/services/l2InterestedQueue/getCourseNames.ts
  mfes/youthNet/src/services/l2InterestedQueue/l2Queue.config.ts
  mfes/youthNet/src/services/l2InterestedQueue/l2QueueHelpers.ts
  mfes/youthNet/src/services/myTeachingCenter/LearnerListService.ts
Owners: @pratham-project-admin

PS-7452 : POS - Display content type icons with text on content tiles (like APK)
  apps/learner-web-app/public/images/MP4.svg
  apps/learner-web-app/public/images/Qml.svg
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
  mfes/workspace/src/components/ResourceCard.tsx
Owners: @pratham-project-admin

PS-7383 : Issue Center, Batch, and Learner Assessment Visibility in LMP App
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

[QA & Production Web App]“What Program Are You Part Of?” data is lost from Profile and Edit Profile after reopening Complete Profile without submission
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

PS-7408 : Android : Family Member Details allows selecting and entering Spouse details when Marital Status is set to Unmarried
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
