Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue #PS-6479 chore: Show the session details on the Mark Center Attendance pop-up
  mfes/scp-teacher-repo/src/services/EventService.ts
Owners: @pratham-project-admin

type added
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationRegistredWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/VolunteerTypeWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

stepper form completed
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/ChildPocsoFraudPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/NdaPolicyAcknowledgementWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationRegistredWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

translation added label
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationRegistredWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/POCNameSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/RegisterTypeWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/VolunteerTypeWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

translation added label
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/POCNameSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/SubProgramListWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/services/CreateUserService.ts
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

ptm dashboard with dummy data
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
  mfes/scp-teacher-repo/app.config.ts
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/PtmComponents/DataTable.tsx
  mfes/youthNet/src/components/PtmComponents/DynamicFilterBar.tsx
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
  mfes/youthNet/src/components/PtmComponents/StatusCard.tsx
  mfes/youthNet/src/components/PtmComponents/StatusCardsRow.tsx
  mfes/youthNet/src/components/PtmComponents/index.ts
  mfes/youthNet/src/components/prompt.txt
  mfes/youthNet/src/pages/individual-volunteer/index.tsx
  mfes/youthNet/src/pages/organisation-volunteer/index.tsx
  mfes/youthNet/src/pages/organisation/index.tsx
  mfes/youthNet/src/pages/sso/index.tsx
  mfes/youthNet/src/services/youthNet/Dashboard/VillageServices.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @core-team, @pratham-project-admin

changes in component
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/POCNameSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

Issue #PS-000 chore: Updated api calls for back dated attendance
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  mfes/scp-teacher-repo/src/components/MarkAttendance.tsx
  mfes/scp-teacher-repo/src/components/MarkBulkAttendance.tsx
  mfes/scp-teacher-repo/src/services/AttendanceService.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @core-team, @pratham-project-admin

API integration for ptm dashboard
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/PtmComponents/DataTable.tsx
  mfes/youthNet/src/components/PtmComponents/DynamicFilterBar.tsx
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
  mfes/youthNet/src/pages/individual-volunteer/index.tsx
  mfes/youthNet/src/pages/organisation-volunteer/index.tsx
  mfes/youthNet/src/pages/organisation/index.tsx
  mfes/youthNet/src/services/ManageUser.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

update pr: Add ptm_id in payload
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
Owners: @pratham-project-admin

update pr: update table ui
  mfes/youthNet/src/components/PtmComponents/DataTable.tsx
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
Owners: @pratham-project-admin

ptm depenencies done in organization cerate
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/OrganizationSearchWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomForm/PTMNameWidget.tsx
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

mobile number editable in staff role mapping
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

build issue solved
  mfes/youthNet/src/components/PtmComponents/DynamicFilterBar.tsx
Owners: @pratham-project-admin

Issue #PS-5760 fix: Session issue fixes
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CenterSessionModal.tsx
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/components/TopicDetails.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Issue feat:Resolve callbackswitch modal extra parameter issue
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/teachers/src/pages/login.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners

Issue #PS-6495 fix: Fixed working village display issue on list view for user-mobilizer page
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

tenantstatus to status, dynamic form improvements
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

update pr
  mfes/youthNet/src/components/Header.tsx
Owners: @pratham-project-admin

Issue feat: Add fullscreen option for experimento india player
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

update pr: move icon to bottom right
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

update pr: some of players have alredy full scren option in that case remove custom full screen
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

Issue feat: Add layout and menu bar changes for summar camp
  apps/learner-web-app/src/components/Layout.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: Add missing constants
  apps/teachers/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @teacher-app-owners, @pratham-project-admin

Issue #PS-000 chore: Prod issue fixes
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

prod fix
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

Issue feat: Add is_reject flow
  libs/shared-lib-v2/src/VolunteerOnboard/VolunteerOnboard.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
Owners: @core-team, @pratham-project-admin

Issue feat: Optimize and fix ios device logic for fullscreen icon for experimento
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

Add have you recived your Have you received any prior training value fallback
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue feat: Add mobile number field for lmp learner create
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

center and batch reassign issue solve
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: Fix last modified column issue on cms and remove failed status content fro content library selection
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/submitted/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

Issue feat: set template id for sso users
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

Issue feat: SSO login flow for admin
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

Resolve sonar cloud comments
  apps/admin-app-repo/src/pages/login.tsx
  mfes/workspace/src/components/ai-assessment/SelectContent.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/submitted/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

update pr
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Restricted learner dropout/archieve and reassign functionality if attendance already marked for current date
  mfes/scp-teacher-repo/src/utils/helperAttendanceStatApi.ts
Owners: @pratham-project-admin

Issue feat: enable adbv for learner edit for lmp
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

pagination and search fix
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue feat: manager dashboard issues
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/youthNet/src/components/EmployeeDetails/CourseCard.tsx
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/youthNet/src/pages/employee-details/index.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/services/ManageUser.ts
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
