Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

changes added
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Fix complete profike banner visiibility issue
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

fix: add READ_MORE and READ_LESS to language constants
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

Issue feat: add skilling center filter condition
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
Owners: @pratham-project-admin

add direct env values to firebase file
  apps/teachers/public/firebase-messaging-sw.js
  mfes/authentication/public/firebase-messaging-sw.js
  mfes/scp-teacher-repo/public/firebase-messaging-sw.js
Owners: @teacher-app-owners, @pratham-project-admin

changes added
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

fix: update card title and description layout, info card styling, and search bar UI as per UX
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/Description.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
Owners: @pratham-project-admin, @core-team

changes added
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/skill-center/page.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

Issue feat: Resolve rendering issue
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
Owners: @pratham-project-admin

fix: remove tracking for POS and resolve flicker issue on course detail page
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

POS and Learner web app issue fix
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

fix:Remove status from card for POS
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/app/pos/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/pos/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/pos/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/players/src/pages/index.tsx
Owners: @pratham-project-admin, @core-team

POS and Learner web app issue fix
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/common-modal.tsx
Owners: @pratham-project-admin

POS and Learner web app issue fix
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

fix: menu MobileTopBar sub menu active
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @core-team

course planner in progress
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/pages/youth.tsx
Owners: @admin-app-owners

update pr
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

fix:mobile menu avtive UI
  libs/shared-lib-v2/src/lib/Drawer/CommonDrawer.tsx
Owners: @core-team

fix:POS home page content player issue
  apps/learner-web-app/src/app/pos/page.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

fix: update "Apply Filter" button text to "Done" on mobile view
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @pratham-project-admin, @core-team

fix:POS filter and search button fix
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
Owners: @pratham-project-admin

Issue feat:Update pr
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

fix: build issue
  libs/shared-lib-v2/src/utils/AuthService.ts
Owners: @core-team

backup
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/learner-web-app/next-env.d.ts
Owners: @admin-app-owners, @pratham-project-admin

fix: Restore global search functionality and integrate with homepage/navbar
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/search/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
  apps/learner-web-app/src/components/pos/SearchButton.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin, @core-team

fix: issue
  apps/learner-web-app/src/components/pos/Search.tsx
Owners: @pratham-project-admin

POs and leaner web issue fix
  apps/learner-web-app/public/images/pos_life.jpg
  apps/learner-web-app/public/images/pos_school.jpg
  apps/learner-web-app/public/images/pos_work.jpg
  apps/learner-web-app/src/app/pos/List.tsx
Owners: @pratham-project-admin

POs and leaner web issue fix
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  mfes/content/src/components/BreadCrumb.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @core-team, @pratham-project-admin

POs and leaner web issue fix
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/app/pos/List.tsx
  apps/learner-web-app/src/components/AccessibilityOptions/AccessibilityOptions.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

changes added
  apps/learner-web-app/src/app/change-username/page.tsx
Owners: @pratham-project-admin

Issue feat:add constants for new form changes
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: add lerner form type to dynamic form
  apps/learner-web-app/src/components/Layout.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

backup
  apps/admin-app-repo/src/components/CoursePlan/ConfirmationDialog.tsx
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  apps/admin-app-repo/src/components/CoursePlan/useCustomSnackbar.tsx
Owners: @admin-app-owners

fix: use course hierarchy API for unit detail and handle missing content description
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/services/Hierarchy.ts
Owners: @pratham-project-admin

Issue feat: Hide create, edit, reassign actions for learner for admin
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners
