Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue #PS-5653 chore: Replaced status keyword to tenantStatus for user/list api payload
  apps/admin-app-repo/src/services/UserList.ts
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-5653 chore: Added filter by tenantStatus keyword support in lap
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/UserTable.tsx
  apps/admin-app-repo/src/constant/Forms/ContentCreatorSearch.js
  apps/admin-app-repo/src/constant/Forms/ContentReviewerSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/MentorSearch.js
  apps/admin-app-repo/src/constant/Forms/StateLeadSearch.js
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/constant/Forms/YouthSearch.js
Owners: @admin-app-owners

Issue #PS-000 chore: Added teanantId support in filter for fetching center list in lap
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

update pr
  apps/admin-app-repo/src/services/LoginService.ts
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Iusse #PS-5882 chore: Added 0.5 marks support in offline assessment for lmp
  mfes/scp-teacher-repo/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Iusse #PS-5882 chore: Added 0.5 marks support in offline assessment for youthnet in lmp
  mfes/youthNet/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Issue feat:manual and Ai assessment report pdf download functionality
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
  mfes/scp-teacher-repo/src/components/assessment/ManualAssessmentResultPDF.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/utils/unicodeFonts.ts
  mfes/youthNet/src/components/assessment/AssessmentResultPDF.tsx
  mfes/youthNet/src/components/assessment/ManualAssessmentResultPDF.tsx
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/src/utils/unicodeFonts.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
Owners: @pratham-project-admin

add tenant mapping
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
  apps/admin-app-repo/src/pages/leader-user.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @admin-app-owners, @core-team

add tenant mapping
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Issue #PS-5680 fix: Offline assessment = increase upload image limit max 10 images
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  apps/learner-web-app/src/components/assessment/UploadOptionsPopup.tsx
  apps/learner-web-app/src/components/assessment/types.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/assessment/UploadOptionsPopup.tsx
  mfes/scp-teacher-repo/src/components/assessment/types.ts
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/assessment/UploadOptionsPopup.tsx
  mfes/youthNet/src/components/assessment/types.ts
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin, @core-team

Issue feat:Add during filter for course planner for lmp and lap
  apps/admin-app-repo/public/Sample.csv
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/resourceList.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/pages/topic-detail-view.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @admin-app-owners, @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/assessment/AssessmentResultPDF.tsx
  mfes/scp-teacher-repo/src/components/assessment/ManualAssessmentResultPDF.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/src/components/assessment/AssessmentResultPDF.tsx
  mfes/youthNet/src/components/assessment/ManualAssessmentResultPDF.tsx
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/src/utils/unicodeFonts.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/scp-teacher-repo/src/utils/unicodeFonts.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added 0.5 marks support for plp in offline assessments
  apps/learner-web-app/src/components/assessment/QuestionMarksManualUpdate.tsx
Owners: @pratham-project-admin

Issue feat: Add retension for manual assessment filter, sort up for review list by lastupdated date, change courseplanner success message colour
  apps/admin-app-repo/src/components/CoursePlan/CoursePlanForm.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

thematic total count fixes
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Updated collection editor version
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @pratham-project-admin

Issue #PS-5910 fix: Fixed issue Discover Contents - the CREATED BY content getting overlapped
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @pratham-project-admin

Add interactcrive filter for experimento india page count
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

leader user add
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/leader-user.tsx
Owners: @admin-app-owners

Issue feat: thematic content fix
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

workspace fix
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

Revert "Feat lead mapping to 13 qa"
  apps/admin-app-repo/src/components/MapUser/CenterListWidget.tsx
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/leader-user.tsx
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomCenterListWidget.jsx
Owners: @admin-app-owners, @core-team

Issue #PS-5881 chore: Added program name of the content in workspace
  mfes/workspace/src/pages/workspace/content/review/index.tsx
  mfes/workspace/src/utils/url.config.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Added language constant for catchment area
  apps/admin-app-repo/public/locales/en/common.json
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Revert "Issue feat: New registration flow changes"
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/LoginService.ts
  apps/admin-app-repo/src/utils/Helper.ts
  apps/learner-web-app/public/images/home_children.png
  apps/learner-web-app/public/images/workers.png
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Revert "Feat creation change to 13 qa"
  apps/admin-app-repo/src/components/SimpleModal.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormCallback.ts
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
Owners: @admin-app-owners, @core-team

Revert "Feat registration flow to 13 qa"
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/services/LoginService.ts
  apps/admin-app-repo/src/utils/Helper.ts
  apps/learner-web-app/public/images/home_children.png
  apps/learner-web-app/public/images/workers.png
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/app/programs/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
  apps/learner-web-app/src/utils/API/ProgramService.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: Add pragyanpath login in new registrationflow
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

Issue feat: New changes for registration regarding pragyanpath login
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

update pr
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/importCsv.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Add creativity club description
  apps/learner-web-app/src/app/pos/program/page.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added Title in English field during content creation
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

lead map feaure
  apps/admin-app-repo/src/components/MapUser/CenterListWidget.tsx
  apps/admin-app-repo/src/components/MapUser/EmailSearchUser.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/TeamLeaderSearch.js
  apps/admin-app-repo/src/pages/leader-user.tsx
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomCenterListWidget.jsx
Owners: @admin-app-owners, @core-team

update pr
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
Owners: @admin-app-owners

Issue feat: Publish unblish content funality on cms
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: publish and unblish content functionality
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue #PS-5972 feat: Added download content button for POS and Experimento india
  apps/learner-web-app/app.config.ts
  apps/learner-web-app/src/app/pos/terms-and-conditions/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/JotFormEmbed/JotFormEmbedWithSubmit.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
