Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Mobile - downloaded certificate from mobile application appear cropped
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

fix: improve confirmation logic in SwitchAccountDialog
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @core-team

SCP AKP - Saral test popup appear for the learner who has assigned to batch
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

feat: Refactor CommonL1ContentList to use RegistrationSuccessCard and AssessmentAttempts components
  apps/learner-web-app/src/app/themantic/theme/ThematicMuiThemeProvider.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/AssessmentAttempts/AssessmentAttempts.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/RegistrationSuccessCard/RegistrationSuccessCard.tsx
  apps/learner-web-app/src/utils/helpers/assessmentAttemptHelpers.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

feat: Limit completed count to total attempt slots in AssessmentAttempts
  apps/learner-web-app/src/components/AssessmentAttempts/AssessmentAttempts.tsx
Owners: @pratham-project-admin

feat: implement tenant visibility filtering in SwitchAccountDialog
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @admin-app-owners, @core-team

PS-7172 : Issue: Archived Content Reviewer Still Receiving Content Approval Emails
  mfes/editors/src/services/userServices.ts
Owners: @pratham-project-admin

feat: Enhance AssessmentAttempts layout and improve RegistrationSuccessCard styling
  apps/learner-web-app/src/components/AssessmentAttempts/AssessmentAttempts.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/RegistrationSuccessCard/RegistrationSuccessCard.tsx
  apps/learner-web-app/src/utils/helpers/assessmentAttemptHelpers.ts
Owners: @pratham-project-admin

PS-7248 : SCP AKP - Saral test popup appear for the learner who has assigned to batch
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

remove unwanted text
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

restore helper
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7093 : Deleted and dropped SCP learner can access SCP program
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/utils/API/EnrollmentService.ts
Owners: @pratham-project-admin

fix: enhance error logging and clean up conditional logic in account switch handling
  apps/admin-app-repo/src/hooks/useAccountSwitch.ts
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

bug fixes
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

black box testing
  Feature_Documents/Black_Box_Testing/Black_Box_Testing_Report.md
  Feature_Documents/Black_Box_Testing/Consolidated_Remediation_Roadmap_And_Token_Security.md
  Feature_Documents/Black_Box_Testing/Dynamic_Form_Backend_Schema_Testing_Report.md
  Feature_Documents/Black_Box_Testing/Manual_Test_Case_Checklist.md
  Feature_Documents/Manager_Dashboard/Manager_Dashboard_Execution_Document.md
Owners: @pratham-project-admin

Implement accordion UI for Assessment Attempts and Registration Success Card; add batch assignment check
  apps/learner-web-app/src/components/AssessmentAttempts/AssessmentAttempts.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/RegistrationSuccessCard/RegistrationSuccessCard.tsx
  apps/learner-web-app/src/utils/helpers/assessmentAttemptHelpers.ts
  apps/learner-web-app/src/utils/helpers/cohortAssignmentHelper.ts
  apps/learner-web-app/src/utils/hooks/useSharedAccordionState.ts
Owners: @pratham-project-admin

auto publish question set
  mfes/workspace/src/components/bulk-import/ImportProgress.tsx
  mfes/workspace/src/components/bulk-import/ImportSummary.tsx
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
Owners: @pratham-project-admin

Update Play Store download message in multiple languages for clarity
  apps/learner-web-app/src/components/RegistrationSuccessCard/RegistrationSuccessCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

helper revert
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PLP = Application server error appear after learner login in web app and Android app
  apps/admin-app-repo/next.config.mjs
  apps/admin-app-repo/src/pages/_app.tsx
  apps/learner-web-app/next.config.js
  apps/learner-web-app/src/app/layout.tsx
  apps/teachers/next.config.mjs
  apps/teachers/src/pages/_app.tsx
  libs/shared-lib-v2/src/hooks/chunkReloadGuard.ts
  libs/shared-lib-v2/src/hooks/useChunkErrorReload.ts
  libs/shared-lib-v2/src/lib/ChunkReloadGuard/ChunkReloadGuard.tsx
  mfes/authentication/next.config.mjs
  mfes/authentication/src/pages/_app.tsx
  mfes/forget-password/next.config.js
  mfes/forget-password/src/app/layout.tsx
  mfes/players/next.config.js
  mfes/players/src/pages/_app.tsx
  mfes/scp-teacher-repo/next.config.mjs
  mfes/scp-teacher-repo/public/sw.js
  mfes/scp-teacher-repo/src/pages/_app.tsx
  mfes/survey-forms/next.config.js
  mfes/survey-forms/src/app/layout.tsx
  mfes/taxonomy-manager/next.config.js
  mfes/taxonomy-manager/src/pages/_app.tsx
  mfes/workspace/next.config.js
  mfes/workspace/src/pages/_app.tsx
  mfes/youthNet/next.config.mjs
  mfes/youthNet/src/pages/_app.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

About Program text fix for Marathi language
  libs/shared-lib-v2/src/lib/context/locales/mr.json
Owners: @core-team

Ability to restore retired (Deleted) Content / Course
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/components/DeleteConfirmation.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/services/ContentService.ts
  mfes/workspace/src/utils/app.constant.ts
Owners: @pratham-project-admin

About Program text fix for Marathi language
  libs/shared-lib-v2/src/lib/context/locales/mr.json
Owners: @core-team

About Program text fix for Marathi language
  libs/shared-lib-v2/src/lib/context/locales/mr.json
Owners: @core-team

Fix route duplication and update CHANNEL_ID and COLLECTION_FRAMEWORK in tenant configuration
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Add natural sorting utility for dropdown options and update AutoCompleteMultiSelectWidget
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
Owners: @core-team

PS-7185 : Learner Profile Edit Functionality & Remove Facilitator Edit Access
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7215 : Remove restriction of middle name from complete your profile banner
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7218 : Action Required: Remove Learner Assignments for Facilitators
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/SimpleModal/SimpleModal.tsx
  apps/learner-web-app/src/components/ToastComponent/Toastify.js
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

backup
  Feature_Documents/Manager_Dashboard/samplejson.txt
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/hooks/useManagerDashboardData.ts
  mfes/youthNet/src/pages/_app.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/services/PlayerService.ts
  mfes/youthNet/src/store/store.js
  mfes/youthNet/src/styles/globals.css
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/managerDashboardHelpers.ts
Owners: @pratham-project-admin

backup
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/ManagerDashboard/EmployeeDetail/EmployeeProfileCard.tsx
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgressTable.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/CertificatesTrendChart.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/ChartCard.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/CustomFieldDistributionChart.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/DashboardOverview.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/HighAttemptLevelsChart.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/StatusOverviewSection.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/TopCoursesChart.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/index.ts
  mfes/youthNet/src/components/ManagerDashboard/index.ts
  mfes/youthNet/src/hooks/useManagerDashboardData.ts
  mfes/youthNet/src/hooks/useManagerDashboardUIState.ts
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/pages/manager-dashboard/team/[userId].tsx
  mfes/youthNet/src/utils/Interface.ts
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/managerDashboardHelpers.ts
Owners: @pratham-project-admin

pragyanpath manager dashboard
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/ManagerDashboard/CoursesList/CourseList.tsx
  mfes/youthNet/src/components/ManagerDashboard/CoursesList/CourseRow.tsx
  mfes/youthNet/src/components/ManagerDashboard/CoursesList/CourseStatusChip.tsx
Owners: @pratham-project-admin

backup
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/ml/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/components/ManagerDashboard/ManagerDashboardLoadingScreen.tsx
  mfes/youthNet/src/components/ManagerDashboard/index.ts
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/utils/Interface.ts
Owners: @pratham-project-admin

Add resolveFrameworkPlaceholders utility to handle framework-specific schema adjustments
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
Owners: @admin-app-owners

Refactor program handling to use dynamic tenant-specific filters across multiple components
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/AssessmentReport.tsx
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/components/center/FrameworkCategories.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/index.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/pages/manual-assessments/index.tsx
Owners: @pratham-project-admin

Refactor schema handling to use structuredClone for improved performance and reliability
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
Owners: @admin-app-owners

Update grade labels in localization files for consistency and clarity
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
Owners: @core-team, @pratham-project-admin
