Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Fixed Mobile responsive UI Issue
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
Owners: @pratham-project-admin

ai assessments issue fix
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/ai-assessment/AIGenerationDialog.tsx
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Issue feat: Fix search query offset issue
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/workspace/src/pages/workspace/content/content-library/index.tsx
  mfes/workspace/src/pages/workspace/content/discover-contents/index.tsx
  mfes/workspace/src/pages/workspace/content/draft/index.tsx
  mfes/workspace/src/pages/workspace/content/publish/index.tsx
  mfes/workspace/src/pages/workspace/content/submitted/index.tsx
  mfes/workspace/src/pages/workspace/content/up-review/index.tsx
Owners: @pratham-project-admin

Update editor.config.json
  mfes/editors/src/components/editor.config.json
Owners: @pratham-project-admin

Issue feat: enable learner edit fields which initilly not included in form
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @pratham-project-admin

Update editor.config.json
  mfes/editors/src/components/editor.config.json
Owners: @pratham-project-admin

update pr
  mfes/workspace/src/components/ActionIcon.tsx
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
Owners: @pratham-project-admin

#Issue #PS-000 chore: Fixed status rendering issue for leaner in LAP
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Issue feat: manager dashboard UI
  mfes/scp-teacher-repo/MANAGER_DASHBOARD_IMPLEMENTATION.md
  mfes/scp-teacher-repo/QUICK_START_MANAGER_DASHBOARD.md
  mfes/scp-teacher-repo/src/components/EmployeeDetails/ContactInformation.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/CourseCard.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/CourseCompletionDetail.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/ExpandableCourseSection.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/LearnerDetails.tsx
  mfes/scp-teacher-repo/src/components/EmployeeDetails/index.ts
  mfes/scp-teacher-repo/src/components/EmployeeDetails/types.ts
  mfes/scp-teacher-repo/src/components/ManagerDashboard/AssignCourseModal.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseAchievement.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseAllocation.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/TopPerformers.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/UserCard.tsx
  mfes/scp-teacher-repo/src/components/ManagerDashboard/index.ts
  mfes/scp-teacher-repo/src/components/ManagerDashboard/types.ts
  mfes/scp-teacher-repo/src/pages/employee-details/index.tsx
  mfes/scp-teacher-repo/src/pages/employee-details/index.tsx.backup
  mfes/scp-teacher-repo/src/pages/manager-dashboard/index.tsx
  mfes/scp-teacher-repo/src/services/managerDashboardApi.ts
Owners: @pratham-project-admin

Issue feat: restrict action for status review as well
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

Issue feat: Add draf-review condtion fore ai assessment
  mfes/workspace/src/pages/workspace/content/ai-assessments/index.tsx
Owners: @pratham-project-admin

Issue feat:Fix ai assessment issue
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: ccta and scta changes for c2c
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Issue feat: Camp to club filter changes
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib/src/lib/Services/Content/Search.ts
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
  mfes/editors/src/utils/app.constant.ts
  mfes/workspace/src/services/ContentService.ts
  mfes/workspace/src/utils/app.constant.ts
Owners: @pratham-project-admin, @core-team

Issue feat:Mobile view fixes and remove Requistes keyword
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/Sidebar.tsx
  apps/teachers/public/locales/en/common.json
  mfes/authentication/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

Issue #PS-000 chore: Fixed course planner and session card issue on dashboard
  mfes/scp-teacher-repo/next.config.mjs
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
Owners: @pratham-project-admin

Issue feat: add story filter
  libs/shared-lib/src/lib/Services/Content/Search.ts
  mfes/content/src/services/Search.ts
  mfes/editors/src/utils/app.constant.ts
  mfes/workspace/src/utils/app.constant.ts
Owners: @core-team, @pratham-project-admin

Revert "12 changes"
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Issue feat: merge issue
  mfes/scp-teacher-repo/next.config.mjs
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
  mfes/workspace/src/pages/ai-assessment-creator.tsx
  mfes/workspace/src/services/ContentService.ts
Owners: @pratham-project-admin

Issue feat: menuconfig conflicts
  apps/admin-app-repo/src/config/menuConfig.ts
Owners: @admin-app-owners

Issue feat: pos change requests
  apps/learner-web-app/src/components/Learning.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/pos/AboutUs.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Home.tsx
  libs/shared-lib-v2/src/lib/Text/ExpandableText.tsx
  libs/shared-lib/src/lib/Services/Content/Search.ts
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/workspace/src/components/SearchBox.tsx
  mfes/workspace/src/utils/app.constant.ts
Owners: @pratham-project-admin, @core-team

Issue feat: Fix inrogress content condition
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
Owners: @pratham-project-admin

Issue feat: update pr
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/app/sso/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue feat: Inprogress section condtion
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
Owners: @pratham-project-admin

Issue feat: update pr
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
Owners: @pratham-project-admin

Issue feat: unit assessment
  apps/learner-web-app/src/app/manual-assessment/index.tsx
  apps/learner-web-app/src/app/manual-assessment/page.tsx
  apps/learner-web-app/src/components/GenericModal/GenericModal.tsx
  apps/learner-web-app/src/components/UploadFiles/UploadFiles.tsx
  apps/learner-web-app/src/components/assessment/AnswerSheet.tsx
  apps/learner-web-app/src/components/assessment/Camera.tsx
  apps/learner-web-app/src/components/assessment/ImageViewer.tsx
  apps/learner-web-app/src/components/assessment/QuestionMarksManualUpdate.tsx
  apps/learner-web-app/src/components/assessment/UploadOptionsPopup.tsx
  apps/learner-web-app/src/components/assessment/index.tsx
  apps/learner-web-app/src/components/assessment/types.ts
  apps/learner-web-app/src/utils/API/AssesmentService.ts
  apps/learner-web-app/src/utils/API/FileUploadService.ts
  apps/learner-web-app/src/utils/API/ProfileService.ts
  apps/learner-web-app/src/utils/Helper.ts
  apps/learner-web-app/src/utils/questionNumbering.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/utils/url.config.ts
  mfes/scp-teacher-repo/src/components/ManagerDashboard/COMPONENT_MAP.md
  mfes/scp-teacher-repo/src/components/ManagerDashboard/README.md
  mfes/scp-teacher-repo/src/pages/manager-dashboard/README.md
Owners: @pratham-project-admin, @core-team

cachment area ui added
  apps/admin-app-repo/src/constant/Forms/CohortSearch.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CachmentAreaWidget.tsx
Owners: @admin-app-owners, @core-team

cachment area ui added
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CachmentAreaWidget.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/app/manual-assessment/page.tsx
Owners: @pratham-project-admin

Issue feat: add pos tab rendering for corses and content from uiconfig
  apps/learner-web-app/src/components/Provider/GlobalProvider.tsx
  apps/learner-web-app/src/components/pos/Search.tsx
Owners: @pratham-project-admin

cachment area ui added
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CachmentAreaWidget.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/app/manual-assessment/page.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/manual-assessment/page.tsx
Owners: @pratham-project-admin

cachment area ui added
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CachmentAreaWidget.tsx
Owners: @admin-app-owners, @core-team

Issue #PS-000 chore: Fixed Course planner issue
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/center/[cohortId].tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
Owners: @pratham-project-admin

YN manual assessment flow
  mfes/youthNet/src/components/MenuDrawer.tsx
  mfes/youthNet/src/components/Toastify.js
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/[userId]/index.tsx
  mfes/youthNet/src/pages/manual-assessments/[assessmentId]/index.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/services/AssesmentService/AssesmentService.ts
  mfes/youthNet/src/utils/Interfaces.ts
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/url.config.ts
Owners: @pratham-project-admin

Issue feat: Reduce batch size of telemetry to 1 and add login missing event for teacher app
  apps/admin-app-repo/src/utils/telemetry.js
  apps/teachers/src/utils/telemetry.js
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
  mfes/authentication/src/pages/login.tsx
  mfes/authentication/src/utils/telemetry.js
  mfes/scp-teacher-repo/src/utils/telemetry.js
  mfes/youthNet/src/utils/telemetry.js
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

course planner fix
  mfes/scp-teacher-repo/src/components/SessionCardFooter.tsx
  mfes/scp-teacher-repo/src/services/CoursePlannerService.ts
Owners: @pratham-project-admin

Issue feat: add course access restriction by course program
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
