Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

APK Prod = Browser page open when learner click Exit or back button from the Saral assessment
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
Owners: @pratham-project-admin

Bulk import fixes
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  apps/admin-app-repo/tsconfig.tsbuildinfo
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/frameworkConfig.ts
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @admin-app-owners, @pratham-project-admin

Bulk import fixes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Delete apps/admin-app-repo/tsconfig.tsbuildinfo
  apps/admin-app-repo/tsconfig.tsbuildinfo
Owners: @admin-app-owners

Update helper.ts
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Delete mfes/workspace/tsconfig.tsbuildinfo
  mfes/workspace/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

PS-7032 : Update Language Translations-SCP Teacher Repo
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations - YouthNet
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations - Admin
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
Owners: @admin-app-owners

PS-7032 : Update Language Translations - PLP Learner App
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

remove extra slashes
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations - PLP Learner App
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

Reorder a other language json with en.json for PLP
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

Reorder a other language json with en.json for Admin app
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
Owners: @admin-app-owners

Reorder a other language json with en.json for SCP-teacher-app
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

Reorder a other language json with en.json for Youthnet
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/ml/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

Both youthNet extras handled: ur relocated (10 keys), ml dead key removed
  mfes/youthNet/public/locales/ml/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

Translation Script improvments
  libs/shared-lib-v2/src/lib/context/locales/en.json
  translation/DOCUMENTATION.md
  translation/csvToJson.js
  translation/jsonToCsv.js
Owners: @core-team, @pratham-project-admin

Question set publish issue
  mfes/workspace/src/utils/bulkImportQueue.ts
Owners: @pratham-project-admin

trnslation script changes
  translation/csvToJson.js
Owners: @pratham-project-admin

PS-7032 : Update Language Translations PLP
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team

PS-7032 : Update Language Translations SCP Teacher app
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations Admin app
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
Owners: @admin-app-owners

PS-7032 : Update Language Translations Youthnet app
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

Enable csvtojson module for all appps
  translation/Outputs/admin_app/en.json
  translation/Outputs/admin_app/gu.json
  translation/Outputs/admin_app/hi.json
  translation/Outputs/admin_app/kan.json
  translation/Outputs/admin_app/mr.json
  translation/Outputs/admin_app/odi.json
  translation/Outputs/admin_app/or.json
  translation/Outputs/admin_app/tam.json
  translation/Outputs/admin_app/tel.json
  translation/Outputs/admin_app/ur.json
  translation/Outputs/learner_app/en.json
  translation/Outputs/learner_app/guj.json
  translation/Outputs/learner_app/hi.json
  translation/Outputs/learner_app/kan.json
  translation/Outputs/learner_app/mr.json
  translation/Outputs/learner_app/odi.json
  translation/Outputs/learner_app/tam.json
  translation/Outputs/learner_app/tel.json
  translation/Outputs/learner_app/ur.json
  translation/Outputs/scp_teacher/en.json
  translation/Outputs/scp_teacher/gu.json
  translation/Outputs/scp_teacher/hi.json
  translation/Outputs/scp_teacher/kan.json
  translation/Outputs/scp_teacher/mr.json
  translation/Outputs/scp_teacher/odi.json
  translation/Outputs/scp_teacher/or.json
  translation/Outputs/scp_teacher/tam.json
  translation/Outputs/scp_teacher/tel.json
  translation/Outputs/scp_teacher/ur.json
  translation/Outputs/youthnet/en.json
  translation/Outputs/youthnet/hi.json
  translation/Outputs/youthnet/mr.json
  translation/Outputs/youthnet/or.json
  translation/Outputs/youthnet/ur.json
  translation/Pratham_ Translations - Admin.csv
  translation/Pratham_ Translations - Facilitator (1).csv
  translation/Pratham_ Translations - Facilitator.csv
  translation/Pratham_ Translations - Learner web PLP.csv
  translation/Pratham_ Translations - Mentor.csv
  translation/csvToJson.js
Owners: @pratham-project-admin

Enable csvtojson module for all appps
  translation/Outputs/admin_app/en.json
  translation/Outputs/admin_app/gu.json
  translation/Outputs/admin_app/hi.json
  translation/Outputs/admin_app/kan.json
  translation/Outputs/admin_app/mr.json
  translation/Outputs/admin_app/odi.json
  translation/Outputs/admin_app/or.json
  translation/Outputs/admin_app/tam.json
  translation/Outputs/admin_app/tel.json
  translation/Outputs/admin_app/ur.json
  translation/Outputs/learner_app/en.json
  translation/Outputs/learner_app/guj.json
  translation/Outputs/learner_app/hi.json
  translation/Outputs/learner_app/kan.json
  translation/Outputs/learner_app/mr.json
  translation/Outputs/learner_app/odi.json
  translation/Outputs/learner_app/tam.json
  translation/Outputs/learner_app/tel.json
  translation/Outputs/learner_app/ur.json
  translation/Outputs/scp_teacher/en.json
  translation/Outputs/scp_teacher/gu.json
  translation/Outputs/scp_teacher/hi.json
  translation/Outputs/scp_teacher/kan.json
  translation/Outputs/scp_teacher/mr.json
  translation/Outputs/scp_teacher/odi.json
  translation/Outputs/scp_teacher/or.json
  translation/Outputs/scp_teacher/tam.json
  translation/Outputs/scp_teacher/tel.json
  translation/Outputs/scp_teacher/ur.json
  translation/Outputs/youthnet/en.json
  translation/Outputs/youthnet/hi.json
  translation/Outputs/youthnet/mr.json
  translation/Outputs/youthnet/or.json
  translation/Outputs/youthnet/ur.json
  translation/Pratham_ Translations - Admin.csv
  translation/Pratham_ Translations - Learner web PLP.csv
  translation/Pratham_ Translations - Mentor.csv
Owners: @pratham-project-admin

Enable csvtojson module for all appps
  translation/Pratham_ Translations - Facilitator.csv
Owners: @pratham-project-admin

Enable csvtojson module for all appps
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  translation/csvToJson.js
  translation/jsonToCsv.js
Owners: @core-team, @pratham-project-admin

correct translations
  mfes/scp-teacher-repo/public/locales/hi/common.json
Owners: @pratham-project-admin

jsontocsv script changes
  translation/jsonToCsv.js
Owners: @pratham-project-admin

PS-7032 : Update Language Translations (Enable trnslation dropdown
  .gitignore
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

PS-6842 : LAP and LMP = multiple language option and constant missing
  apps/teachers/next-i18next.config.js
  apps/teachers/public/locales/kan/common.json
  apps/teachers/public/locales/odi/common.json
  apps/teachers/public/locales/tam/common.json
  apps/teachers/public/locales/tel/common.json
  mfes/authentication/config.json
  mfes/authentication/next-i18next.config.js
  mfes/authentication/public/locales/kan/common.json
  mfes/authentication/public/locales/odi/common.json
  mfes/authentication/public/locales/tam/common.json
  mfes/authentication/public/locales/tel/common.json
Owners: @teacher-app-owners, @pratham-project-admin

PS-7147 : LMP = Edit profile button not working
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

PS-7033 : Vocational Training (Mentor assignment)
  libs/shared-lib-v2/src/MapUser/WorkingVillageAssignmentWidget.tsx
Owners: @core-team

PS-7131 : Show enrolled program name on the pop-up appear on program specific login page
  apps/learner-web-app/src/app/login/page.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Add all language support to youthnet
  mfes/youthNet/public/locales/gu/common.json
  mfes/youthNet/public/locales/kan/common.json
  mfes/youthNet/public/locales/tam/common.json
  mfes/youthNet/public/locales/tel/common.json
  translation/csvToJson.js
Owners: @pratham-project-admin

PS-7032 : Update Language Translations Admin App
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
Owners: @admin-app-owners

PS-7032 : Update Language Translations SCP_Teacher App
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations youthnet App
  mfes/youthNet/public/locales/gu/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/kan/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/tam/common.json
  mfes/youthNet/public/locales/tel/common.json
  mfes/youthNet/public/locales/ur/common.json
Owners: @pratham-project-admin

PS-7032 : Update Language Translations Learner web App
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @core-team
