Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Updated Dev and Qa deployement files
  .github/workflows/dev-deployment-admin.yaml
  .github/workflows/dev-deployment-teacher.yaml
  .github/workflows/qa-deployment-admin.yaml
  .github/workflows/qa-deployment-teacher.yaml
Owners: @pratham-project-admin

Issue feat:masked number issue
  apps/learner-web-app/src/components/OtpVerificationComponent/OtpVerificationComponent.tsx
  mfes/forget-password/src/Components/OtpVerificationComponent/OtpVerificationComponent.tsx
Owners: @pratham-project-admin

update pr
  mfes/forget-password/src/Components/OtpVerificationComponent/OtpVerificationComponent.tsx
Owners: @pratham-project-admin

Issue feat:Observation and survey microfrontend
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/surveys/page.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  mfes/survey-observations/app.config.ts
  mfes/survey-observations/src/Components/BackHeader/BackHeader.tsx
  mfes/survey-observations/src/Components/ConfirmationModal/ConfirmationModal.tsx
  mfes/survey-observations/src/Components/EntryContent/EntryContent.tsx
  mfes/survey-observations/src/Components/EntrySlider/EntrySlider.tsx
  mfes/survey-observations/src/Components/NoDataFound/NoDataFound.tsx
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
  mfes/survey-observations/src/Components/Surveys/Surveys.tsx
  mfes/survey-observations/src/Components/UserCard/UserCard.tsx
  mfes/survey-observations/src/app/global.css
  mfes/survey-observations/src/app/layout.tsx
  mfes/survey-observations/src/app/observations/Observation.tsx
  mfes/survey-observations/src/app/observations/page.tsx
  mfes/survey-observations/src/app/observations/questionary/ObservationQuestions.tsx
  mfes/survey-observations/src/app/observations/questionary/page.tsx
  mfes/survey-observations/src/app/observations/questionary/reload/page.tsx
  mfes/survey-observations/src/theme/MuiThemeProvider.tsx
  mfes/survey-observations/src/utils/API/EndUrls.ts
  mfes/survey-observations/src/utils/API/Interceptor.ts
  mfes/survey-observations/src/utils/API/RestClient.ts
  mfes/survey-observations/src/utils/API/VillageServices.ts
  mfes/survey-observations/src/utils/API/suveyService.ts
  mfes/survey-observations/tsconfig.json
  mfes/survey-observations/types/global.d.ts
  tsconfig.learner.json
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/login/page.tsx
  mfes/survey-observations/src/utils/Helper/helper.ts
Owners: @pratham-project-admin

issue solved
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @admin-app-owners, @pratham-project-admin

test console
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
Owners: @admin-app-owners

fix:images and ui + layout
  apps/learner-web-app/public/images/pos_life.jpg
  apps/learner-web-app/public/images/pradigi.png
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/assets/theme/POSMuiThemeProvider.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
Owners: @pratham-project-admin, @core-team

docker image deploy check
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

docker image deploy check
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
Owners: @pratham-project-admin

fix: build issue
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
Owners: @core-team

docker image deploy check
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: translation issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue #PS-4637 task:- UI fixes for SCP
  apps/learner-web-app/public/images/feature-one.png
  apps/learner-web-app/public/images/feature-three.png
  apps/learner-web-app/public/images/feature-two.png
  apps/learner-web-app/public/images/home-page-banner.png
  apps/learner-web-app/public/images/pdf.png
  apps/learner-web-app/public/images/pillar-1.png
  apps/learner-web-app/public/images/pillar-2.png
  apps/learner-web-app/public/images/pillar-3.png
  apps/learner-web-app/public/images/video.png
  apps/learner-web-app/src/app/pos/about-us/page.tsx
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/FeautureCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes for SCP
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

docker image deploy check
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
Owners: @admin-app-owners

Issue #PS-4637 task:- UI fixes for SCP
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

Issue #PS-4637 task:- UI fixes for SCP
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
Owners: @pratham-project-admin

Issue feat:Observation survey mfe flow
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/survey-observations/src/Components/EntryContent/EntryContent.tsx
  mfes/survey-observations/src/Components/NoDataFound/NoDataFound.tsx
  mfes/survey-observations/src/Components/ObservationComponent/ObservationComponent.tsx
  mfes/survey-observations/src/Components/Surveys/Surveys.tsx
  mfes/survey-observations/src/Components/ToastComponent/Toastify.js
  mfes/survey-observations/src/Components/UserCard/UserCard.tsx
  mfes/survey-observations/src/app/global.css
  mfes/survey-observations/src/app/layout.tsx
  mfes/survey-observations/src/app/observations/Observation.tsx
  mfes/survey-observations/src/app/observations/questionary/ObservationQuestions.tsx
  mfes/survey-observations/src/theme/MuiThemeProvider.tsx
  mfes/survey-observations/src/utils/API/suveyService.ts
  mfes/survey-observations/src/utils/Helper/helper.ts
  mfes/survey-observations/tsconfig.json
  tsconfig.learner.json
Owners: @core-team, @pratham-project-admin

docker image deploy check
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

Issue #PS-4637 task:- UI fixes for SCP
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/observations/Entity.tsx
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

update pr
  mfes/survey-observations/src/app/observations/questionary/ObservationQuestions.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/Layout.tsx
  mfes/survey-observations/src/app/observations/Observation.tsx
  mfes/survey-observations/src/theme/MuiThemeProvider.tsx
Owners: @pratham-project-admin

docker image deploy check
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

update pr
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

fix: localhost issue
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Added Edit profile functionality for learner and FL
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormConstant.ts
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
  mfes/scp-teacher-repo/src/shared/FacilitatorManage/FacilitatorManage.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @admin-app-owners, @pratham-project-admin

Hidden edit button for self profile
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

docker image deploy check
  .nxignore
  nx.json
Owners: @pratham-project-admin

Issue #PS-4637 task:- open school UI implementation
  apps/learner-web-app/public/images/banners.png
  apps/learner-web-app/public/images/playstoreIcon.png
  apps/learner-web-app/public/images/what-new.png
  apps/learner-web-app/src/app/pos/page.tsx
  apps/learner-web-app/src/components/MoreWayCarousel.tsx
  apps/learner-web-app/src/components/WhatsNewCarousel.tsx
Owners: @pratham-project-admin

docker image deploy check
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

Issue feat:piolet feedback changes
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/utils/API/userService.ts
Owners: @pratham-project-admin

fix: footer and filter component
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
  libs/shared-lib-v2/src/lib/Loader/Loader.tsx
Owners: @pratham-project-admin, @core-team

Replaced live classes icon for sessions
  mfes/scp-teacher-repo/public/images/live-classes.gif
  mfes/scp-teacher-repo/src/components/SessionCard.tsx
Owners: @pratham-project-admin

Added the branch
  .github/workflows/dev-deployment-admin.yaml
Owners: @pratham-project-admin

fix: school, work and life page wise static filter
  apps/learner-web-app/src/app/pos/life/page.tsx
  apps/learner-web-app/src/app/pos/school/page.tsx
  apps/learner-web-app/src/app/pos/work/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/pos/Footer.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

update pr
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  mfes/forget-password/src/app/account-selection/AccountSelection.tsx
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
Owners: @pratham-project-admin

undo changes
  README.md
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @pratham-project-admin, @admin-app-owners
