Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

fix:issue
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/ai-assessments/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/ai-assessments/index.tsx
Owners: @pratham-project-admin

Issue feat: change academic year dropdown text colour
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

update pr
  apps/admin-app-repo/public/locales/en/common.json
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @admin-app-owners, @core-team

update pr
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue feat: replace hardcoded teanant name from app constants
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/pos/program/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/Layout.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/components/pos/Layout.tsx
  apps/learner-web-app/src/components/pos/List.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  apps/teachers/src/pages/index.tsx
  apps/teachers/src/utils/app.config.ts
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.config.ts
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/app.config.ts
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/lib/Services/app.config.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.config.ts
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/utils/app.constant.ts
  mfes/youthNet/src/utils/app.config.ts
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

update pr
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  apps/teachers/src/utils/app.config.ts
  apps/teachers/src/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.config.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  libs/shared-lib/src/app.config.ts
  libs/shared-lib/src/lib/Services/app.config.ts
  libs/shared-lib/src/lib/Services/app.constant.ts
  libs/shared-lib/src/utils/app.constant.ts
  mfes/authentication/src/utils/app.config.ts
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/utils/app.constant.ts
  mfes/youthNet/src/utils/app.config.ts
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners, @core-team

form changes for complete profile
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

fix: questions pager PDF option name - add dot
  apps/admin-app-repo/src/pages/qp.tsx
Owners: @admin-app-owners

Issue feat: update target solution api payload for lmp
  mfes/scp-teacher-repo/src/services/ObservationServices.ts
Owners: @pratham-project-admin

Issue feat: Added missing images in share-lib v2 folder
  libs/shared-lib-v2/src/assets/images/Board.svg
  libs/shared-lib-v2/src/assets/images/Epub.svg
  libs/shared-lib-v2/src/assets/images/HTML.svg
  libs/shared-lib-v2/src/assets/images/MP4.svg
  libs/shared-lib-v2/src/assets/images/PDF.svg
  libs/shared-lib-v2/src/assets/images/Pratham-Logo.png
  libs/shared-lib-v2/src/assets/images/Profile.png
  libs/shared-lib-v2/src/assets/images/Qml.svg
  libs/shared-lib-v2/src/assets/images/Unit.png
  libs/shared-lib-v2/src/assets/images/account.svg
  libs/shared-lib-v2/src/assets/images/apartment.png
  libs/shared-lib-v2/src/assets/images/bgEpub.svg
  libs/shared-lib-v2/src/assets/images/bgHtml.svg
  libs/shared-lib-v2/src/assets/images/bgMP4 .svg
  libs/shared-lib-v2/src/assets/images/bgPDF.svg
  libs/shared-lib-v2/src/assets/images/bgQml.svg
  libs/shared-lib-v2/src/assets/images/bgUnit.png
  libs/shared-lib-v2/src/assets/images/bgYouTube.svg
  libs/shared-lib-v2/src/assets/images/bgh5p.png
  libs/shared-lib-v2/src/assets/images/calendar.svg
  libs/shared-lib-v2/src/assets/images/checkMark.svg
  libs/shared-lib-v2/src/assets/images/checkbook.svg
  libs/shared-lib-v2/src/assets/images/decorationBg.png
  libs/shared-lib-v2/src/assets/images/h5p.png
  libs/shared-lib-v2/src/assets/images/imageOne.jpg
  libs/shared-lib-v2/src/assets/images/login-image.jpg
  libs/shared-lib-v2/src/assets/images/menuIcon.svg
  libs/shared-lib-v2/src/assets/images/mp.png
  libs/shared-lib-v2/src/assets/images/prathamProfile.png
  libs/shared-lib-v2/src/assets/images/user_placeholder.png
  libs/shared-lib-v2/src/assets/images/youtube.svg
Owners: @core-team

Issue feat:update pr
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  libs/shared-lib-v2/src/lib/shared-lib-v2.tsx
  libs/shared-lib/src/index.ts
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @core-team, @pratham-project-admin

Issue feat: c fix omplte profile issue for family type
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

Issue feat: form issue
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update target solution api payload for lmp
  mfes/scp-teacher-repo/src/services/ObservationServices.ts
Owners: @pratham-project-admin

Issue feat: If there is only 1 child under a course, the frontend should display it directly as a content
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

update pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update pr
  apps/admin-app-repo/src/pages/content-creator.tsx
Owners: @admin-app-owners

added edit option in category step, exit option in sidebar, updated admin app's sidebar to allow navigation to taxonomy editor
  apps/admin-app-repo/public/images/taxonomy.svg
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/config/menuConfig.ts
  mfes/taxonomy-manager/src/components/category/CategoryForm.tsx
  mfes/taxonomy-manager/src/components/framework/steps/StepCategory.tsx
  mfes/taxonomy-manager/src/components/layout/Header.tsx
  mfes/taxonomy-manager/src/components/layout/Sidebar.tsx
  mfes/taxonomy-manager/src/hooks/useEditCategory.ts
  mfes/taxonomy-manager/src/services/categoryService.ts
  mfes/taxonomy-manager/src/utils/url.config.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: FixThe deleted student is not appearing in the Archive but is still visible as Active
  mfes/scp-teacher-repo/src/components/DeleteUserModal.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
Owners: @pratham-project-admin

mfe integration
  Dockerfile.admin-app-repo
  README.md
  ecosystem.admin-app-repo.config.js
Owners: @pratham-project-admin

mfe integration
  docker-compose.admin-app-repo.yml
Owners: @pratham-project-admin

mfe integration
  Dockerfile.admin-app-repo
  README.md
  docker-compose.admin-app-repo.yml
  ecosystem.admin-app-repo.config.js
Owners: @pratham-project-admin

Issue #PS-5409 fix:Fix Session Day Indicator (Green Highlight Not Displaying on Scheduled Days) and other issues
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/events/[date]/index.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Program name update mocked-response.ts
  mfes/workspace/src/pages/api/mocked-response.ts
Owners: @pratham-project-admin

Issue feat:The laptop cursor has to be moved repeatedly to the name field.
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

fixed all build issues and replaced all complicated type castings related to error fetching
  mfes/taxonomy-manager/src/components/SortableDataTable.tsx
  mfes/taxonomy-manager/src/components/association/TermChecklist.tsx
  mfes/taxonomy-manager/src/components/category/PendingCategoriesSection.tsx
  mfes/taxonomy-manager/src/components/framework/StepRenderer.tsx
  mfes/taxonomy-manager/src/components/framework/steps/StepAssociation.tsx
  mfes/taxonomy-manager/src/components/framework/steps/StepTerms.tsx
  mfes/taxonomy-manager/src/services/Interceptor.ts
  mfes/taxonomy-manager/src/services/associationService.ts
  mfes/taxonomy-manager/src/services/categoryService.ts
  mfes/taxonomy-manager/src/services/masterCategoryService.ts
  mfes/taxonomy-manager/src/services/termService.ts
  mfes/taxonomy-manager/src/theme.ts
  mfes/taxonomy-manager/src/utils/HelperService.ts
Owners: @pratham-project-admin

prod branch fix
  libs/shared-lib-v2/src/assets/images/Board.svg
  libs/shared-lib-v2/src/assets/images/Epub.svg
  libs/shared-lib-v2/src/assets/images/HTML.svg
  libs/shared-lib-v2/src/assets/images/MP4.svg
  libs/shared-lib-v2/src/assets/images/PDF.svg
  libs/shared-lib-v2/src/assets/images/Pratham-Logo.png
  libs/shared-lib-v2/src/assets/images/Profile.png
  libs/shared-lib-v2/src/assets/images/Qml.svg
  libs/shared-lib-v2/src/assets/images/Unit.png
  libs/shared-lib-v2/src/assets/images/account.svg
  libs/shared-lib-v2/src/assets/images/apartment.png
  libs/shared-lib-v2/src/assets/images/bgEpub.svg
  libs/shared-lib-v2/src/assets/images/bgHtml.svg
  libs/shared-lib-v2/src/assets/images/bgMP4 .svg
  libs/shared-lib-v2/src/assets/images/bgPDF.svg
  libs/shared-lib-v2/src/assets/images/bgQml.svg
  libs/shared-lib-v2/src/assets/images/bgUnit.png
  libs/shared-lib-v2/src/assets/images/bgYouTube.svg
  libs/shared-lib-v2/src/assets/images/bgh5p.png
  libs/shared-lib-v2/src/assets/images/calendar.svg
  libs/shared-lib-v2/src/assets/images/checkMark.svg
  libs/shared-lib-v2/src/assets/images/checkbook.svg
  libs/shared-lib-v2/src/assets/images/decorationBg.png
  libs/shared-lib-v2/src/assets/images/h5p.png
  libs/shared-lib-v2/src/assets/images/imageOne.jpg
  libs/shared-lib-v2/src/assets/images/login-image.jpg
  libs/shared-lib-v2/src/assets/images/menuIcon.svg
  libs/shared-lib-v2/src/assets/images/mp.png
  libs/shared-lib-v2/src/assets/images/prathamProfile.png
  libs/shared-lib-v2/src/assets/images/user_placeholder.png
  libs/shared-lib-v2/src/assets/images/youtube.svg
Owners: @core-team

Issue #PS-5386 feat: Create QR code specific to the platform
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/services/LoginService.ts
  apps/admin-app-repo/src/utils/API/APIEndpoints.ts
  apps/learner-web-app/src/app/cmslink/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
Owners: @admin-app-owners, @pratham-project-admin

Fixed build issue
  apps/learner-web-app/src/app/cmslink/page.tsx
Owners: @pratham-project-admin

Updated constant
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: Add missing space between words on registration page and correct form changes
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

updated pr
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @core-team

update pr
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-5482 chore: Implement Infinite Scroll for PLP for content load
  apps/learner-web-app/src/app/cmslink/page.tsx
  apps/learner-web-app/src/components/Content/L1ContentList.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
  mfes/content/src/components/Card/InfoCard.tsx
Owners: @pratham-project-admin

Issue #PS-5474 chore: Updated Sequence of mentor-leader tab on menu bar
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

your commit message here
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Fix pos filter issue
  apps/learner-web-app/src/components/pos/Layout.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Commented mobile redirect button to view course/content
  apps/learner-web-app/src/app/cmslink/page.tsx
Owners: @pratham-project-admin

sso changes
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
