Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

update pr
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

build issue
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/utils/Interceptor.ts
  mfes/scp-teacher-repo/app.config.ts
Owners: @core-team, @pratham-project-admin

build issue
  mfes/scp-teacher-repo/src/services/ManageUser.ts
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

update pr
  libs/shared-lib/src/lib/Header/TopAppBar.tsx
  libs/shared-lib/src/utils/Interceptor.ts
  mfes/scp-teacher-repo/app.config.ts
Owners: @core-team, @pratham-project-admin

Issue PS-6007 feat: Mobilizer creation flow in LAP
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormConstant.ts
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/constant/Forms/MobilizerSearch.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/admin-app-repo/src/pages/api/dynamic-form/get-sdbv.js
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/admin-app-repo/src/utils/Helper.ts
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
  apps/teachers/src/pages/api/dynamic-form/get-sdbv.js
  apps/teachers/src/pages/login.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/WorkingLocationWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/services/GetCohortList.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/MapUser/CenterListWidget.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/MapService.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/youthNet/public/locales/en/common.json
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

Issue feat: Google analytic page view count for thmeantic
  apps/learner-web-app/service-account.ts
  apps/learner-web-app/src/app/api/analytics/pageviews/route.ts
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/hooks/usePageViewCount.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/profile/page.tsx
Owners: @pratham-project-admin

experimento india ui changes and add english title
  apps/learner-web-app/src/components/themantic/content/List.tsx
  mfes/content/src/components/Card/ContentCard.tsx
  mfes/content/src/components/Card/ContentCardGrid.tsx
Owners: @pratham-project-admin

Issue fdeat: Resolve issues
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue #PS-5796 feat: Added mobilizer creation flow in LMP
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  apps/teachers/src/pages/api/dynamic-form/get-rjsf-form.js
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/services/CohortService.ts
  mfes/youthNet/src/services/GetCohortList.ts
  mfes/youthNet/src/services/HierarchicalSearchService.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/app.constant.ts
Owners: @admin-app-owners, @teacher-app-owners, @pratham-project-admin

build issue
  apps/learner-web-app/src/app/api/analytics/pageviews/route.ts
  package-lock.json
  package.json
Owners: @pratham-project-admin

issue feat: analytic count api issue
  apps/learner-web-app/service-account.ts
  apps/learner-web-app/src/app/api/analytics/pageviews/route.ts
Owners: @pratham-project-admin

count issue
  apps/learner-web-app/src/hooks/usePageViewCount.ts
Owners: @pratham-project-admin

Fix newline handling in .env file creation for qa-deploy-learner
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

Update .env file creation in workflow
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

Change echo to printf for .env file creation
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

Fix printf format for .env file creation
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

Simplify .env file creation in workflow
  .github/workflows/qa-deployment-learner.yaml
Owners: @pratham-project-admin

Dashboard changes for YN revamp flow in lmp
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/pages/user-profile/[userId].tsx
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Hidden action icons for mobilizer list view
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

Issue feat: page view count path changes for themantic
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/themantic/content/List.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/components/GoogleAnalyticsTracker/GoogleAnalyticsTracker.tsx
Owners: @pratham-project-admin

build issue solved
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/MapService.tsx
  libs/shared-lib-v2/tsconfig.lib.json
Owners: @core-team

new registration flow changes
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
Owners: @pratham-project-admin, @core-team

update pr
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Issue feat: add new program field for c2c
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: add programfield condition
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Added mobilizer login support in lmp and made api changes for it
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/pages/mentor-deprecated.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.config.ts
  libs/shared-lib-v2/src/utils/app.constant.ts
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/youthNet/tempConfigs.ts
  mfes/youthNet/src/pages/index.tsx
  mfes/youthNet/src/pages/manual-assessments/index.tsx
  mfes/youthNet/src/pages/villages/index.tsx
  mfes/youthNet/src/services/youthNet/Dashboard/UserServices.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Commented unnecessary alerts
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
Owners: @admin-app-owners

Replace the carousel instead of image for pos
  apps/admin-app-repo/public/locales/en/common.json
  apps/learner-web-app/public/images/PLP Photos-02.jpg
  apps/learner-web-app/public/images/PLP Photos-03.jpg
  apps/learner-web-app/public/images/PLP Photos-04.jpg
  apps/learner-web-app/public/images/PLP Photos-05.jpg
  apps/learner-web-app/src/components/pos/Home.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @admin-app-owners, @pratham-project-admin

Issue #PS-6123 fix: Fixed issue: can add batch under archived center
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Issue feat:corrected API endpoint usage for userTenantStatus and ensured base URL loads correctly in production
  mfes/scp-teacher-repo/src/utils/API/APIEndpoints.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/services/ManageUser.ts
Owners: @pratham-project-admin

Issue #PS-000 chore:Fixed multi village payload issue for user/list api
  mfes/youthNet/src/pages/villages/index.tsx
Owners: @pratham-project-admin

all issue solved, api changed
  apps/admin-app-repo/src/pages/api/dynamic-form/get-sdbv.js
  apps/admin-app-repo/src/pages/user-mobilizer.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CatchmentAreaWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/WorkingLocationWidget.tsx
  libs/shared-lib-v2/src/MapUser/CenterListWidget.tsx
Owners: @admin-app-owners, @core-team

Issue feat: fetch center for assign batch through my cohort api instead of /cohort/search
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

Issue feat:Remove switch program dependency
  apps/learner-web-app/src/app/login/page.tsx
Owners: @pratham-project-admin

New fixes
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/CallLogModal.tsx
  mfes/scp-teacher-repo/src/components/UserRegistration/LocationDropdowns.tsx
Owners: @core-team, @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin
