Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

learner reassignment, count of learner issue solved, batch accept digits
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  libs/shared-lib-v2/src/MapUser/LMPSingleBatchListWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/pages/centers/[cohortId]/index.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

Issue feat: Add language constants values for hardcoded texts
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/EmployeeDetails/ContactInformation.tsx
  mfes/youthNet/src/components/EmployeeDetails/ExpandableCourseSection.tsx
  mfes/youthNet/src/components/ManagerDashboard/CourseAllocation.tsx
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/youthNet/src/components/ManagerDashboard/TopPerformers.tsx
  mfes/youthNet/src/pages/employee-details/index.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue feat: Top performer loading issue and all content last modified issue on cms
  mfes/workspace/src/pages/workspace/content/allContents/index.tsx
  mfes/youthNet/src/components/ManagerDashboard/TopPerformers.tsx
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
Owners: @pratham-project-admin

Issue feat: Refactor logic for course compltetion
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
Owners: @pratham-project-admin

update pr
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
Owners: @pratham-project-admin

update inprogress logic
  mfes/youthNet/src/components/ManagerDashboard/CourseCompletion.tsx
Owners: @pratham-project-admin

issue feat: Add language constants
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: Add uiconfig Program list while creating course in collection editor
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
  mfes/editors/src/components/CollectionEditor.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue feat: SCP assesment workflow while regiter program on plp
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/utils/API/AssesmentService.ts
  apps/learner-web-app/src/utils/API/contentService.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

ssue feat: Add assessement flow
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

assessments summery wrong issue fix
  mfes/players/public/libs/sunbird-quml-player/index.html
Owners: @pratham-project-admin

test state issue solved
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

Issue feat: Updtae pr for to restrict assessment for old batch assigned learners
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/utils/API/CohortService.ts
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

Issue feat: Pass cohort id in bulkAttendanceV2 api
  mfes/scp-teacher-repo/src/services/AttendanceService.ts
Owners: @pratham-project-admin

Issue feat: Add disbsle condition to reset button if 0 percentage attendance is there
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

Issue feat: Fix low attendance learner
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

all player end screen username added
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/pages/index.tsx
Owners: @pratham-project-admin

Issue feat: Update pr for rettempt flow for zatpat test
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/reattempt-check/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

update pr: rettempt test
  apps/learner-web-app/src/app/reattempt-check/page.tsx
Owners: @pratham-project-admin

Issue feat: Add expermiento india required visitor count and REsolve issues
  apps/admin-app-repo/src/components/DeleteUserModal.tsx
  apps/admin-app-repo/src/pages/workspace/index.tsx
  apps/learner-web-app/src/app/api/analytics/pageviews/route.ts
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/hooks/usePageViewCount.ts
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Issue feat: Add dynamic language options for experimento
  apps/learner-web-app/src/components/themantic/content/List.tsx
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

feat: Add Bulk Import QuestionSets feature to workspace MFE
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

feat: Update Helper.ts utilities in learner-web-app
  apps/learner-web-app/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue feat : Resolve sonar cloud commands
  apps/admin-app-repo/src/components/DeleteUserModal.tsx
  apps/admin-app-repo/src/pages/workspace/index.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

firstname and lastname added for user
  apps/admin-app-repo/src/pages/sso/index.tsx
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/app/sso/page.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  apps/learner-web-app/src/components/themantic/content/Player.tsx
  apps/teachers/src/pages/login.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/pages/index.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @admin-app-owners, @pratham-project-admin, @teacher-app-owners

Issue feat: lmp multirole issue
  mfes/youthNet/src/components/Header.tsx
  mfes/youthNet/src/pages/sso/index.tsx
  mfes/youthNet/src/services/AcademicYearService.ts
Owners: @pratham-project-admin

update pr: sonar cloud issue
  mfes/youthNet/src/components/Header.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue feat: Scp assesment atatemp learner details on lmp with answersheet view
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/utils/API/Interceptor.ts
  mfes/scp-teacher-repo/src/components/UserRegistration/UserCard.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/attempt/[assessmentTrackingId]/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

Issue feat: Remove channel: 'scp-channel' from content search api for dynamic language
  apps/learner-web-app/src/components/themantic/subHeader/SubHeader.tsx
Owners: @pratham-project-admin

remove conflict changes
  apps/learner-web-app/src/utils/Helper.ts
Owners: @pratham-project-admin

Add function to capitalize words in a string
  apps/learner-web-app/src/utils/Helper.ts
Owners: @pratham-project-admin

service worker added template
  apps/learner-web-app/public/sw.js
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/components/ServiceWorkerRegister/ServiceWorkerRegister.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/utils/customIdbStore.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin, @core-team

Issue feat: Fix sonar cloud issues
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/attempt/[assessmentTrackingId]/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

Issue feat: Fix scp multi login issue on lmp
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue feat:Restrict reassign learner whose attendance has marked for today
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
Owners: @pratham-project-admin

Experimento India - New Arrival slider - arrow not working with languages other than English
  mfes/content/src/components/Card/ContentCardCarousel.tsx
Owners: @pratham-project-admin

Issue feat: Fix loader issue on scp dashboard
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

service worker update
  apps/learner-web-app/public/sw.js
  apps/learner-web-app/src/components/ServiceWorkerRegister/ServiceWorkerRegister.tsx
  mfes/players/src/services/TelemetryService.ts
Owners: @pratham-project-admin

Issue feat: Add multi login on dev
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Fix build issue
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
