Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue task PS-4081 :reAssign in facilitator
  mfes/scp-teacher-repo/src/pages/assessments/index.tsx
Owners: @pratham-project-admin

Issue task PS-4081 :constant added in facilitator app and UI fixes
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/CohortBatchSelector.tsx
Owners: @pratham-project-admin

learner email notification sent issue fix
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/pages/learners.tsx
  mfes/scp-teacher-repo/src/components/DynamicForm/DynamicFormCallback.ts
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/shared/LearnerManage/LearnerManage.tsx
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4081 :role added for batch
  apps/admin-app-repo/src/components/ActiveArchivedLearner.tsx
  apps/admin-app-repo/src/pages/batch.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4081 :costant added in admin app
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue #PS-000 chore: Fixed batch update issue
  mfes/scp-teacher-repo/src/components/CohortFacilitatorList.tsx
  mfes/scp-teacher-repo/src/components/LearnerModal.tsx
  mfes/scp-teacher-repo/src/components/center/RenameCenterModal.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/services/MasterDataService.ts
Owners: @pratham-project-admin

Fix Center dropdown value | Fix Showing Batch Name in Facilator list
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Resolved Add new facilitator button display issue
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Issue task PS-4081 :profile view fixes
  apps/admin-app-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/hooks/useFormRead.ts
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

Issue task PS-4081 :constant added in admin app (#465)
  apps/admin-app-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/hooks/useFormRead.ts
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Helper.ts
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @admin-app-owners, @pratham-project-admin

center issue solve
  apps/admin-app-repo/src/components/Centerlabel.tsx
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Fix Center dropdown value | Fix Showing Batch Name in Facilator list
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
Owners: @pratham-project-admin

Fix Center dropdown value | Fix Showing Batch Name in Facilator list
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Hidden edit learner and assessment on learner profile
  apps/teachers/src/pages/login.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/hooks/useFormRead.ts
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/login.tsx
Owners: @teacher-app-owners, @pratham-project-admin

Issue task PS-4081:- mini profile fixes
  mfes/scp-teacher-repo/src/components/LearnerModal.tsx
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Fix Getting Batch BMGS by default
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
Owners: @pratham-project-admin

Issue task PS-4081:- UI changes on dashboard
  apps/teachers/src/styles/globals.css
  mfes/authentication/src/styles/globals.css
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/styles/globals.css
  mfes/youthNet/src/styles/globals.css
Owners: @teacher-app-owners, @pratham-project-admin

Issue task PS-4081:- UI changes on dashboard
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Issue task PS-4081:- UI changes on dashboard
  apps/admin-app-repo/public/locales/en/common.json
Owners: @admin-app-owners

Issue task PS-4081:- UI changes on dashboard
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Resolved Batch list issue for FL login in teacher app
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed something went wrong issue
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Updated PR
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

learner email fix
  apps/admin-app-repo/src/components/DynamicForm/DynamicFormCallback.ts
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
Owners: @admin-app-owners

Fix Batch Names
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Issue task PS-4081:- UI changes on dashboard
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Fix Course Planner
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
Owners: @pratham-project-admin

Issue task PS-4081 :constant added in facilitator app and UI fixes
  mfes/scp-teacher-repo/src/components/CohortSelectionSection.tsx
  mfes/scp-teacher-repo/src/components/Profile.tsx
Owners: @pratham-project-admin

Fix Batch Names
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Fix Batch Names
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed batch list display issue
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/services/CohortServices.ts
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue task PS-4081 :constant added in facilitator app and UI fixes
  apps/admin-app-repo/src/components/ProgramCard.tsx
  apps/admin-app-repo/src/components/ProgramList.tsx
Owners: @admin-app-owners

Updated PR
  mfes/scp-teacher-repo/src/components/CenterSelection.tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Hidden board enrollment flow
  mfes/scp-teacher-repo/src/pages/board-enrollment/index.tsx
Owners: @pratham-project-admin

Issue feat: Add notification key according to program for content creator , reviwer, and state lead
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
Owners: @admin-app-owners

facilitator reassign add
  apps/admin-app-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  apps/admin-app-repo/src/pages/facilitator.tsx
  apps/admin-app-repo/src/utils/Helper.ts
Owners: @admin-app-owners

Issue feat: Get template Id from auth api for certificate apies
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

Issue task PS-4081 :profile leaner and facilitator issue fixes
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
  mfes/scp-teacher-repo/src/pages/user-profile/[userId].tsx
Owners: @pratham-project-admin

Issue #PS-000 chore: Fixed archieved batches name display issue
  mfes/scp-teacher-repo/src/utils/Helper.ts
Owners: @pratham-project-admin

Issue task PS-4081 :profile leaner and facilitator issue fixes
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/components/Profile.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
