Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat: Fix ptm dashboard issues
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue feat: scp language assesmennt changes
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin, @core-team

update pr
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: Fix edit form issue
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: update lmp login env variables
  apps/learner-web-app/src/components/UserProfileCard/CongratulationsModal.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Issue feat: Fix ptm dashboard issues
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  mfes/youthNet/src/components/PtmComponents/DynamicFilterBar.tsx
  mfes/youthNet/src/components/PtmComponents/PTMDashboard.tsx
Owners: @pratham-project-admin

changes in service worker
  apps/learner-web-app/public/sw.js
Owners: @pratham-project-admin

Issue feat: Fix academioc year id issue
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

ignore change
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

content card sync added
  apps/learner-web-app/public/sw.js
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/utils/trackingContentQueueLookup.ts
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

build issue solved
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/players/src/services/TelemetryService.ts
  mfes/players/src/utils/customIdbStore.ts
Owners: @pratham-project-admin

ignore changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Issue feat: Resolve scp timetable and dropout learner issues
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
  mfes/scp-teacher-repo/src/services/MyClassDetailsService.ts
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/utils/Interfaces.ts
Owners: @pratham-project-admin

Issue feat: Hide Register as ptm and go to ptm portal button
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Issue feat: Fix assessment program accesss issue and restrict self learner register student edit fromlmp
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @pratham-project-admin

Issue feat: Add learn in replace of during while edit curriculam plannr and remove attendance auto mark note
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/src/components/MarkCenterAttendanceSessionsModal.tsx
Owners: @core-team, @pratham-project-admin

Issue feat: Fix role name issue for sso login
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

Issue feat: Add role changes for youthnet sso login
  mfes/youthNet/src/pages/sso/index.tsx
Owners: @pratham-project-admin

show ptm registration button on plp
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Assessment contentLanguage fix
  mfes/workspace/src/pages/ai-assessment-creator.tsx
Owners: @pratham-project-admin

Issue feat: Update scp assessment flow upon enrollment
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/reattempt-check/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
Owners: @pratham-project-admin

Issue feat: Hide ptm registeration button from plp
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

helper space
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

fix: replace invalid contentLanguage with language array in hierarchy update
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

language fix
  mfes/workspace/src/services/BulkImportService.ts
Owners: @pratham-project-admin

git ignore update
  .gitignore
Owners: @pratham-project-admin

route changes
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
Owners: @pratham-project-admin

Issue feat: Fix scp asasessment issues
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/reattempt-check/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
Owners: @pratham-project-admin

change route
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
Owners: @pratham-project-admin

fix: remove duplicate basePath segment in editor URL
  mfes/workspace/src/pages/workspace/content/bulk-import/index.tsx
Owners: @pratham-project-admin

chore: restore helper.ts to match main (no changes intended)
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert change
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

comment bulk import
  mfes/workspace/src/pages/workspace/content/create/index.tsx
Owners: @pratham-project-admin

Issue feat: Add ASSESSMENT_SCORES missing constant
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

Issue feat: Replace zatapat test payload with eligibility test and replace modal confirmation title texts
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue feat: Replace zatpat with eligibility in lmp
  mfes/scp-teacher-repo/src/pages/assessments/user/[userId]/attempt/[assessmentTrackingId]/[assessmentId]/index.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
Owners: @pratham-project-admin

Issue feat:Remove unwanted comma from jon file
  mfes/scp-teacher-repo/public/locales/en/common.json
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
