Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

feat: Implement Placement and Retention functionality
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/components/placementRetention/PlacementHistoryModal.tsx
  mfes/youthNet/src/components/placements/DeletePlacementModal.tsx
  mfes/youthNet/src/components/placements/PlacementLearnerTable.tsx
  mfes/youthNet/src/components/placements/PlacementModal.tsx
  mfes/youthNet/src/components/retention/RetentionLearnerTable.tsx
  mfes/youthNet/src/components/retention/RetentionModal.tsx
  mfes/youthNet/src/services/placementRetention/PlacementRetentionDataService.ts
  mfes/youthNet/src/services/placementRetention/PlacementRetentionRepository.ts
  mfes/youthNet/src/services/placementRetention/formSchemaUtils.ts
  mfes/youthNet/src/services/placementRetention/placementRetention.config.ts
  mfes/youthNet/src/services/placements/PlacementFormService.ts
  mfes/youthNet/src/services/placements/placements.config.ts
  mfes/youthNet/src/services/retention/RetentionFormService.ts
  mfes/youthNet/src/services/retention/RetentionMilestones.ts
  mfes/youthNet/src/services/retention/retention.config.ts
Owners: @pratham-project-admin

Update BatchCreateSchema to allow special characters in input pattern
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
Owners: @admin-app-owners

update validation pattern to allow special characters in BatchCreate and PathwaysBatchCreate schemas
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/PathwaysBatchCreate.js
Owners: @admin-app-owners

Fix pattern syntax in BatchCreateSchema for consistency
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
Owners: @admin-app-owners

feat: Update batch name patterns and localization for multiple languages
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/L2BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/PathwaysBatchCreate.js
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/gu/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/kan/common.json
  mfes/youthNet/public/locales/ml/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/tam/common.json
  mfes/youthNet/public/locales/tel/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/constant/Forms/L2BatchCreate.ts
Owners: @admin-app-owners, @core-team, @pratham-project-admin

update validation pattern in BatchCreateSchema to ensure proper input format
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
Owners: @admin-app-owners

fix: Update input pattern for batch creation to ensure valid alphanumeric entries
  apps/admin-app-repo/src/constant/Forms/BatchCreate.js
  apps/admin-app-repo/src/constant/Forms/PathwaysBatchCreate.js
Owners: @admin-app-owners

pos issues solved
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/src/components/CommonCollapse.tsx
Owners: @pratham-project-admin, @core-team

conflict solved
  apps/learner-web-app/src/components/Content/Player.tsx
  mfes/players/public/libs/content-player-v2/index.html
  mfes/players/src/components/players/ContentPlayerV2.tsx
Owners: @pratham-project-admin
