Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

PS-7291 : In Lmp learner registration tab, need to show the center's whose status is active, if the status is reassigned or archived we need to ignore them
  mfes/scp-teacher-repo/src/components/UserRegistration/AssignBatchModal.tsx
Owners: @pratham-project-admin

PS-7296 PLP - complete profile - Middle Name field appear missing
  apps/learner-web-app/src/utils/API/userService.ts
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

Notification email
  mfes/workspace/src/services/sendBulkImportNotification.ts
  mfes/workspace/src/utils/bulkImportReport.ts
Owners: @pratham-project-admin

hide bulk import
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

dashboard issue solved
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/public/locales/hi/common.json
  mfes/youthNet/public/locales/ml/common.json
  mfes/youthNet/public/locales/mr/common.json
  mfes/youthNet/public/locales/or/common.json
  mfes/youthNet/public/locales/ur/common.json
  mfes/youthNet/src/components/ManagerDashboard/IndividualProgress.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/DashboardOverview.tsx
  mfes/youthNet/src/components/ManagerDashboard/Overview/StatusOverviewSection.tsx
  mfes/youthNet/src/hooks/useManagerDashboardData.ts
  mfes/youthNet/src/hooks/useManagerDashboardUIState.ts
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/utils/Interface.ts
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/managerDashboardHelpers.ts
  test_dashboard.txt
Owners: @pratham-project-admin

dashboard issue solved
  test_dashboard.txt
Owners: @pratham-project-admin

Add enrollment ID field to UserProfileCard and localize in multiple languages
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

Display "N/A" for missing enrollment ID in UserProfileCard
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

PS-7220 : Day-wise Attendance Visibility Issues (LMP and My Learning App)
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/scp-teacher-repo/src/components/MonthCalender.tsx
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
Owners: @core-team, @pratham-project-admin

Refactor PlannedSession and helper functions to improve category association logic and ensure retired terms are excluded consistently
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/utils/helper.ts
Owners: @pratham-project-admin

Revert "Fix : Planned Session Subject Drop down Fix"
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7302 : Camp to Club Registration Add new options to What Program are you part of dropdown
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

PS-7220 : Day-wise Attendance Visibility Issues (LMP and My Learning App)
  apps/admin-app-repo/src/pages/learners.tsx
  mfes/scp-teacher-repo/src/components/MonthCalender.tsx
  mfes/scp-teacher-repo/src/pages/attendance-history.tsx
Owners: @admin-app-owners, @pratham-project-admin

PS-7326 : PLP = VT - Skilling Centers - Google Map links are not working
  apps/learner-web-app/src/components/SkillCenter/SkillCenter.tsx
Owners: @pratham-project-admin

Resolve framework segment in URL construction for board data fetching
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
Owners: @pratham-project-admin

Refactor code structure for improved readability and maintainability
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
Owners: @admin-app-owners

Enhance dropdown category sorting logic to respect display order for improved user experience
  apps/admin-app-repo/src/pages/subjectDetails.tsx
Owners: @admin-app-owners

Fix framework resolution in externalsource URL construction for accurate data fetching
  mfes/scp-teacher-repo/src/pages/board-enrollment/student-detail/[userId].tsx
Owners: @pratham-project-admin

PS-7330 : SCP Navapatham Workflow Fixes
  apps/learner-web-app/src/app/logout/page.tsx
  apps/learner-web-app/src/app/navapatham-old/page.tsx
  apps/learner-web-app/src/app/navapatham/page.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrolModal/EnrolModal.tsx
  apps/learner-web-app/src/utils/helper.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

PS-7330 : SCP Navapatham Workflow Fixes
  apps/learner-web-app/src/app/navapatham/page.tsx
Owners: @pratham-project-admin

PS-7330 : SCP Navapatham Workflow Fixes
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

PS-7330 : SCP Navapatham Workflow Fixes
  apps/learner-web-app/src/components/Header/Header.jsx
Owners: @pratham-project-admin

Add DURING_COURSE requisite type and integrate into TopicDetails component
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/TopicDetails.tsx
Owners: @pratham-project-admin

Remove form data if form is not filled completely and abandoned attempt
  apps/learner-web-app/src/app/[programName]/page.tsx
  apps/learner-web-app/src/app/landing/page.tsx
  apps/learner-web-app/src/app/navapatham/page.tsx
Owners: @pratham-project-admin

Refactor routing logic to use router.push instead of window.location.href for better SPA navigation
  apps/admin-app-repo/src/hooks/useAccountSwitch.ts
  apps/admin-app-repo/src/pages/index.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
Owners: @admin-app-owners

feat: add hooks and utilities for language synchronization with localStorage
  apps/admin-app-repo/src/middleware.ts
  apps/admin-app-repo/src/pages/_app.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/teachers/src/middleware.ts
  apps/teachers/src/pages/_app.tsx
  libs/shared-lib-v2/src/hooks/useLanguageFromStorage.ts
  libs/shared-lib-v2/src/utils/languageSync.ts
  mfes/authentication/src/pages/_app.tsx
  mfes/authentication/src/pages/login.tsx
  mfes/scp-teacher-repo/src/pages/_app.tsx
  mfes/youthNet/src/pages/_app.tsx
Owners: @admin-app-owners, @teacher-app-owners, @core-team, @pratham-project-admin

feat: enhance language synchronization by re-applying stored language on page show event
  libs/shared-lib-v2/src/hooks/useLanguageFromStorage.ts
Owners: @core-team

Added support to subunit
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportValidator.ts
  mfes/workspace/src/utils/frameworkConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

assements issue solved, h5p player solved
  mfes/players/public/libs/content-player-v2/h5p-iframe.html
  mfes/players/public/libs/sunbird-quml-player/index.html
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
Owners: @pratham-project-admin

Course-level Certificate Template
  apps/admin-app-repo/src/components/LearnerCourses/CourseTable.tsx
  apps/admin-app-repo/src/services/CertificateService/coursesCertificates.ts
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/components/CourseCertificateCard/CourseCertificateCard.tsx
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/utils/CertificateService/coursesCertificates.ts
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @admin-app-owners, @pratham-project-admin, @core-team

Display Learner User ID Instead of Phone Number in Learner Details [Youthnet]
  apps/admin-app-repo/src/pages/youth.tsx
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/src/pages/learner/[userId].tsx
Owners: @admin-app-owners, @pratham-project-admin

bulk import show
  mfes/workspace/src/components/SideBar.tsx
Owners: @pratham-project-admin

Implement board-stream synchronization and enhance dynamic form handling for improved user experience
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/pages/api/dynamic-form/get-framework.js
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/MapUser/EditSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/EmailSearchUser.tsx
  libs/shared-lib-v2/src/MapUser/boardStreamSync.ts
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @admin-app-owners, @core-team, @pratham-project-admin

feat: update language synchronization to skip loading stored language on login page
  apps/admin-app-repo/src/pages/_app.tsx
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/hooks/useLanguageFromStorage.ts
Owners: @admin-app-owners, @core-team

feat: simplify language synchronization by removing skip option and restoring language selector on login page
  apps/admin-app-repo/src/pages/_app.tsx
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/hooks/useLanguageFromStorage.ts
Owners: @admin-app-owners, @core-team

Add course type handling in SubjectDetails component
  apps/admin-app-repo/src/pages/subjectDetails.tsx
Owners: @admin-app-owners

Update course type handling in PlannedSession to reflect API options regardless of selected board/medium/grade
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
Owners: @pratham-project-admin

PS-7221 : Add Missing TL Dropout Reasons in LAP App
  apps/admin-app-repo/src/components/DeleteDetails.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
Owners: @admin-app-owners

PS-7307 : Issue : Sessions Not Showing on the Dashboard
  mfes/scp-teacher-repo/public/locales/en/common.json
  mfes/scp-teacher-repo/public/locales/gu/common.json
  mfes/scp-teacher-repo/public/locales/hi/common.json
  mfes/scp-teacher-repo/public/locales/kan/common.json
  mfes/scp-teacher-repo/public/locales/ml/common.json
  mfes/scp-teacher-repo/public/locales/mr/common.json
  mfes/scp-teacher-repo/public/locales/odi/common.json
  mfes/scp-teacher-repo/public/locales/or/common.json
  mfes/scp-teacher-repo/public/locales/tam/common.json
  mfes/scp-teacher-repo/public/locales/tel/common.json
  mfes/scp-teacher-repo/public/locales/ur/common.json
  mfes/scp-teacher-repo/src/hooks/useEventDates.js
  mfes/scp-teacher-repo/src/pages/dashboard.tsx
Owners: @pratham-project-admin

feat: restore language selector on login and dashboard pages with conditional rendering
  apps/admin-app-repo/src/components/layouts/header/Header.tsx
  apps/admin-app-repo/src/pages/_app.tsx
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/hooks/useLanguageFromStorage.ts
Owners: @admin-app-owners, @core-team
