Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Restrict content creator delete action for live state content
  mfes/workspace/src/components/ActionIcon.tsx
Owners: @pratham-project-admin

Add recommendation feature with UI components and API integration
  apps/learner-web-app/src/app/themantic/theme/ThematicMuiThemeProvider.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/Content/RecommendedContent.tsx
  apps/learner-web-app/src/components/Content/RecommendedContentCard.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/recommendationService.ts
  apps/learner-web-app/src/utils/Interface.ts
  apps/learner-web-app/src/utils/recommendationExclusion.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

feat: add ReadOnlyValue component and tests for survey response rendering
  mfes/survey-forms/jest.config.ts
  mfes/survey-forms/jest.setup.ts
  mfes/survey-forms/src/Components/PaginationBar/PaginationBar.tsx
  mfes/survey-forms/src/Components/ResponseAnswer/ReadOnlyValue.spec.tsx
  mfes/survey-forms/src/Components/ResponseAnswer/ReadOnlyValue.tsx
  mfes/survey-forms/src/Components/teacher/SurveyStatusSummary.spec.tsx
  mfes/survey-forms/src/Components/teacher/SurveyStatusSummary.tsx
  mfes/survey-forms/src/Components/teacher/TeacherContextTable.spec.tsx
  mfes/survey-forms/src/Components/teacher/TeacherContextTable.tsx
  mfes/survey-forms/src/Components/teacher/TeacherFilterBar.spec.tsx
  mfes/survey-forms/src/Components/teacher/TeacherFilterBar.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/FillRouteGuard.spec.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/FillRouteGuard.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyRenderer.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyResponseViewer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/EntriesListPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/EntriesListPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/[responseId]/EntryDetailPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/[responseId]/EntryDetailPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/[responseId]/page.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/page.tsx
  mfes/survey-forms/src/utils/API/EndUrls.ts
  mfes/survey-forms/src/utils/API/surveyService.spec.ts
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

PS-7250 : Display Learner User ID Instead of Phone Number in Learner Details
  apps/admin-app-repo/src/pages/learners.tsx
Owners: @admin-app-owners

Refactor Player component to conditionally display recommended content for POS pages and update API endpoint for recommendations
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
Owners: @pratham-project-admin

Bulk Import = Changing page during import process loosing the stats
  mfes/workspace/src/components/bulk-import/BulkImportStepper.tsx
  mfes/workspace/src/components/bulk-import/ImportRunningBanner.tsx
  mfes/workspace/src/pages/_app.tsx
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/bulkImportSession.ts
Owners: @pratham-project-admin

Bulk Import = Changing page during import process loosing the stats
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert changes of helper
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

manager dashboard top performer
  mfes/youthNet/public/locales/en/common.json
  mfes/youthNet/src/components/ManagerDashboard/TopPerformersSection.tsx
  mfes/youthNet/src/hooks/useTopPerformers.ts
  mfes/youthNet/src/pages/manager-dashboard/index.tsx
  mfes/youthNet/src/services/TrackingService.ts
  mfes/youthNet/src/utils/API/APIEndpoints.ts
  mfes/youthNet/src/utils/Interface.ts
  mfes/youthNet/src/utils/managerDashboardHelpers.ts
  mfes/youthNet/tsconfig.tsbuildinfo
Owners: @pratham-project-admin

Enhance RecommendedContent and RecommendedContentCard components with additional props and improved layout; update isPosContent logic in Player component for better handling of POS content.
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/Content/RecommendedContent.tsx
  apps/learner-web-app/src/components/Content/RecommendedContentCard.tsx
Owners: @pratham-project-admin

Refactor course unit details configuration in Player component for improved readability and maintainability
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Refactor visibility logic for related resources and recommended content in Player component
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Add "More Recommended Content" label to PLAYER section in localization file
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

helper change
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert change
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

PS-7280 : Camp to Club - Redirection issue after clicking back button (Browser / Back (in app))
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin

Refactor Player component to conditionally display recommendations based on environment variable and improve content panel visibility logic
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Refactor recommendation display logic to incorporate localStorage override for enhanced control over visibility
  apps/learner-web-app/src/components/Content/Player.tsx
Owners: @pratham-project-admin

Verified mobile number no longer passed in the registration URL
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/registration/RegisterationFlow.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/EnrolModal/EnrolModal.tsx
  apps/learner-web-app/src/utils/verifiedMobile.ts
Owners: @pratham-project-admin

PS-7272 : LMP = Learner list - on search activity automatically cursor out from the search box
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
Owners: @pratham-project-admin

Add isSecondChanceTenant utility to account switch logic in useAccountSwitch and login components
  apps/admin-app-repo/src/hooks/useAccountSwitch.ts
  apps/admin-app-repo/src/pages/login.tsx
Owners: @admin-app-owners

feat: update teacher survey dashboard to filter by monthly submission history and persist state via URL parameters
  mfes/survey-forms/src/Components/teacher/TeacherContextTable.tsx
  mfes/survey-forms/src/Components/teacher/TeacherFilterBar.tsx
  mfes/survey-forms/src/app/survey-fill/[surveyId]/[contextId]/SurveyResponseViewer.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/EntriesListPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/[responseId]/EntryDetailPage.tsx
  mfes/survey-forms/src/utils/API/surveyService.spec.ts
  mfes/survey-forms/src/utils/API/surveyService.ts
  mfes/survey-forms/src/utils/Helper/helper.spec.ts
  mfes/survey-forms/src/utils/Helper/helper.ts
Owners: @pratham-project-admin

CMS - Disable content review/publish/reject email notifications
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/GenericEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
  mfes/editors/src/services/sendContentNotification.ts
  mfes/workspace/src/services/sendContentNotification.ts
Owners: @pratham-project-admin

Enhance sorting logic for dropdown options to prioritize numeric values in labels
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/AutoCompleteMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/utils/helper.ts
Owners: @core-team

Refactor number extraction in extractNumber function for improved clarity
  libs/shared-lib-v2/src/DynamicForm/utils/helper.ts
Owners: @core-team

fix: restrict hub month filter to batch-scoped responses and enable browser back navigation in entries list
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/TeacherContextHubPage.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/EntriesListPage.spec.tsx
  mfes/survey-forms/src/app/teacher-survey-fill/[surveyId]/hub/[learnerId]/entries/EntriesListPage.tsx
  mfes/survey-forms/src/types/survey.ts
Owners: @pratham-project-admin

Notification on Bulk import
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/services/notificationService.ts
  mfes/workspace/src/services/sendBulkImportNotification.ts
  mfes/workspace/src/utils/bulkImportSession.ts
Owners: @pratham-project-admin

Refactor BatchFlow component to streamline program checks and conditionally render stream field
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
Owners: @admin-app-owners

Refactor SubjectDetails component to utilize frameworkTaxonomy utilities for improved category handling and selection management
  apps/admin-app-repo/src/pages/subjectDetails.tsx
  apps/admin-app-repo/src/utils/frameworkTaxonomy.ts
  apps/admin-app-repo/src/utils/helper.ts
Owners: @admin-app-owners

Add "stream" field to localization files for multiple languages
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/admin-app-repo/src/pages/centers.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @admin-app-owners, @core-team

Add stream field to BatchFlow and PathwaysBatchCreate schema for enhanced cohort management
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  apps/admin-app-repo/src/constant/Forms/PathwaysBatchCreate.js
  apps/admin-app-repo/src/pages/centers.tsx
Owners: @admin-app-owners

Fix sorting of subject terms and ensure proper intersection calculation in taxonomy functions
  apps/admin-app-repo/src/pages/subjectDetails.tsx
  apps/admin-app-repo/src/utils/frameworkTaxonomy.ts
Owners: @admin-app-owners

Refactor handleCategoryChange to improve stale selection invalidation logic and enhance code readability
  apps/admin-app-repo/src/pages/subjectDetails.tsx
Owners: @admin-app-owners

PS-7288 : APK = Keep the edit profile fields same as compare to Web PLP
  apps/learner-web-app/src/app/ClientLayout.tsx
  apps/learner-web-app/src/app/profile-complition/page.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
Owners: @pratham-project-admin

Refactor BatchFlow, CentersPage, and CoursePlanner components to enhance stream handling and improve association logic for dynamic subject derivation
  apps/admin-app-repo/src/components/BatchFlow/BatchFlow.tsx
  mfes/scp-teacher-repo/src/components/PlannedSession.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/pages/curriculum-planner/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

Exclude retired terms from category options filter
  apps/admin-app-repo/src/utils/helper.ts
Owners: @admin-app-owners

Refactor imports in helper.ts to streamline dependencies and improve code organization
  apps/admin-app-repo/src/utils/helper.ts
Owners: @admin-app-owners

Refactor isActive function to check for retired status and update intersection calculation in getValidTermsForCategory
  apps/admin-app-repo/src/utils/frameworkTaxonomy.ts
Owners: @admin-app-owners

Failure report
  mfes/workspace/src/pages/api/bulk-import/upload-report.ts
  mfes/workspace/src/services/sendBulkImportNotification.ts
  mfes/workspace/src/utils/bulkImportReport.ts
Owners: @pratham-project-admin

Fix conditional rendering for user program check in MyComponent
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
