Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team

Add support for Second Chance Program Pathways across various components
  apps/admin-app-repo/src/components/RouteGuard.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
  apps/learner-web-app/src/components/AssessmentRequiredModal/AssessmentRequiredModal.tsx
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/utils/app.constant.ts
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/workspace/src/pages/api/tenantConfig.ts
Owners: @admin-app-owners, @pratham-project-admin, @core-team

fix: update status normalization map to include alternative status strings
  mfes/youthNet/src/utils/app.config.ts
Owners: @pratham-project-admin

script changes
  translation/csvToJson.js
  translation/jsonToCsv.js
Owners: @pratham-project-admin

PS-6937 : Experimento - mobile screen - the content screen appear in small size
  apps/learner-web-app/src/components/themantic/content/Player.tsx
Owners: @pratham-project-admin

feat: enhance course filtering by adding contentLanguage and improving language display
  mfes/youthNet/src/components/ManagerDashboard/CoursesList/CoursesFilterBar.tsx
  mfes/youthNet/src/components/ManagerDashboard/HighQuizAttemptSection.tsx
  mfes/youthNet/src/services/PlayerService.ts
  mfes/youthNet/src/utils/Interface.ts
  mfes/youthNet/src/utils/app.config.ts
  mfes/youthNet/src/utils/managerDashboardHelpers.ts
Owners: @pratham-project-admin

Enable language selection popup and language selection dropdown on course dashboard
  apps/learner-web-app/src/components/LanguageSelectionPopup/languageOptions.ts
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
Owners: @pratham-project-admin, @core-team

Add a constant and translation object for Explore and register button
  apps/learner-web-app/src/components/ProgramCard/ProgramCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Clicking “Explore & Register” navigates to the Second Chance Program page — languagesilently resets to English (top-right)
  apps/learner-web-app/src/components/LanguageSelectionPopup/LanguageSelectionPopup.tsx
Owners: @pratham-project-admin

Telagu Home page Branding text change
  libs/shared-lib-v2/src/lib/context/locales/tel.json
Owners: @core-team

Add translations constant for Phone varificate and OTP varification screen
  apps/learner-web-app/src/components/EnrolModal/EnrolModal.tsx
  apps/learner-web-app/src/components/MobileVerificationSuccess/MobileVerificationSuccess.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

On course dashboard filter translation changes
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
  apps/learner-web-app/src/components/staticFilterFields/StaticFilterFields.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Add translations constant for Phone varificate and OTP varification screen
  apps/learner-web-app/src/components/EnrolModal/EnrolModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

pdf player changes done
  mfes/players/public/libs/content-player-v2/content-player.es.js
  mfes/players/public/libs/content-player-v2/content-player.es.js.map
  mfes/players/public/libs/content-player-v2/content-player.iife.js
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs
  mfes/players/public/libs/content-player-v2/content-player.umd.cjs.map
Owners: @pratham-project-admin

fix-constant
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

fix-constant
  apps/learner-web-app/src/components/ProgramSwitchModal/ProgramSwitchModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

remove link for copy registration link
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
Owners: @pratham-project-admin

Refactor tenant handling logic to use isSecondChanceTenant utility
  apps/admin-app-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  apps/admin-app-repo/src/components/layouts/sidebar/MenuItems.js
  apps/admin-app-repo/src/pages/api/tenantConfig.ts
  apps/admin-app-repo/src/pages/centers.tsx
  apps/admin-app-repo/src/pages/content-creator.tsx
  apps/admin-app-repo/src/pages/content-reviewer.tsx
  apps/admin-app-repo/src/pages/edit-password.tsx
  apps/admin-app-repo/src/pages/index.tsx
  apps/admin-app-repo/src/pages/login.tsx
  apps/admin-app-repo/src/pages/sso/index.tsx
  apps/admin-app-repo/src/pages/state-lead.tsx
  apps/admin-app-repo/src/pages/user-content-creator.tsx
  apps/admin-app-repo/src/pages/user-content-reviewer.tsx
  apps/admin-app-repo/src/pages/user-state-lead.tsx
  apps/admin-app-repo/src/utils/app.constant.ts
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/SideBar.tsx
  mfes/workspace/src/pages/api/tenantConfig.ts
  mfes/workspace/src/pages/workspace/content/create/index.tsx
  mfes/workspace/src/services/BulkImportService.ts
  mfes/workspace/src/utils/app.constant.ts
Owners: @admin-app-owners, @pratham-project-admin

change the color of grey circle
  mfes/scp-teacher-repo/src/components/WeekCalender.tsx
Owners: @pratham-project-admin

PS-7032 : Update Language Translations Learner web App
  apps/learner-web-app/src/app/[programName]/page.tsx
  apps/learner-web-app/src/components/ProgramCard/ProgramCard.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
  translation/csvToJson.js
Owners: @pratham-project-admin, @core-team

thumbnail support added for course and question set editor
  mfes/editors/src/components/CollectionEditor.tsx
  mfes/editors/src/components/QuestionSetEditor.tsx
Owners: @pratham-project-admin

Add support for Second Chance Program Pathways across various components
  apps/teachers/src/pages/login.tsx
  apps/teachers/src/utils/app.config.ts
  mfes/scp-teacher-repo/app.config.ts
  mfes/scp-teacher-repo/src/components/EntityForms/AddEditUser/AddEditUser.tsx
  mfes/scp-teacher-repo/src/components/Header.tsx
  mfes/scp-teacher-repo/src/components/MenuDrawer.tsx
  mfes/scp-teacher-repo/src/components/withRole.tsx
  mfes/scp-teacher-repo/src/pages/_app.tsx
  mfes/scp-teacher-repo/src/pages/user-registration-list.tsx
  mfes/scp-teacher-repo/src/services/AssesmentService.ts
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @teacher-app-owners, @pratham-project-admin

Refactor RouteGuard and menu configuration for Second Chance Program; update role-based routes and filter framework logic
  apps/admin-app-repo/src/components/RouteGuard.tsx
  apps/admin-app-repo/src/config/menuConfig.ts
  apps/admin-app-repo/src/config/routesConfig.ts
  apps/learner-web-app/src/components/FilterFramework/FilterFramework.tsx
Owners: @admin-app-owners, @pratham-project-admin

PS-7217 : APK = Web view open on SCP dashboard
  apps/learner-web-app/src/app/enroll-profile-completion/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/components/AttemptAssessmentButton/AttemptAssessmentButton.tsx
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

Issue : Batch Displays Only 200 of 227 Enrolled Learners
  mfes/scp-teacher-repo/src/components/CohortLearnerList.tsx
Owners: @pratham-project-admin

PS-6862:Youth Net certificate pop-up - Certificate getting hide
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

PS-6862:Youth Net certificate pop-up - Certificate getting hide
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
Owners: @core-team

PS-7234 : AKP = wrong message popup appear if no saral test is available
  apps/learner-web-app/src/components/EnrollProgramCarousel/EnrollProgramCarousel.tsx
Owners: @pratham-project-admin

Add Second Chance Program Pathways registration message to multiple languages
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/lib/context/locales/guj.json
  libs/shared-lib-v2/src/lib/context/locales/hi.json
  libs/shared-lib-v2/src/lib/context/locales/kan.json
  libs/shared-lib-v2/src/lib/context/locales/mr.json
  libs/shared-lib-v2/src/lib/context/locales/odi.json
  libs/shared-lib-v2/src/lib/context/locales/tam.json
  libs/shared-lib-v2/src/lib/context/locales/tel.json
  libs/shared-lib-v2/src/lib/context/locales/ur.json
Owners: @pratham-project-admin, @core-team

PS-7043 : Remove Age Column from User Details in LAP
  apps/admin-app-repo/src/pages/learners.tsx
  apps/admin-app-repo/src/pages/user-instructor.tsx
  apps/admin-app-repo/src/pages/user-leader.tsx
Owners: @admin-app-owners

PS-6705 : Improve Visibility of Play Store Download Option on Course Page
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
Owners: @pratham-project-admin

docs added
  PrathamKB/00-platform-overview.md
  PrathamKB/01-repositories.md
  PrathamKB/02-deployments.md
  PrathamKB/03-programs.md
  PrathamKB/04-capabilities.md
  PrathamKB/05-environments.md
Owners: @pratham-project-admin

Example sheet in the template
  apps/admin-app-repo/src/pages/api/bulk-import/generate-vba.js
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/pages/api/bulk-import/vba-base64.txt
  apps/admin-app-repo/src/pages/api/bulk-import/vbaProject.bin
  mfes/workspace/public/Bulk_Import_Template.xlsx
  mfes/workspace/public/templates/Bulk_Import_Template_POS.xlsx
  mfes/workspace/public/templates/Bulk_Import_Template_SCP.xlsx
  mfes/workspace/src/pages/api/bulk-import/template.ts
Owners: @admin-app-owners, @pratham-project-admin

helper
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

revert helper
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

feat: add switch program role functionality and update localization
  apps/admin-app-repo/public/locales/en/common.json
  apps/admin-app-repo/public/locales/gu/common.json
  apps/admin-app-repo/public/locales/hi/common.json
  apps/admin-app-repo/public/locales/kan/common.json
  apps/admin-app-repo/public/locales/mr/common.json
  apps/admin-app-repo/public/locales/odi/common.json
  apps/admin-app-repo/public/locales/or/common.json
  apps/admin-app-repo/public/locales/tam/common.json
  apps/admin-app-repo/public/locales/tel/common.json
  apps/admin-app-repo/public/locales/ur/common.json
  apps/admin-app-repo/src/components/layouts/header/Profile.tsx
  apps/admin-app-repo/src/hooks/useAccountSwitch.ts
  apps/admin-app-repo/src/pages/login.tsx
  libs/shared-lib-v2/src/SwitchAccount/SwitchAccount.tsx
Owners: @admin-app-owners, @core-team

Revert Playstore button improvement change
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
Owners: @pratham-project-admin

PS-7236 : Revoke Learner Deletion Access from Facilitator - SCP
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
Owners: @pratham-project-admin

PS-6705 : Improve Visibility of Play Store Download Option on Course Page
  apps/learner-web-app/src/components/Content/CommonL1ContentList.tsx
Owners: @pratham-project-admin

Unit appIcon and description
  apps/admin-app-repo/src/pages/api/bulk-import/template.ts
  apps/admin-app-repo/src/utils/frameworkConfig.ts
  mfes/workspace/src/pages/api/bulk-import/template.ts
  mfes/workspace/src/types/bulkImport.types.ts
  mfes/workspace/src/utils/bulkImportQueue.ts
  mfes/workspace/src/utils/frameworkConfig.ts
Owners: @admin-app-owners, @pratham-project-admin

Helper changes
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin
