Repository tekdi/pratham2.0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pratham-project-admin, @teacher-app-owners, @admin-app-owners, @auth-team, @youth-team, @workspace-team, @notification-team, @core-team

Issue feat:Observation UI fixes
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

dynamic form added
  Dockerfile.learner-web-app
  apps/learner-web-app/src/components/DynamicForm/components/CenteredLoader/CenteredLoader.tsx
  apps/learner-web-app/src/components/DynamicForm/components/CohortSelections.tsx
  apps/learner-web-app/src/components/DynamicForm/components/DynamicForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/DynamicFormCallback.ts
  apps/learner-web-app/src/components/DynamicForm/components/DynamicFormConstant.ts
  apps/learner-web-app/src/components/DynamicForm/components/FacilitatorForm/CohortBatchSelector.tsx
  apps/learner-web-app/src/components/DynamicForm/components/FacilitatorForm/FacilitatorForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/Loader.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomCheckboxWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomSingleSelectWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/SearchTextFieldWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/StepperForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/Toastify.ts
  apps/learner-web-app/src/components/DynamicForm/services/CohortService/cohortService.ts
  apps/learner-web-app/src/components/DynamicForm/services/CreateUserService.ts
  apps/learner-web-app/src/components/DynamicForm/services/GetCohortList.ts
  apps/learner-web-app/src/components/DynamicForm/services/Interceptor.ts
  apps/learner-web-app/src/components/DynamicForm/services/LoginService.ts
  apps/learner-web-app/src/components/DynamicForm/services/MasterDataService.ts
  apps/learner-web-app/src/components/DynamicForm/services/NotificationService.ts
  apps/learner-web-app/src/components/DynamicForm/services/RestClient.ts
  apps/learner-web-app/src/components/DynamicForm/store/manageUserStore.ts
  apps/learner-web-app/src/components/DynamicForm/utils/API/APIEndpoints.ts
  apps/learner-web-app/src/components/DynamicForm/utils/Helper.ts
  apps/learner-web-app/src/components/DynamicForm/utils/Interfaces.ts
  apps/learner-web-app/src/components/DynamicForm/utils/app.config.ts
  apps/learner-web-app/src/components/DynamicForm/utils/app.constant.ts
  apps/learner-web-app/src/components/DynamicForm/utils/telemetry.ts
  apps/learner-web-app/src/components/DynamicForm/utils/useSharedState.ts
  apps/learner-web-app/src/middleware.ts
  docker-compose.learner-web-app.yml
  ecosystem.learner-web-app.config.js
  tsconfig.learner.json
Owners: @pratham-project-admin

update pr
  mfes/scp-teacher-repo/src/pages/observation/[observationId]/index.tsx
Owners: @pratham-project-admin

Dyanamic filter UI match with figma
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Dyanamic filter UI match with figma
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
Owners: @core-team

Issue feat: Import dynamic form at registration page
  apps/learner-web-app/src/app/api/dynamic-form/get-rjsf-form/route.js
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/DynamicForm/utils/app.constant.ts
Owners: @pratham-project-admin

fix: course tracking
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/explore/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/SearchComponent.tsx
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  mfes/content/next-env.d.ts
  mfes/content/src/app/_app.tsx
  mfes/content/src/app/certificates.tsx
  mfes/content/src/app/content-details/[identifier]/page.tsx
  mfes/content/src/app/content/[courseId]/[unitId]/[identifier]/page.tsx
  mfes/content/src/app/content/[courseId]/[unitId]/page.tsx
  mfes/content/src/app/content/[courseId]/page.tsx
  mfes/content/src/app/content/page.tsx
  mfes/content/src/app/index.tsx
  mfes/content/src/app/layout.tsx
  mfes/content/src/app/player/[identifier]/page.tsx
  mfes/content/src/assets/theme/MuiThemeProvider.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/Card/UnitCard.tsx
  mfes/content/src/components/UnitGrid.tsx
  mfes/content/src/pages/details/[identifier].tsx
  mfes/content/src/services/Hierarchy.ts
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/components/players/Players.tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdQuMLPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/pages/index.tsx
  mfes/players/src/services/TelemetryService.ts
  tsconfig.learner.json
Owners: @pratham-project-admin, @core-team

fix: telemetry sid uid and did
  apps/learner-web-app/src/app/login/page.tsx
  mfes/content/src/app/content/page.tsx
  mfes/content/src/services/Search.ts
  mfes/players/src/components/V1-Player/V1Player.tsx
  mfes/players/src/components/players/SunbirdEpubPlayer.tsx
  mfes/players/src/components/players/SunbirdPdfPlayer.tsx
  mfes/players/src/components/players/SunbirdVideoPlayer.tsx
  mfes/players/src/services/TelemetryService.ts
  mfes/players/src/utils/url.config.ts
  package-lock.json
  package.json
Owners: @pratham-project-admin

fix:v1 player telemetry issue
  mfes/players/public/libs/sunbird-content-player/preview/coreplugins/org.sunbird.iframeEvent-1.0/manifest.json
  mfes/players/public/libs/sunbird-content-player/preview/coreplugins/org.sunbird.iframeEvent-1.0/renderer/plugin.js
Owners: @pratham-project-admin

Issue #PS-4460 task: Generate dynamic URLs with program parameters for routing to registration
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
Owners: @pratham-project-admin

fix: course traking
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/app/content-details/[identifier]/page.tsx
  mfes/content/src/app/content/[courseId]/page.tsx
  mfes/content/src/components/Card/InfoCard.tsx
  mfes/content/src/components/UnitGrid.tsx
Owners: @core-team, @pratham-project-admin

language constant added
  apps/learner-web-app/public/images/default.png
  apps/learner-web-app/public/images/dummy.png
  apps/learner-web-app/src/app/content/LTwoCourse.tsx
  apps/learner-web-app/src/app/content/SearchComponent.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/app/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/components/LTwoContent/LevelUp.tsx
  apps/learner-web-app/src/components/LTwoContent/ResponseRecorded.tsx
  apps/learner-web-app/src/components/OurProgramCarousel.tsx
  apps/learner-web-app/src/components/WelcomeComponent/WelcomeScreen.tsx
Owners: @pratham-project-admin

language constant added
  apps/learner-web-app/public/images/default.png
  libs/shared-lib-v2/src/lib/context/locales/en.json
  mfes/content/src/components/ContentTabs.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin, @core-team

Issue feat: Registration flow
  apps/learner-web-app/public/images/tada.gif
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/CreateAccountForm/CreateAccountForm.tsx
  apps/learner-web-app/src/components/Loader/Loader.tsx
  apps/learner-web-app/src/components/SignupSuccess /SignupSuccess .tsx
  apps/learner-web-app/src/components/SimpleModal/SimpleModal.tsx
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

ECML send for review and player preview fix
  apps/admin-app-repo/public/sunbird-plugins/renderer/org.sunbird.iframeEvent-1.0/manifest.json
  apps/admin-app-repo/public/sunbird-plugins/renderer/org.sunbird.iframeEvent-1.0/renderer/plugin.js
  mfes/players/src/components/players/Players.tsx
  mfes/workspace/src/components/KaTableComponent.tsx
  mfes/workspace/src/components/V1-Player/V1Player.tsx
  mfes/workspace/src/components/players/PlayerConfig.js
  mfes/workspace/src/pages/sunbirdPlayers.tsx
  mfes/workspace/src/pages/workspace/content/review/index.tsx
Owners: @admin-app-owners, @pratham-project-admin

dynamic form compoennt seperate
  libs/shared-lib-v2/src/DynamicForm/components/CenteredLoader/CenteredLoader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/CohortSelections.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormCallback.ts
  libs/shared-lib-v2/src/DynamicForm/components/DynamicFormConstant.ts
  libs/shared-lib-v2/src/DynamicForm/components/FacilitatorForm/CohortBatchSelector.tsx
  libs/shared-lib-v2/src/DynamicForm/components/FacilitatorForm/FacilitatorForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/Loader.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomCheckboxWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomSingleSelectWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/RJSFWidget/SearchTextFieldWidget.tsx
  libs/shared-lib-v2/src/DynamicForm/components/StepperForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/Toastify.ts
  libs/shared-lib-v2/src/DynamicForm/services/CohortService/cohortService.ts
  libs/shared-lib-v2/src/DynamicForm/services/CreateUserService.ts
  libs/shared-lib-v2/src/DynamicForm/services/GetCohortList.ts
  libs/shared-lib-v2/src/DynamicForm/services/Interceptor.ts
  libs/shared-lib-v2/src/DynamicForm/services/LoginService.ts
  libs/shared-lib-v2/src/DynamicForm/services/MasterDataService.ts
  libs/shared-lib-v2/src/DynamicForm/services/NotificationService.ts
  libs/shared-lib-v2/src/DynamicForm/services/RestClient.ts
  libs/shared-lib-v2/src/DynamicForm/store/manageUserStore.ts
  libs/shared-lib-v2/src/DynamicForm/utils/API/APIEndpoints.ts
  libs/shared-lib-v2/src/DynamicForm/utils/Helper.ts
  libs/shared-lib-v2/src/DynamicForm/utils/Interfaces.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.config.ts
  libs/shared-lib-v2/src/DynamicForm/utils/app.constant.ts
  libs/shared-lib-v2/src/DynamicForm/utils/telemetry.ts
  libs/shared-lib-v2/src/DynamicForm/utils/useSharedState.ts
Owners: @core-team

dynamic form compoennt seperate
  apps/learner-web-app/src/app/password-forget/page.tsx
Owners: @pratham-project-admin

dynamic form added
  apps/learner-web-app/next.config.js
  apps/learner-web-app/src/app/registration/page.tsx
  apps/learner-web-app/src/components/DynamicForm/components/CenteredLoader/CenteredLoader.tsx
  apps/learner-web-app/src/components/DynamicForm/components/CohortSelections.tsx
  apps/learner-web-app/src/components/DynamicForm/components/DynamicForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/DynamicFormCallback.ts
  apps/learner-web-app/src/components/DynamicForm/components/DynamicFormConstant.ts
  apps/learner-web-app/src/components/DynamicForm/components/FacilitatorForm/CohortBatchSelector.tsx
  apps/learner-web-app/src/components/DynamicForm/components/FacilitatorForm/FacilitatorForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/Loader.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomCheckboxWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomDateWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomMultiSelectWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomRadioWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomSingleSelectWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/CustomTextFieldWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/RJSFWidget/SearchTextFieldWidget.tsx
  apps/learner-web-app/src/components/DynamicForm/components/StepperForm.tsx
  apps/learner-web-app/src/components/DynamicForm/components/Toastify.ts
  apps/learner-web-app/src/components/DynamicForm/services/CohortService/cohortService.ts
  apps/learner-web-app/src/components/DynamicForm/services/CreateUserService.ts
  apps/learner-web-app/src/components/DynamicForm/services/GetCohortList.ts
  apps/learner-web-app/src/components/DynamicForm/services/Interceptor.ts
  apps/learner-web-app/src/components/DynamicForm/services/LoginService.ts
  apps/learner-web-app/src/components/DynamicForm/services/MasterDataService.ts
  apps/learner-web-app/src/components/DynamicForm/services/NotificationService.ts
  apps/learner-web-app/src/components/DynamicForm/services/RestClient.ts
  apps/learner-web-app/src/components/DynamicForm/store/manageUserStore.ts
  apps/learner-web-app/src/components/DynamicForm/utils/API/APIEndpoints.ts
  apps/learner-web-app/src/components/DynamicForm/utils/Helper.ts
  apps/learner-web-app/src/components/DynamicForm/utils/Interfaces.ts
  apps/learner-web-app/src/components/DynamicForm/utils/app.config.ts
  apps/learner-web-app/src/components/DynamicForm/utils/app.constant.ts
  apps/learner-web-app/src/components/DynamicForm/utils/telemetry.ts
  apps/learner-web-app/src/components/DynamicForm/utils/useSharedState.ts
  tsconfig.learner.json
Owners: @pratham-project-admin

fix: course tracking, build issue, and folder structure changes
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/FilterComponent.tsx
  apps/learner-web-app/src/components/Content/LearnerCourse.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  libs/shared-lib-v2/src/index.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/app/content-details/[identifier]/page.tsx
  mfes/content/src/app/content/[courseId]/[unitId]/[identifier]/page.tsx
  mfes/content/src/app/content/[courseId]/page.tsx
  mfes/content/src/app/content/page.tsx
  mfes/content/src/app/player/[identifier]/page.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/components/Content/Player.tsx
  mfes/content/src/components/FilterDialog.tsx
  mfes/players/src/services/TelemetryService.ts
  tsconfig.learner.json
Owners: @pratham-project-admin, @core-team

grid layout added for dynamic form\
  apps/learner-web-app/src/app/registration/page.tsx
  libs/shared-lib-v2/src/DynamicForm/components/DynamicForm.tsx
  libs/shared-lib-v2/src/DynamicForm/components/FormTemplate/ObjectFieldTemplate.tsx
Owners: @pratham-project-admin, @core-team

Issue #PS-4411 chore: Added FL Reassign flow
  mfes/scp-teacher-repo/src/components/DynamicForm/FacilitatorForm/FacilitatorForm.tsx
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
  mfes/scp-teacher-repo/src/pages/centers/index.tsx
  mfes/scp-teacher-repo/src/shared/FacilitatorManage/FacilitatorManage.tsx
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @pratham-project-admin

build issue solved
  apps/learner-web-app/next.config.js
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/app/registration/page.tsx
Owners: @pratham-project-admin

build issue solved
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  mfes/forget-password/src/app/account-selection/AccountSelection.tsx
  mfes/forget-password/src/app/account-selection/page.tsx
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
  mfes/forget-password/src/app/forget-password/page.tsx
Owners: @pratham-project-admin

Issue feat:Update registration UI
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
Owners: @pratham-project-admin

fix: certificate generation
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/content/src/services/Certificate.ts
  mfes/content/src/services/LoginService.ts
  mfes/players/src/services/TelemetryService.ts
Owners: @core-team, @pratham-project-admin

fix:
  apps/learner-web-app/src/app/content-details/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/[identifier]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/[unitId]/page.tsx
  apps/learner-web-app/src/app/content/[courseId]/page.tsx
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/in-progress/page.tsx
  apps/learner-web-app/src/app/layout.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/player/[identifier]/page.tsx
  apps/learner-web-app/src/components/Content/Content.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/components/LTwoContent/ResponseRecorded.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  apps/learner-web-app/src/utils/API/metabaseService.ts
  libs/shared-lib-v2/src/lib/Card/CommonCard.tsx
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
  libs/shared-lib-v2/src/utils/AuthService.ts
  libs/shared-lib-v2/src/utils/helper.ts
  mfes/content/src/app/content/page.tsx
  mfes/content/src/components/Content/ContentEnroll.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
  mfes/login/src/Components/LoginComponent/LoginComponent.tsx
Owners: @pratham-project-admin, @core-team

fix: build issue
  apps/learner-web-app/src/assets/theme/MuiThemeProvider.tsx
  apps/learner-web-app/src/components/Content/Player.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  libs/shared-lib-v2/src/lib/CertificateModal/CertificateModal.tsx
  libs/shared-lib-v2/src/lib/CourseCompletionBanner/CourseCompletionBanner.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/Header/TopAppBar.tsx
  libs/shared-lib-v2/src/lib/Layout/Layout.tsx
  libs/shared-lib-v2/src/lib/context/LanguageContext.tsx
  mfes/content/src/app/layout.tsx
  mfes/content/src/components/Content/CourseUnitDetails.tsx
Owners: @pratham-project-admin, @core-team

Fixed build issue
  mfes/scp-teacher-repo/src/services/CohortServices.ts
Owners: @pratham-project-admin

Added batch context type
  mfes/scp-teacher-repo/src/utils/app.constant.ts
Owners: @pratham-project-admin

language constant added
  apps/learner-web-app/src/components/DynamicForm/components/DynamicForm.tsx
  apps/learner-web-app/src/components/LTwoContent/ResponseRecorded.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Hidden reassignment option for Instructor
  mfes/scp-teacher-repo/src/components/ManageUser.tsx
Owners: @pratham-project-admin

Hidden Learner reassign option for Instructor
  mfes/scp-teacher-repo/src/components/LearnersListItem.tsx
Owners: @pratham-project-admin

Issue feat: Profile management flow
  apps/learner-web-app/public/images/settings.png
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/login/page.tsx
  apps/learner-web-app/src/app/profile-complition/page.tsx
  apps/learner-web-app/src/app/profile/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/CompleteProfileBanner/CompleteProfileBanner.tsx
  apps/learner-web-app/src/components/EditProfile/EditProfile.tsx
  apps/learner-web-app/src/components/OtpVerificationComponent/OtpVerificationComponent.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/API/EndUrls.ts
  apps/learner-web-app/src/utils/API/userService.ts
  apps/learner-web-app/src/utils/helper.ts
  mfes/forget-password/src/Components/OtpVerificationComponent/OtpVerificationComponent.tsx
  mfes/forget-password/src/app/account-selection/AccountSelection.tsx
  mfes/forget-password/src/app/account-selection/page.tsx
  mfes/forget-password/src/app/forget-password/ForgotPassword.tsx
Owners: @pratham-project-admin

Issue #PS-000 task: UI fixes dynamics filters
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  libs/shared-lib-v2/src/lib/Filter/FilterForm.tsx
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @pratham-project-admin, @core-team

Issue #PS-000 task: UI fixes dynamics filters
  libs/shared-lib-v2/src/lib/context/locales/en.json
Owners: @core-team

Issue feat: chjange username flow from profile page
  apps/learner-web-app/src/app/change-password/page.tsx
  apps/learner-web-app/src/app/registration/RegisterUser.tsx
  apps/learner-web-app/src/components/ResetPasswordForm/ResetPasswordForm.tsx
  apps/learner-web-app/src/components/UserProfileCard/UserProfileCard.tsx
  apps/learner-web-app/src/utils/API/userService.ts
  apps/learner-web-app/src/utils/helper.ts
Owners: @pratham-project-admin

update pr
  apps/learner-web-app/src/app/change-password/page.tsx
Owners: @pratham-project-admin

fix: submit L2 course data to Salesforce API
  apps/learner-web-app/src/app/content/page.tsx
  apps/learner-web-app/src/app/global.css
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/LTwoContent/LevelUp.tsx
  apps/learner-web-app/src/utils/API/LoginService.ts
  apps/learner-web-app/src/utils/API/contentService.ts
  mfes/content/src/components/Content/List.tsx
Owners: @pratham-project-admin

fix: course api call
  apps/learner-web-app/src/components/Content/LTwoCourse.tsx
  apps/learner-web-app/src/components/LTwoContent/LevelUp.tsx
  apps/learner-web-app/src/utils/API/contentService.ts
  mfes/content/src/components/Content/List.tsx
  mfes/content/src/services/Search.ts
Owners: @pratham-project-admin

Issue #PS-000 task: Build issue fix
  apps/learner-web-app/src/app/profile-complition/page.tsx
Owners: @pratham-project-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @pratham-project-admin

# Owners of specific micro frontends
/apps/teachers/ @teacher-app-owners
/apps/admin-app-repo/ @admin-app-owners
/apps/authentication/ @auth-team
/apps/scp-teacher-repo/ @teacher-app-owners
/apps/youthNet/ @youth-team
/apps/workspace/ @workspace-team
/apps/notification/ @notification-team

# Owners of shared libraries
/libs/ @core-team
